@import "../vars.scss";

:host {
    position: relative;
    display: block;

    > div {
        @include layout-horizontal();
        @include layout-center-center();
        height: 100%;
        text-align: center;
    }

    svg {
        width: var(--vi-icon-width, 16px);
        height: var(--vi-icon-height, 16px);
    }

    &[small] ::content svg {
        -ms-transform: translateY(1px);
        -webkit-transform: translateY(1px);
        -moz-transform: translateY(1px);
        -o-transform: translateY(1px);
        transform: translateY(1px);
        width: 12px;
        height: 12px;
    }

    &[extrasmall] ::content svg {
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        width: 10px;
        height: 10px;
    }

    &[source="Selected"] {
        fill: var(--vi-icon-selected-unchecked-color, #bbb);

        &[is-selected ] {
            #backdrop {
                opacity: 1 !important;
            }

            #check {
                display: block;
                fill: white;
            }

            &:not([disabled]) {
                #box, #backdrop {
                    fill: var(--vi-icon-selected-checked-color, --theme-color);
                }
            }

            &[disabled] {
                #box, #backdrop {
                    fill: var(--vi-icon-selected-disabled-color, #666);
                }
            }
        }

        &:not([is-selected]) {
            #check {
                display: none;
            }
        }
    }

    &[source="SelectedRadio"] {
        fill: var(--vi-icon-selected-unchecked-color, #bbb) !important;

        &[is-selected ] {
            #check, #box {
                fill: var(--theme-color);
            }
        }

        &:not([is-selected]) {
            #check {
                display: none;
            }
        }

        &[disabled] {
            fill: var(--vi-icon-selected-disabled-color, #666) !important;
        }
    }
}