@import "../../_vars.scss";

:host {
    @include layout-horizontal();

    vi-select {
        border: none;
    }

    span, vi-select {
        color: var(--vi-persistent-object-attribute-foreground, var(--theme-foreground));

        --vi-select-input: {
            color: var(--vi-persistent-object-attribute-foreground, var(--theme-foreground));
        };
    }

    span[sensitive] {
        --at-apply: --vi-app--sensitive;
    }

    #radiobuttons {
        line-height: var(--theme-h2);

        &[orientation="horizontal"] {
            @include layout-horizontal();
            @include layout-wrap();
        }
    }
}