@import "../vars.scss";

$tabsBG: #f1f1f1;

:host {
    @include layout-vertical();
    --vi-persistent-object-tab--padding: var(--theme-h3) var(--theme-h2);
    --vi-persistent-object--master-width: 40%;

    header {
        background-color: var(--vi-persistent-object--header-background, white);
        border-bottom: 1px solid var(--theme-light-border);

        .title {
            padding: var(--theme-h3) var(--theme-h2) 0 var(--theme-h2);
        }

        h1 {
            line-height: var(--theme-h1);
            font-weight: 600;
            margin: 0 0 var(--theme-h4) 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .tabs {
        > .master {
            padding-left: var(--theme-h2);
            box-sizing: border-box;
        }
    }

    .content {
        .master, .detail {
            background-color: var(--vi-persistent-object--main-background, #F4F8F9);
        }
    }

    &[layout-master-detail] {
        .content {

        }

        .tabs {
            .detail {
                padding-left: 8px;
            }
        }

        #splitter {
            @include noSelection();
            position: relative;
            width: 8px;
            background-color: var(--vi-persistent-object--main-background, #F4F8F9);

            &::before {
                position: absolute;
                content: "";
                width: 8px;
                left: 0;
                top: 0;
                bottom: 0;
                opacity: 0.005;
                background-color: black;
                z-index: 3;
                transition: opacity 0.3s ease;
            }

            &::after {
                position: absolute;
                content: "";
                width: 6px;
                height: calc(var(--theme-h2) * 2);
                border-width: 0 1px;
                border-style: solid;
                border-color: black;
                top: calc(50% - var(--theme-h2));
                left: 1px;
                box-sizing: border-box;
                opacity: 0.1;
                transition: opacity 0.3s ease, border-width 0.3s ease, ;
            }

            &:hover {
                &::before {
                    opacity: 0.1;
                }

                &::after {
                    border-width: 0 2px;
                    opacity: 0.3;
                }
            }

            cursor: col-resize;
        }

        .master {
            width: var(--vi-persistent-object--master-width);
        }
    }

    /*--vi-action-bar-style: #{'{
        padding-top: 3px;
        border-bottom: 1px solid '$tabsBG';
    }'};

    @include layout-vertical-reverse();
    

    header {
        @include page-title();
        padding-right: 4px;

        > span[sensitive] {
            @apply(--vi-app--sensitive);
        }
    }

    .tabs {
        background-color: $tabsBG;
        @apply(--theme-shadow);
    }

    vi-persistent-object-tab-presenter {
        > vi-query-items-presenter {
            @include fit();
        }
    }

    .content {
        .detail {
            vi-persistent-object-tab-presenter {
                margin: 1px 1px 1px 0;
            }
        }
    }

    .tabs {
        height: var(--theme-h1);
    }

    &[layout-details-only] {
        .master {
            display: none;
        }

        .detail {
            vi-persistent-object-tab-presenter {
                margin-left: 1px;
            }
        }
    }

    &[layout-full-page] {
        .master {
            @include flex();
        }

        .detail {
            display: none;
        }
    }

    &:not([layout-master-tabs]):not([layout-detail-tabs]) {
        .tabs {
            display: none;
        }

        .content {
            vi-action-bar {
                padding-top: 0;
                z-index: 1;
                @apply(--theme-shadow);
                margin-bottom: 3px;
            }

            vi-persistent-object-tab-presenter {
                z-index: 0;
                margin-left: 1px;
            }
        }
    }

    &:not([layout-master-actions]):not([layout-detail-actions]) {
        .master, .detail {
            vi-action-bar {
                display: none;
            }
        }
    }

    &:not([layout-master-detail]):not([layout-details-only]):not([layout-full-page]) {
        header, .tabs, .content {
            display: none;
        }
    }

    &[loading] {
        > header, > div {
            visibility: hidden;
        }
    }*/
}