vi-persistent-object {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
vi-persistent-object header.style-scope.vi-persistent-object {
  line-height: 40px;
  display: block;
  color: white;
  padding-top: 2px;
  line-height: 38px;
  min-height: 40px;
  box-sizing: border-box;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  padding: 0 12px;
}
[theme-color-1] vi-persistent-object header.style-scope.vi-persistent-object {
  background-color: #4682b4;
}
[theme-color-2] vi-persistent-object header.style-scope.vi-persistent-object {
  background-color: #009688;
}
vi-persistent-object .tabs {
  background-color: #f1f1f1;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
}
vi-persistent-object vi-persistent-object-tab-presenter {
  overflow: hidden;
}
vi-persistent-object .content vi-action-bar {
  padding-top: 3px;
  border-bottom: 1px solid #f1f1f1;
  background-color: #f9f9f9;
}
vi-persistent-object .content .detail vi-persistent-object-tab-presenter {
  margin: 1px 1px 1px 0;
}
vi-persistent-object[layout~="master-detail"] .tabs .detail {
  padding-left: 1px;
}
vi-persistent-object[layout~="master-detail"] .content .master {
  padding-right: 1px;
}
vi-persistent-object[layout~="master-detail"] .content .detail {
  padding-left: 1px;
}
vi-persistent-object[layout~="master-detail"] #splitter {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  width: 1px;
  background-color: #f1f1f1;
  cursor: col-resize;
}
vi-persistent-object[layout~="master-detail"] #splitter::after {
  position: absolute;
  content: " ";
  width: 7px;
  left: 0;
  top: 0;
  bottom: 0;
  opacity: 0.01;
  background-color: white;
  z-index: 3;
  -moz-transform: translateX(-3px);
  -ms-transform: translateX(-3px);
  -o-transform: translateX(-3px);
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}
vi-persistent-object[layout~="master-detail"] #splitter + div {
  padding-left: 1px;
}
vi-persistent-object[layout~="details-only"] .master {
  display: none;
}
vi-persistent-object[layout~="details-only"] .detail vi-persistent-object-tab-presenter {
  margin-left: 1px;
}
vi-persistent-object[layout~="full-page"] .master {
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
vi-persistent-object[layout~="full-page"] .detail {
  display: none;
}
vi-persistent-object:not([layout~="mt"]):not([layout~="dt"]) .tabs {
  display: none;
}
vi-persistent-object:not([layout~="mt"]):not([layout~="dt"]) .content vi-action-bar {
  padding-top: 0;
  z-index: 1;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
}
vi-persistent-object:not([layout~="ma"]):not([layout~="da"]) .master vi-action-bar,
vi-persistent-object:not([layout~="ma"]):not([layout~="da"]) .detail vi-action-bar {
  display: none;
}
vi-persistent-object:not([layout~="master-detail"]):not([layout~="details-only"]):not([layout~="full-page"]) header,
vi-persistent-object:not([layout~="master-detail"]):not([layout~="details-only"]):not([layout~="full-page"]) .tabs,
vi-persistent-object:not([layout~="master-detail"]):not([layout~="details-only"]):not([layout~="full-page"]) .content {
  display: none;
}
vi-persistent-object[loading] > header,
vi-persistent-object[loading] > div {
  visibility: hidden;
}
