@import (reference) "../vidyano.less";

vi-spinner {
    z-index: 1000;
    .layout-horizontal();
    .layout-center-center();

    div {
        opacity: 0.8;
        -moz-transition: opacity linear 0.5s;
        -o-transition: opacity linear 0.5s;
        -webkit-transition: opacity linear 0.5s;
        transition: opacity linear 0.5s;
        z-index: 1000;

        &::after, &::before {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            position: absolute;
            content: " ";
            left: 50%;
            top: 50%;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            background-color: transparent;
            border: 0.25em solid transparent;
            border-radius: 50%;
            font-size: 24px;
            z-index: 1000;
        }

        &::after {
            margin: -0.25em 0 0 -0.25em;
            padding: 0.25em;
            -moz-animation: spinFast 1s ease-in-out infinite;
            -o-animation: spinFast 1s ease-in-out infinite;
            -webkit-animation: spinFast 1s ease-in-out infinite;
            animation: spinFast 1s ease-in-out infinite;
            border-top-color: #666;
            border-bottom-color: #666;
        }

        &::before {
            margin: -0.75em 0 0 -0.75em;
            padding: 0.75em;
            -moz-animation: spin 1s ease-in-out infinite;
            -o-animation: spin 1s ease-in-out infinite;
            -webkit-animation: spin 1s ease-in-out infinite;
            animation: spin 1s ease-in-out infinite;
            border-top-color: #333;
            border-bottom-color: #333;
        }
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotateZ(0deg);
    }

    100% {
        -webkit-transform: rotateZ(360deg);
    }
}


@keyframes spin {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

@-webkit-keyframes spinFast {
    0% {
        -webkit-transform: rotateZ(0deg);
    }

    100% {
        -webkit-transform: rotateZ(720deg);
    }
}


@keyframes spinFast {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(720deg);
    }
}
