@import "../_vars.scss";

$animation-time: 1s;

:host {
    display: block;
    position: relative;
    width: var(--vi-spinner-width, --theme-h2);
    height: var(--vi-spinner-height, --theme-h2);

    &:not([block]) {
        position: absolute;
        left: calc(50% - var(--vi-spinner-width, --theme-h2) / 2);
        top: calc(50% - var(--vi-spinner-height, --theme-h2) / 2);
    }

    .box {
        width: 45%;
        height: 45%;
        background: var(--vi-spinner-color, rgba(127, 127, 127, 1));
        opacity: 0.1;
        animation: loadAnimation $animation-time linear infinite;

        &:nth-of-type(1) {
          position: absolute;
          top: 2.5%;
          left: 2.5%;
          animation-delay: -($animation-time / 4 ) * 3;
        }

        &:nth-of-type(2) {
          position: absolute;
          top: 2.5%;
          right: 2.5%;
          animation-delay: -($animation-time / 4 ) * 2;
        }

        &:nth-of-type(3) {
          position: absolute;
          bottom: 2.5%;
          right: 2.5%;
          animation-delay: -($animation-time / 4);
        }

        &:nth-of-type(4) {
          position: absolute;
          bottom: 2.5%;
          left: 2.5%;
        }
    }
}

@keyframes loadAnimation {
    0% {
        opacity: 0.1;
    }

    30% {
        opacity: 1;
    }

    90% {
        opacity: 0.1;
    }

    100% {
        opacity: 0.1;
    }
}