@import "../_vars.scss";

:host {
    display: block;
    position: relative;
    width: var(--vi-spinner-size, var(--theme-h2));
    height: var(--vi-spinner-size, var(--theme-h2));

    &:not([block]) {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(calc(var(--vi-spinner-size, var(--theme-h2)) / -2), calc(var(--vi-spinner-size, var(--theme-h2)) / -2));
    }

    .spinner {
        animation: rotator 1.4s linear infinite;
    }

    .path {
        stroke-dasharray: 187;
        stroke-dashoffset: 0;
        transform-origin: center;
        stroke: var(--vi-spinner-color, var(--theme-color));
        animation: dash 1.4s ease-in-out infinite;
    }

    &:not([hidden]) {
        animation: show 0.3s steps(2) forwards;
    }

    &[hidden] {
        display: none !important;
    }
}

@keyframes rotator {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(270deg);
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }

    50% {
        stroke-dashoffset: 46;
        transform: rotate(135deg);
    }

    100% {
        stroke-dashoffset: 187;
        transform: rotate(450deg);
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}