@import (reference) "../vidyano.less";

@indent: 16px;
@expandWidth: 16em;

vi-menu {
    .layout-vertical();
    .noSelection();
    height: 100%;
    color: @dark-foreground;

    .colorize({
        background-color: @blue-grey-900;
    });

    &:not([collapsed]) {
        width: @expandWidth;
        
        header.vi-menu.style-scope {
            #toggleCollapse {
                background-color: transparent;
            }
        }

        .programUnits.vi-menu.style-scope {
            .subItems {
                display: none;
                margin-bottom: @h5;
            }

            vi-menu-item[expand] + .subItems, vi-menu-item[filtering]:not([hide]) + .subItems {
                display: block;
            }
        }
    }

    &[collapsed] {
        width: @h1;

        header.vi-menu.style-scope {
            #toggleCollapse {
                position: relative;

                .colorize({
                    background-color: @@color-dark;
                });

                 vi-icon {
                    -moz-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    -o-transform: rotate(180deg);
                    -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
                }
            }

            span {
                display: none;
            }

            vi-input-search {
                margin: 0;

                button {
                    height: @h1;

                    &[header] {
                        fill: #FAFAFA;
                    }
                }
            }
        }

        .programUnits.vi-menu.style-scope {
            :not(.program-unit) + .subItems {
                display: none;
            }

            vi-menu-item[expand] + .subItems, vi-menu-item[filtering]:not([hide]) + .subItems {
                display: block;
            }

            .subItems[content] {
                vi-menu-item {
                    padding-right: @h4;
                }

                &[item-count="1"] > vi-menu-item {
                    height: @h1;
                    line-height: @h1;
                }

                &:not([has-group-items]) > vi-menu-item {
                    padding-left: @h5;
                }
            }
        }

        vi-popup {
            #content {
                .colorize({
                    background-color: @blue-grey-900;
                });
            }
        }
    }
}

.vi-menu.style-scope {
    header&, footer& {
        display: block;
        line-height: @h1;
        min-height: @h1;
    }

    header& {
        position: relative;
        text-align: center;

        span {
            display: block;
            font-size: (@h3);
            line-height: @h1 * 2;

            .colorize( {
                background-color: @@color-dark;
            });
        }

        #toggleCollapse {
            position: absolute;
            top: 0;
            right: 0;
            height: @h1;
            width: @h1;
            fill: rgba(255, 255, 255, 0.5);

            vi-icon {
                -moz-transition: transform 0.3s ease-in-out;
                -o-transition: transform 0.3s ease-in-out;
                -webkit-transition: transform 0.3s ease-in-out;
                transition: transform 0.3s ease-in-out;

                svg {
                    width: @h4;
                    height: @h4;
                }
            }
        }
    }

    vi-input-search& {
        margin: (@indent / 2) (@indent - @indent / 2);
        border-bottom: 1px solid fadeout(white, 90%);

        input {
            padding-left: @h5;
        }
    }
}