@import "../vars.scss";

:host {
    @include layout-vertical();
    @include noSelection();
    height: 100%;

    --vi-menu-indent: 16px;
    --vi-menu--expand-width: 16em;
    --vi-menu-color: #FAFAFA;
    --vi-menu-background: $blue-grey-900;

    color: var(--vi-menu-color);
    background-color: var(--vi-menu-background);

    &:not([collapsed]) {
        width: var(--vi-menu--expand-width);

        header {
            #toggleCollapse {
                background-color: transparent;
            }
        }

        .programUnits {
            .subItems {
                display: none;
                margin-bottom: var(--theme-h5);
            }

            vi-menu-item[expand] + .subItems, vi-menu-item[filtering]:not([hide]) + .subItems {
                display: block;
            }
        }
    }

    &[collapsed] {
        width: var(--theme-h1);

        header {
            #toggleCollapse {
                position: relative;
                background-color: var(--theme-color-dark);

                 > vi-icon {
                    -moz-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    -o-transform: rotate(180deg);
                    -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
                }
            }

            span {
                display: none;
            }
        }

        .programUnits.vi-menu.style-scope {
            :not(.program-unit) + .subItems {
                display: none;
            }

            vi-menu-item[expand] + .subItems, vi-menu-item[filtering]:not([hide]) + .subItems {
                display: block;
            }

            .subItems[content] {
                vi-menu-item {
                    padding-right: var(--theme-h4);
                }

                &[item-count="1"] > vi-menu-item {
                    height: var(--theme-h1);
                    line-height: var(--theme-h1);
                }

                &:not([has-group-items]) > vi-menu-item {
                    padding-left: var(--theme-h5);
                }
            }
        }

        vi-popup {
            [content] {
                background-color: var(--vi-menu-background);
            }
        }
    }

    header, footer {
        display: block;
        line-height: var(--theme-h1);
        min-height: var(--theme-h1);
    }

    header {
        position: relative;
        text-align: center;

        span {
            display: block;
            font-size: (var(--theme-h3));
            line-height: calc(var(--theme-h1) * 2);
            background-color: var(--theme-color-dark);
        }

        #toggleCollapse {
            position: absolute;
            top: 0;
            right: 0;
            height: var(--theme-h1);
            width: var(--theme-h1);
            fill: rgba(255, 255, 255, 0.5);

            > vi-icon {
                -moz-transition: transform 0.3s ease-in-out;
                -o-transition: transform 0.3s ease-in-out;
                -webkit-transition: transform 0.3s ease-in-out;
                transition: transform 0.3s ease-in-out;

                --vi-icon-width: var(--theme-h4);
                --vi-icon-height: var(--theme-h4);
            }
        }
    }

    vi-input-search:not([collapsed]) {
        --vi-input-search: #{'{
            margin: calc(var(--vi-menu-indent) / 2) calc(var(--vi-menu-indent) - var(--vi-menu-indent) / 2);
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }'};

        --vi-input-search-input: #{'{
            padding-left: var(--theme-h5);
        }'};
    }

    vi-input-search[collapsed] {
        --vi-input-search-input: #{'{
            line-height: var(--theme-h1);
            padding-top: 0;
            padding-bottom: 0;
        }'};
    }

    &[collapsed] {
        header {
            vi-icon[header] {
                fill: var(--vi-menu-color);
                width: var(--theme-h1);
                height: var(--theme-h1);
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                box-sizing: border-box;
            }
        }
    }
}
