@import "../vars.scss";

$fg-color: #FAFAFA;
$indent: 16px;

:host {
    @include relative();
    box-sizing: border-box;
	display: block;
	line-height: $h2;
    color: $fg-color;
    fill: $fg-color;
    font-size: 13px;
    cursor: pointer;

    span.match {
        color: #FFDD00;
        font-weight: bold;
    }

	&.program-unit {
		background-color: transparent;
        text-transform: uppercase;

        > a {
            font-weight: 600;
            color: $fg-color;
        }
	}

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

	a {
        @include relative();
		display: block;
		padding: 0 $h5 0 $indent;
		text-decoration: none;
		color: $fg-color;
		white-space: nowrap;
		-ms-text-overflow: ellipsis;
		-o-text-overflow: ellipsis;
		text-overflow: ellipsis;
		overflow: hidden;

        > vi-icon {
            height: 100%;
            fill: $fg-color;
        }
	}

	&.program-unit-item:not([has-items]) {
        padding-left: $indent * 1.5;
	}

    &:not([has-items]) {
        .group {
            display: none;
        }
    }

	&[has-items].program-unit-item {
		@include layout-horizontal();
        padding-left: $indent / 2;
        cursor: pointer;

		.group {
			width: $indent * 2;
			height: $h2;
			text-align: center;
			-moz-transition: transform 0.2s ease-out;
			-o-transition: transform 0.2s ease-out;
			-webkit-transition: transform 0.2s ease-out;
			transition: transform 0.2s ease-out;
		}

		a {
			@include flex();
            padding-left: 0;
			position: relative;
            cursor: pointer;

			&::before {
				position: absolute;
				left: $indent / 2;
				padding: 1px 0 0 ($indent / 2);
			}
		}

		&[expand] {
			.group {
				-moz-transform: rotate(90deg);
				-ms-transform: rotate(90deg);
				-o-transform: rotate(90deg);
				-webkit-transform: rotate(90deg);
				transform: rotate(90deg);
			}
		}
	}

	&.program-unit-group-item {
        padding-left: 0;
        padding-left: $indent * 2.5;
	}

	&[hide] {
		display: none !important;
	}

    &[hide] + .subItems {
        display: none !important;
    }

    &[collapsed] {
        a {
            padding: 0;
            line-height: $h1;
            height: $h1;
            width: $h1;
            text-align: center;
        }
    }
}