vi-menu {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 100%;
  color: white;
}
[theme-color-1] vi-menu {
  background-color: #263238;
}
[theme-color-2] vi-menu {
  background-color: #263238;
}
vi-menu:not([collapsed]) {
  width: 16em;
}
vi-menu:not([collapsed]) header.vi-menu.style-scope #toggleCollapse {
  background-color: transparent;
}
vi-menu:not([collapsed]) .programUnits.vi-menu.style-scope .subItems {
  display: none;
  margin-bottom: 6px;
}
vi-menu:not([collapsed]) .programUnits.vi-menu.style-scope vi-menu-item[expand] + .subItems,
vi-menu:not([collapsed]) .programUnits.vi-menu.style-scope vi-menu-item[filtering]:not([hide]) + .subItems {
  display: block;
}
vi-menu[collapsed] {
  width: 40px;
}
vi-menu[collapsed] header.vi-menu.style-scope #toggleCollapse {
  position: relative;
}
[theme-color-1] vi-menu[collapsed] header.vi-menu.style-scope #toggleCollapse {
  background-color: #386890;
}
[theme-color-2] vi-menu[collapsed] header.vi-menu.style-scope #toggleCollapse {
  background-color: #00796b;
}
vi-menu[collapsed] header.vi-menu.style-scope #toggleCollapse vi-icon {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
vi-menu[collapsed] header.vi-menu.style-scope span {
  display: none;
}
vi-menu[collapsed] header.vi-menu.style-scope vi-input-search {
  margin: 0;
}
vi-menu[collapsed] header.vi-menu.style-scope vi-input-search button {
  height: 40px;
}
vi-menu[collapsed] header.vi-menu.style-scope vi-input-search button[header] {
  fill: #FAFAFA;
}
vi-menu[collapsed] .programUnits.vi-menu.style-scope :not(.program-unit) + .subItems {
  display: none;
}
vi-menu[collapsed] .programUnits.vi-menu.style-scope vi-menu-item[expand] + .subItems,
vi-menu[collapsed] .programUnits.vi-menu.style-scope vi-menu-item[filtering]:not([hide]) + .subItems {
  display: block;
}
vi-menu[collapsed] .programUnits.vi-menu.style-scope .subItems[content] vi-menu-item {
  padding-right: 12px;
}
vi-menu[collapsed] .programUnits.vi-menu.style-scope .subItems[content][item-count="1"] > vi-menu-item {
  height: 40px;
  line-height: 40px;
}
vi-menu[collapsed] .programUnits.vi-menu.style-scope .subItems[content]:not([has-group-items]) > vi-menu-item {
  padding-left: 6px;
}
[theme-color-1] vi-menu[collapsed] vi-popup #content {
  background-color: #263238;
}
[theme-color-2] vi-menu[collapsed] vi-popup #content {
  background-color: #263238;
}
header.vi-menu.style-scope,
footer.vi-menu.style-scope {
  display: block;
  line-height: 40px;
  min-height: 40px;
}
header.vi-menu.style-scope {
  position: relative;
  text-align: center;
}
header.vi-menu.style-scope span {
  display: block;
  font-size: 22px;
  line-height: 80px;
}
[theme-color-1] header.vi-menu.style-scope span {
  background-color: #386890;
}
[theme-color-2] header.vi-menu.style-scope span {
  background-color: #00796b;
}
header.vi-menu.style-scope #toggleCollapse {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 40px;
  fill: rgba(255, 255, 255, 0.5);
}
header.vi-menu.style-scope #toggleCollapse vi-icon {
  -moz-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}
header.vi-menu.style-scope #toggleCollapse vi-icon svg {
  width: 12px;
  height: 12px;
}
vi-input-search.vi-menu.style-scope {
  margin: 8px 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
vi-input-search.vi-menu.style-scope input {
  padding-left: 6px;
}
