@import "../vars.scss";

$color: #FAFAFA;
$backgroundColor: $blue-grey-900;

:host {
    @include layout-vertical();
    @include relative();
    @include noSelection();
    color: var(--vi-menu-color, $color);
    background-color: var(--vi-menu-background, $backgroundColor);
    @apply(--vi-menu);

    &:not([collapsed]) {
        width: var(--vi-menu--expand-width, 17em);

        header {
            #toggleCollapse {
                background-color: transparent;
            }
        }

        vi-scroller[vertical][hovering] + #resizer {
            width: calc(var(--theme-h5) / 2);
        }

        #add {
            height: var(--theme-h2);
            line-height: var(--theme-h2);
            padding-left: calc(var(--theme-h4) * 2);
            cursor: pointer;
            font-style: italic;

            &:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
    }

    &[collapsed] {
        width: var(--theme-h1);

        header {
            #toggleCollapse {
                position: relative;
                background-color: var(--theme-color-dark);

                 > vi-icon {
                    -moz-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    -o-transform: rotate(180deg);
                    -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
                }
            }

            span {
                display: none;
            }

            .label {
                display: none;
            }
        }

        .programUnits.vi-menu.style-scope {
            :not(.program-unit) + .subItems {
                display: none;
            }

            vi-menu-item[expand] + .subItems, vi-menu-item[filtering]:not([hide]) + .subItems {
                display: block;
            }

            .subItems[content] {
                vi-menu-item {
                    padding-right: var(--theme-h4);
                }

                &[item-count="1"] > vi-menu-item {
                    height: var(--theme-h1);
                    line-height: var(--theme-h1);
                }

                &:not([has-group-items]) > vi-menu-item {
                    padding-left: var(--theme-h5);
                }
            }
        }

        vi-popup {
            [content] {
                background-color: var(--vi-menu-background, $backgroundColor);
            }
        }
    }

    header, footer {
        display: block;
        line-height: var(--theme-h1);
        flex-shrink: 0;
    }

    header {
        position: relative;
        text-align: center;

        .label {
            display: block;
            font-size: var(--theme-h3);
            line-height: var(--vi-menu-expanded-header-height);
            height: var(--vi-menu-expanded-header-height);
            background-color: var(--theme-color-dark);
            white-space: nowrap;
            overflow: hidden;
            @apply(--vi-menu--label);
        }

        #toggleCollapse {
            position: absolute;
            top: 0;
            right: 0;
            height: var(--theme-h1);
            width: var(--theme-h1);
            fill: rgba(255, 255, 255, 0.5);
            @apply(--vi-menu--toggle-collapse);

            > vi-icon {
                -moz-transition: transform 0.3s ease-in-out;
                -o-transition: transform 0.3s ease-in-out;
                -webkit-transition: transform 0.3s ease-in-out;
                transition: transform 0.3s ease-in-out;

                --vi-icon-width: var(--theme-h4);
                --vi-icon-height: var(--theme-h4);
            }
        }
    }

    footer {
        overflow: hidden;
        @apply(--vi-menu--footer);
    }

    vi-input-search:not([collapsed]) {
        --vi-input-search: #{'{
            margin: calc(var(--theme-h4) / 2) calc(var(--theme-h4) - var(--theme-h4) / 2);
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }'};

        --vi-input-search-input: #{'{
            padding-left: var(--theme-h5);
        }'};
    }

    vi-input-search[collapsed] {
        --vi-input-search-input: #{'{
            line-height: var(--theme-h1);
            padding-top: 0;
            padding-bottom: 0;
        }'};
    }

    &[hide-search] {
        vi-input-search {
            display: none !important;
        }

        vi-menu-item:first-of-type {
            margin-top: var(--theme-h5);
        }
    }

    &[collapsed] {
        header {
            vi-icon[header] {
                fill: var(--vi-menu-color, $color);
                width: var(--theme-h1);
                height: var(--theme-h1);
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                box-sizing: border-box;
            }
        }

        #resizer {
            display: none;
        }
    }

    #resizer {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: var(--theme-h5);
        background-color: transparent;
        cursor: ew-resize;
        z-index: 99;
        opacity: 0.5;
        transform: translateX(calc(var(--theme-h5) / 2));
    }

    &[is-resizing] #resizer, #resizer:hover {
        background-color: #333;
    }
}