@import "../../_vars.scss";

:host {
    @include layout-horizontal();
    margin-bottom: 2px;

    .inputhost {
        border: 1px solid var(--theme-light-border);
        box-sizing: border-box;

        input {
            height: calc(var(--theme-h2) - 2px);
            line-height: calc(var(--theme-h2) - 2px);
            -moz-transition: border-color 0.2s ease-in-out;
            -o-transition: border-color 0.2s ease-in-out;
            -webkit-transition: border-color 0.2s ease-in-out;
            transition: border-color 0.2s ease-in-out;
            padding: 0 6px;
            border: none;
            outline: none;

            &:focus {
                border-color: var(--theme-color-lighter);
            }

            &:disabled {
                background-color: #eee;
            }

            &[sensitive] {
                @apply(--vi-app--sensitive);
            }
        }
    }

    vi-persistent-object-attribute-edit {
        height: calc(var(--theme-h2);
        line-height: calc(var(--theme-h2);
    }

    vi-icon {
        align-self: center;
        margin-right: var(--theme-h5);
        fill: #666;
        cursor: pointer;
        cursor: -moz-grab;
        cursor: -webkit-grab;
        pointer-events: all;
    }

    &[is-new] {
        vi-icon {
            visibility: hidden;
        }

        .inputhost {
            border-style: dashed;
        }

        vi-persistent-object-attribute-edit {
            border: none !important;
        }
    }

    &[is-read-only] {
        vi-icon {
            display: none;
        }

        input {
            background-color: var(--theme-read-only);
        }
    }
}