@import "../../_vars.scss";

:host {
    @include layout-horizontal();

    #strings:empty + vi-persistent-object-attribute-multi-string-item {
        ::content vi-icon[source="Hamburger"] {
            display: none;
        }
    }

    #strings:not([enabled]) {
        > vi-persistent-object-attribute-multi-string-item {
            ::content vi-icon[source="Hamburger"] {
                opacity: 0.25;
                cursor: default;
            }
        }
    }

    fieldset {
        padding: 0;
        margin: 0;
        border: none;
    }

    pre[sensitive] {
        @apply(--vi-app--sensitive);
    }

    vi-persistent-object-attribute-edit vi-tags {
        margin: 4px 0 0 4px;
    }

    vi-tags {
        line-height: calc(var(--theme-h2) - 4px);
    }

    #suggestions {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                padding: 0 var(--theme-h4);
                text-align: left;

                &:hover {
                    background-color: var(--theme-color-faint);
                }
            }
        }
    }
}