vi-persistent-object-attribute-multi-string[editing] #inputs > * {
  margin-bottom: 6px;
}
vi-persistent-object-attribute-multi-string[editing] #inputs > * .sort-handle {
  fill: #999;
  line-height: 30px;
  margin-right: 6px;
  cursor: move;
  cursor: -webkit-grabbing;
}
vi-persistent-object-attribute-multi-string[editing] #inputs > *:only-child .sort-handle {
  display: none;
}
vi-persistent-object-attribute-multi-string[editing] #new {
  opacity: 0.75;
}
vi-persistent-object-attribute-multi-string[editing] #new input {
  border-style: dashed;
}
vi-persistent-object-attribute-multi-string[editing] #new .sort-handle {
  display: none;
}
