:host {
    main {
        position: relative;
        overflow: hidden;
        min-width: var(--theme-h1);
        min-height: var(--theme-h1);

        img {
            margin: var(--theme-h4);
            max-width: calc(90vw - var(--theme-h1) * 2);
            max-height: calc(90vh - var(--vi-persistent-object-attribute-image-dialog--max-height) - var(--theme-h4) * 2);
        }

        button {
            width: var(--theme-h1);
            height: var(--theme-h1);
            --vi-icon--width: 22px;
            --vi-icon--height: 22px;
        }
    }
}