@import (reference) "../persistent-object-attribute.less";

vi-persistent-object-attribute-binary-file {
    @include layout-horizontal();
    @include relative();
    outline: none;

    input[readonly] {
        @include flex();
        z-index: 1;
    }

    .button.browse {
        input {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            padding: 0;
            margin: 0;
            border: 0;
            cursor: pointer;
        }
    }
}
