@import "../../_vars.scss";

:host {
    @include layout-horizontal();
    @include relative();
    outline: none;

    input[readonly] {
        @include flex();
        z-index: 1;
    }

    .button.browse {
        ::content input {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            padding: 0;
            margin: 0;
            border: 0;
            cursor: pointer;
        }
    }

    span, input {
        color: var(--vi-persistent-object-attribute-foreground, --theme-foreground);

        &[sensitive] {
            --at-apply: --vi-app--sensitive;
        }
    }
}
