@import "../_vars.scss";

:host {
    @include layout-horizontal();
    background-color: #444;
    --vi-profiler-entry-height: var(--theme-h2);
    --vi-profiler-entry-level-gap: var(--theme-h5);
    --vi-profiler-header-height: var(--theme-h3);

    vi-icon {
        fill: white;
        margin-left: var(--theme-h5);
        margin-right: var(--theme-h4);
        height: var(--theme-h1);
        line-height: var(--theme-h1);
        --vi-icon-height: var(--theme-h3);
        --vi-icon-width: var(--theme-h3);
    }

    vi-popup {
        @include flex();

        [slot="header"] {
            color: white;
            line-height: var(--theme-h1);

            #lastRequest {
                line-height: normal;

                > div {
                    margin-right: var(--theme-h3);

                    label {
                        font-size: 9px;
                        line-height: 9px;
                        text-transform: uppercase;
                    }

                    h1 {
                        font-size: 15px;
                        line-height: 15px;
                        font-weight: bolder;
                        margin: 0;
                    }
                }
            }
        }

        &:not([disabled]) {
            [slot="header"], label {
                cursor: pointer !important;
            }
        }

        [slot="content"] {
            height: calc(15 * var(--theme-h1));
            max-height: 40vh;
            background-color: #e7e7e7;
            box-shadow: var(--theme-box-shadow);
            padding: 6px;

            > * {
                overflow: hidden;
                background-color: white;

                &:first-child {
                    width: 40%;
                    z-index: 1;
                    box-shadow: var(--theme-box-shadow);

                    .request {
                        background-color: #FAFAFA;
                        color: #333;
                        border-radius: var(--theme-h5);
                        margin: var(--theme-h5) var(--theme-h4);
                        padding: var(--theme-h5);
                        cursor: pointer !important;
                        border: 1px solid #EAEAEA;
                        transition: all 0.2s ease;

                        &[selected] {
                            background-color: var(--theme-color);
                            color: white;
                            margin-right: 0;
                            border-radius: var(--theme-h5) 0 0 var(--theme-h5);
                            border-right-width: 0;

                            h3 {
                                margin-right: calc(var(--theme-h4) + 2px);
                            }
                        }

                        &[has-warnings] {
                            background-color: #a00;
                            color: white;

                            &[selected] {
                                background-color: #800;
                            }
                        }

                        h1, h2, h3 {
                            margin: 0;
                        }

                        h1 {
                            font-size: 16px;
                            margin-right: var(--theme-h5);
                        }

                        h2 {
                            font-size: 13px;
                        }

                        h3 {
                            font-size: 10px;
                            font-weight: 300;
                            transition: margin-right 0.2s ease;
                        }

                        .method > div {
                            line-height: 20px;
                        }

                        .extra {
                            font-size: 12px;
                            padding-top: var(--theme-h5);
                            letter-spacing: 0.5px;

                            > div {
                                margin-right: var(--theme-h4);

                                label {
                                    font-weight: 400;
                                }

                                span {
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
            }

            > div {
                border: 1px solid #C7C7C7;
                border-left-width: 0;
                margin-top: 1px;
                margin-bottom: 1px;
            }

            > div:nth-child(2) {
                vi-scroller {
                    svg ::content {
                        g.xaxis {
                            font-size: 10px;

                            line {
                                stroke: #eee;
                            }

                            g.tick:first-child {
                                display: none;
                            }
                        }

                        g.entries {
                            .entry {
                                cursor: default;

                                rect {
                                    fill: #63b08a;
                                    stroke: white;
                                    stroke-width: 1px;
                                }

                                &.has-details {
                                    rect {
                                        fill: #008042;
                                    }

                                    cursor: pointer;

                                    .text {
                                        cursor: pointer !important;
                                    }
                                }

                                &.has-sql {
                                    rect {
                                        fill: #7e007e;
                                    }

                                    &.has-n-plus-one {
                                        rect {
                                            fill: #a00;
                                        }
                                    }
                                }

                                &.has-exception {
                                    rect {
                                        fill: #a00;
                                    }
                                }

                                .text {
                                    color: white;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    padding: 0 6px;
                                    font-size: 12px;
                                    line-height: var(--vi-profiler-entry-height);
                                    box-sizing: border-box;
                                }
                            }
                        }
                    }
                }
            }

            #hoveredEntry {
                position: absolute;
                left: var(--theme-h5);
                top: var(--vi-profiler-header-height);
                background-color: rgba(255, 255, 255, 0.5);
                font-size: 13px;
                padding: var(--theme-h4);

                table {
                    td:first-child {
                        font-weight: bold;
                    }

                    tr:first-child {
                        td:last-child {
                            font-weight: bold;
                        }
                    }
                }
            }

            #selectedEntry {
                header {
                    height: var(--theme-h2);
                    line-height: var(--theme-h2);
                    border-bottom: 1px solid var(--theme-light-border);
                    box-sizing: border-box;

                    h1 {
                        margin: 0;
                        font-size: 13px;
                        font-weight: normal;
                        padding: 0 var(--theme-h5);
                        color: var(--theme-color);
                    }
                }

                vi-scroller {
                    top: var(--theme-h2);
                }

                main {
                    padding-left: var(--theme-h5);
                    font-size: 13px;

                    table {
                        tr {
                            td {
                                line-height: 1.2em;
                                padding: 0 var(--theme-h3) var(--theme-h5) 0;
                                vertical-align: top;

                                &:first-of-type {
                                    font-weight: bold;
                                }
                            }
                        }
                    }

                    pre {
                        font-family: monospace !important
                    }

                    h2 {
                        font-size: var(--theme-h3);
                        margin: var(--theme-h4) 0;
                        font-weight: 400;
                        color: var(--theme-color);
                    }
                }
            }
        }
    }
}