@import "../vars.scss";

:host {
    display: block;
    white-space: nowrap;
    color: #222;
    opacity: 0;
    -moz-transition: opacity ease-out 0.3s;
    -o-transition: opacity ease-out 0.3s;
    -webkit-transition: opacity ease-out 0.3s;
    transition: opacity ease-out 0.3s;
    position: relative;

    @for $i from 1 through 10 {
        &[height="#{$i}"] #content {
            height: calc(var(--theme-h2) * 2 * (#{$i} - 0.5));
        }
    }

    &:not([loading]) {
        opacity: 1;
    }

    #content {
        @include layout-horizontal();
        @include flex();

        .attribute {
            @include flex();
        }
    }

    &[bulk-edit] {
        #content {
            > vi-checkbox {
                @include self-start();
                width: var(--theme-h3);
            }
        }
    }

    input, textarea {
        background-color: white;
    }

    &:focus {
        outline: 0;
    }
}
