@import "../_vars.scss";

:host {
    display: block;
    white-space: nowrap;
    color: #222;
    position: relative;

    @for $i from 1 through 10 {
        &[height="#{$i}"] > #contentWrapper > #content {
            height: calc(var(--theme-h2) * 2 * (#{$i} - 0.5));
        }
    }

    #content {
        @include layout-horizontal();
        @include flex();

        &:empty {
            background-color: rgba(0, 0, 0, 0.05);
        }

        .attribute {
            @include flex();
            outline: 0;
        }
    }

    &[bulk-edit] {
        #content {
            > vi-checkbox {
                @include self-start();
                width: var(--theme-h3);
            }
        }
    }

    vi-checkbox {
        --vi-checkbox--icon-disabled: #{'{
            background-color: #eee;
        }'};
    }

    input, textarea {
        background-color: white;
    }

    &:focus {
        outline: 0;
    }
}
