@import "../vars.scss";

:host {
    @include layout-horizontal();
    @include layout-center();
    @include layout-center-justified();

    ::content > * {
        @include layout-vertical();
        max-height: 90vh;
        max-width: 90vw;
        position: relative;
        background-color: white;
        @include z-index1();

        &[dragging] {
            @include noSelection();
            cursor: move !important;
        }

        > header, > footer {
            background-color: #FAFAFA;
        }

        > header {
            position: absolute;
            left: 0;
            right: 0;
            -webkit-flex: 0 0 auto;
            -moz-flex: 0 0 auto;
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
            line-height: var(--theme-h1);
            padding: var(--theme-h5) var(--theme-h4);
            height: calc(var(--theme-h1) + var(--theme-h5) * 2);
            border-bottom: 1px solid #EEE;
            box-sizing: border-box;

            h4 {
                margin: 0;
                font-weight: 500;
                font-size: 120%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            button.close {
                margin: 0;
                padding: 0 var(--theme-h5);
                fill: #888;
                background: none;
                border: none;
                cursor: pointer;

                &:hover {
                    fill: #555;
                }

                &:active {
                    fill: #333;
                }

                &:focus {
                    outline: none;
                }
            }
        }

        > footer {
            padding: var(--theme-h4);
            border-top: 1px solid #EEE;
            -webkit-flex: 0 0 auto;
            -moz-flex: 0 0 auto;
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;

            button {
                line-height: var(--theme-h2);
                padding: 0 var(--theme-h5);

                &:not(:first-of-type) {
                    margin-left: var(--theme-h5);
                }
            }
        }

        > main {
            position: relative;
            -webkit-flex: 0 1 auto;
            -moz-flex: 0 1 auto;
            -ms-flex: 0 1 auto;
            flex: 0 1 auto;
            overflow: hidden;
            margin-top: calc(var(--theme-h1) + var(--theme-h5) * 2);
            z-index: 1;
        }
    }

    &[hide-header] ::content > * {
        > header {
            display: none;
        }

        > main {
            margin-top: 0;
        }
    }
}

:host-context([is-phone]) ::content {
    main {
        width: 85vw;
        height: 75vh;
    }
}

:host-context([is-tablet]) ::content {
    main {
        max-width: 90vh;
        max-height: 75vh;
    }
}

:host-context([is-desktop]) ::content {
    main {
        max-width: 1000px;
        max-height: 75vh;
    }
}