@import (reference) "../vidyano.less";

vi-dialog-host {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1000;
    .layout-horizontal();
    .layout-center();
    .layout-center-justified();

    &:not([shown]) {
        display: none;
    }

    > * {
        .layout-vertical();
        max-height: 90vh;
        max-width: 90vw;
        background-color: white;
        .z-index1();

        &[dragging] {
            .noSelection();
            cursor: move !important;
        }

        > *:not(header):not(footer):not(main) {
            display: none;
        }

        > header, > footer {
            background-color: #FAFAFA;
        }

        > header {
            -webkit-flex: 0 0 auto;
            -moz-flex: 0 0 auto;
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
            line-height: @h1;
            padding: @h5 @h4;
            border-bottom: 1px solid #EEE;

            h4 {
                margin: 0;
                font-weight: 500;
                font-size: 120%;
            }

            button.close {
                margin: 0;
                padding: 0 @h5;
                fill: #888;
                background: none;
                border: none;
                cursor: pointer;

                &:hover {
                    fill: #555;
                }

                &:active {
                    fill: #333;
                }

                &:focus {
                    outline: none;
                }
            }
        }

        > footer {
            padding: @h4;
            border-top: 1px solid #EEE;
            -webkit-flex: 0 0 auto;
            -moz-flex: 0 0 auto;
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;

            > button {
                line-height: @h2;
                padding: 0 @h5;
                margin-left: @h5;
            }
        }

        > main {
            position: relative;
            -webkit-flex: 0 1 auto;
            -moz-flex: 0 1 auto;
            -ms-flex: 0 1 auto;
            flex: 0 1 auto;
            overflow: hidden;
        }
    }
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    vi-dialog-host {
        > * > main {
            max-width: 800px;
            max-height: 75vh;
        }
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
    vi-dialog-host {
        > * > main {
            max-width: 900px;
            max-height: 75vh;
        }
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    vi-dialog-host {
        > * > main {
            max-width: 1000px;
            max-height: 75vh;
        }
    }
}