vi-dialog-host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
vi-dialog-host:not([shown]) {
  display: none;
}
vi-dialog-host > * {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  max-height: 90vh;
  max-width: 90vw;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
vi-dialog-host > *[dragging] {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: move !important;
}
vi-dialog-host > * > *:not(header):not(footer):not(main) {
  display: none;
}
vi-dialog-host > * > header,
vi-dialog-host > * > footer {
  background-color: #FAFAFA;
}
vi-dialog-host > * > header {
  -webkit-flex: 0 0 auto;
  -moz-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  line-height: 40px;
  padding: 6px 12px;
  border-bottom: 1px solid #EEE;
}
vi-dialog-host > * > header h4 {
  margin: 0;
  font-weight: 500;
  font-size: 120%;
}
vi-dialog-host > * > header button.close {
  margin: 0;
  padding: 0 6px;
  fill: #888;
  background: none;
  border: none;
  cursor: pointer;
}
vi-dialog-host > * > header button.close:hover {
  fill: #555;
}
vi-dialog-host > * > header button.close:active {
  fill: #333;
}
vi-dialog-host > * > header button.close:focus {
  outline: none;
}
vi-dialog-host > * > footer {
  padding: 12px;
  border-top: 1px solid #EEE;
  -webkit-flex: 0 0 auto;
  -moz-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
vi-dialog-host > * > footer > button {
  line-height: 30px;
  padding: 0 6px;
  margin-left: 6px;
}
vi-dialog-host > * > main {
  position: relative;
  -webkit-flex: 0 1 auto;
  -moz-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  overflow: hidden;
}
/* Extra small devices (phones, less than 768px) */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  vi-dialog-host > * > main {
    max-width: 800px;
    max-height: 75vh;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  vi-dialog-host > * > main {
    max-width: 900px;
    max-height: 75vh;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  vi-dialog-host > * > main {
    max-width: 1000px;
    max-height: 75vh;
  }
}
