@import "../../vars.scss";

:host {
    @include layout-horizontal();

    span {
        @include flex();
        overflow: hidden;
        white-space: nowrap;
        line-height: var(--theme-h2);
    }

    span, input {
        color: var(--vi-persistent-object-attribute-foreground, --vi-theme-foreground);
    }
}