@import "../../_vars.scss";

:host {
    @include layout-horizontal();

    span {
        @include flex();
        overflow: hidden;
        white-space: nowrap;
    }

    span, input {
        color: var(--vi-persistent-object-attribute-foreground, var(--theme-foreground));

        &[sensitive] {
            --at-apply: --vi-app--sensitive;
        }
    }
}