@import (reference) "../persistent-object-attribute.less";

vi-persistent-object-attribute-user {
    .layout-horizontal();

    span {
        .flex();
        overflow: hidden;
        white-space: nowrap;
        line-height: @h2;
    }
}