vi-date-picker {
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
vi-date-picker header {
  color: white;
  fill: white;
}
[theme-color-1] vi-date-picker header {
  background-color: #4682b4;
}
[theme-color-2] vi-date-picker header {
  background-color: #009688;
}
vi-date-picker header button {
  text-align: center;
  height: 30px;
  min-width: 30px;
  line-height: 30px;
  cursor: pointer;
}
vi-date-picker header button > vi-resource {
  height: 30px;
}
[theme-color-1] vi-date-picker header button:hover {
  background-color: #6a9bc3;
}
[theme-color-2] vi-date-picker header button:hover {
  background-color: #4db6ac;
}
vi-date-picker > div {
  position: relative;
}
vi-date-picker > div #days {
  line-height: normal;
  border-spacing: 0;
}
vi-date-picker > div #days th {
  line-height: 22px;
  font-weight: 600;
  font-size: 90%;
}
vi-date-picker > div #days tr td {
  position: relative;
}
vi-date-picker > div #days tr td div {
  cursor: pointer;
  text-align: center;
  padding: 10px;
  border-style: solid;
  border-width: 0 0 1px 1px;
}
[theme-color-1] vi-date-picker > div #days tr td div {
  border-color: #ecf2f7;
}
[theme-color-2] vi-date-picker > div #days tr td div {
  border-color: #e0f2f1;
}
[theme-color-1] vi-date-picker > div #days tr td div:not(.previous):not(.next) {
  color: #4682b4;
}
[theme-color-1] vi-date-picker > div #days tr td div:not(.previous):not(.next):hover {
  background-color: #ecf2f7;
}
[theme-color-2] vi-date-picker > div #days tr td div:not(.previous):not(.next) {
  color: #009688;
}
[theme-color-2] vi-date-picker > div #days tr td div:not(.previous):not(.next):hover {
  background-color: #e0f2f1;
}
[theme-color-1] vi-date-picker > div #days tr td div:not(.previous):not(.next).today {
  background-color: #386890;
  color: white;
}
[theme-color-1] vi-date-picker > div #days tr td div:not(.previous):not(.next).today:hover {
  background-color: #2a4e6c;
}
[theme-color-2] vi-date-picker > div #days tr td div:not(.previous):not(.next).today {
  background-color: #00796b;
  color: white;
}
[theme-color-2] vi-date-picker > div #days tr td div:not(.previous):not(.next).today:hover {
  background-color: #004d40;
}
[theme-color-1] vi-date-picker > div #days tr td div.previous,
[theme-color-1] vi-date-picker > div #days tr td div.next {
  color: #AAA;
}
[theme-color-1] vi-date-picker > div #days tr td div.previous:hover,
[theme-color-1] vi-date-picker > div #days tr td div.next:hover {
  background-color: #eee;
}
[theme-color-2] vi-date-picker > div #days tr td div.previous,
[theme-color-2] vi-date-picker > div #days tr td div.next {
  color: #AAA;
}
[theme-color-2] vi-date-picker > div #days tr td div.previous:hover,
[theme-color-2] vi-date-picker > div #days tr td div.next:hover {
  background-color: #eee;
}
vi-date-picker > div #days tr td div.selected::before,
vi-date-picker > div #days tr td div.selected::after {
  position: absolute;
  right: 0;
  top: 0;
  content: "";
}
vi-date-picker > div #days tr td div.selected::before {
  z-index: 2;
  bottom: 0;
  left: 0;
}
[theme-color-1] vi-date-picker > div #days tr td div.selected::before {
  border: 1px solid #4682b4;
}
[theme-color-2] vi-date-picker > div #days tr td div.selected::before {
  border: 1px solid #009688;
}
vi-date-picker > div #days tr td div.selected::after {
  z-index: 1;
}
[theme-color-1] vi-date-picker > div #days tr td div.selected::after {
  border-top: 12px solid #4682b4;
  border-left: 12px solid transparent;
}
[theme-color-2] vi-date-picker > div #days tr td div.selected::after {
  border-top: 12px solid #009688;
  border-left: 12px solid transparent;
}
vi-date-picker > div #days tr td div.selected.today::after {
  border-top-color: white !important;
}
vi-date-picker > div #days tr:first-child > td > div {
  border-top-width: 1px;
}
vi-date-picker > div #test {
  width: 266px;
  height: 265px;
}
vi-date-picker > div #monthsAndYears {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-spacing: 0;
  align-items: stretch;
}
vi-date-picker > div #monthsAndYears .row > div {
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  justify-content: center;
  border-style: solid;
  border-width: 0 0 1px 1px;
  cursor: pointer;
  text-align: center;
  line-height: 72px;
}
[theme-color-1] vi-date-picker > div #monthsAndYears .row > div {
  border-color: #ecf2f7;
  color: #4682b4;
}
[theme-color-1] vi-date-picker > div #monthsAndYears .row > div:hover {
  background-color: #ecf2f7;
}
[theme-color-1] vi-date-picker > div #monthsAndYears .row > div.current {
  background-color: #386890;
  color: white;
}
[theme-color-1] vi-date-picker > div #monthsAndYears .row > div.current:hover {
  background-color: #2a4e6c;
}
[theme-color-2] vi-date-picker > div #monthsAndYears .row > div {
  border-color: #e0f2f1;
  color: #009688;
}
[theme-color-2] vi-date-picker > div #monthsAndYears .row > div:hover {
  background-color: #e0f2f1;
}
[theme-color-2] vi-date-picker > div #monthsAndYears .row > div.current {
  background-color: #00796b;
  color: white;
}
[theme-color-2] vi-date-picker > div #monthsAndYears .row > div.current:hover {
  background-color: #004d40;
}
vi-date-picker:not([zoom="days"]) #days {
  visibility: hidden;
}
vi-date-picker:not([zoom="days"]) #fback,
vi-date-picker:not([zoom="days"]) #fforward {
  display: none;
}
vi-date-picker[zoom="days"] #monthsAndYears {
  display: none;
}
