@import "../vars.scss";

$border-color: #eee;

:host {
    display: block;
    @include noSelection();

    &:hover {
        vi-popup[open] {
            [slot="header"] {
                background-color: var(--theme-color) !important;
                fill: white !important;
            }
        }
    }

    > header {
        color: white;
        fill: white;
        background-color: var(--theme-color);

        button {
            text-align: center;
            height: var(--theme-h2);
            min-width: var(--theme-h2);
            line-height: var(--theme-h2);
            cursor: pointer;

            > vi-icon {
                height: var(--theme-h2);
            }

            &:hover {
                background-color: var(--theme-color-light);
            }
        }
    }

    main {
        width: calc(var(--theme-h1) * 7);
        height: calc(var(--theme-h1) * 7);

        .cell {
            border-style: solid;
            border-width: 0 0 1px 1px;
            border-color: var(--theme-color-faint);
            box-sizing: border-box;
            cursor: pointer;
            position: relative;

            &[type$="day"] {
                min-width: var(--theme-h1);
                min-height: var(--theme-h1);
                line-height: var(--theme-h2);
                width: var(--theme-h1);
            }

            &[type="day"] {
                &[is-other] {
                    color: #AAA;

                    &:hover {
                        background-color: #eee;
                    }

                    &[is-today] {
                        color: white !important;
                        background-color: #bbb;

                        &:hover {
                            background-color: #aaa;
                        }
                    }
                }
            }

            &[type="weekday"] {
                font-weight: bold;
                color: #333 !important;
                cursor: default;

                &:hover {
                    background-color: transparent !important;
                }
            }

            &:not([is-other]):not([is-other]) {
                color: var(--theme-color);

                &:hover {
                    background-color: var(--theme-color-faint);
                }

                &[is-today] {
                    color: white !important;
                    background-color: var(--theme-color-light);

                    &:hover {
                        background-color: var(--theme-color-lighter);
                    }
                }
            }

            &[is-selected]:not([unselectable]) {
                &::before, &::after {
                    position: absolute;
                    right: 0;
                    top: 0;
                    content: "";
                }

                &::before {
                    z-index: 2;
                    bottom: 0;
                    left: 0;
                    border: 1px solid var(--theme-color);
                }

                &[is-other]::before {
                    border-color: #777 !important;
                }

                &[is-other]::after {
                    border-top-color: #777 !important;
                }

                &::after {
                    z-index: 1;
                    border-left: var(--theme-h4) solid transparent;
                    border-top-color: var(--theme-color);
                    border-top-width: var(--theme-h4);
                    border-top-style: solid;
                }

                &[is-today]::after {
                    border-top-color: white !important;
                }
            }

            &[type$="month"], &[type$="year"] {
                width: calc(100% / 3);
            }

            &[unselectable] {
                color: #dedede !important;
                cursor: default !important;

                &:hover {
                    background-color: transparent !important;
                }
            }
        }
    }
}
