@import "../_vars.scss";

:host {
    vi-input-search {
        line-height: $h2;
        height: $h2;
        border: 1px solid #EAEAEA;
        box-sizing: border-box;

        input {
            padding: $h1 - $h2;
            color: #333;

            &:focus {
                background-color: white;

                + button {
                    background-color: var(--theme-color);
                }
            }
        }
    }
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
    :host main {
        width: 85vw;
        height: 85vh;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    :host main {
        height: 60vh;
        width: 90vw;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
    :host main {
        height: 60vh;
        width: 90vw;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    :host main {
        height: 60vh;
        width: 1000px;
    }
}
