@import "../_vars.scss";

:host {
    --vi-input-search: #{'{
        line-height: var(--theme-h2);
        height: var(--theme-h2);
        border: 1px solid #EAEAEA;
        box-sizing: border-box;
    }'};

    --vi-input-search-input: #{'{
        padding: calc(var(--theme-h1) - var(--theme-h2));
        color: #333;
    }'};

    --vi-input-search-input-focused: #{'{
        background-color: white;
    }'};

    --vi-input-search-input-focused-button: #{'{
        background-color: var(--theme-color);
    }'};
}

:host-context(vi-app[is-phone]) {
    main vi-query-grid {
        width: 85vw;
        min-height: 75vh;
    }
}

:host-context(vi-app[is-tablet]) {
    main vi-query-grid {
        min-height: 60vh;
        width: 90vw;
    }
}

:host-context(vi-app[is-desktop]) {
    main vi-query-grid {
        min-height: 60vh;
        width: 90vw;
    }
}