@import (reference) "../vidyano.less";

vi-action-button {
    display: block;
    box-sizing: border-box;

    button.vi-action-button {
        vertical-align: top;
        text-align: left;
        cursor: pointer;
        height: @h1;
        line-height: @h1;
        width: 100%;
        padding: 0 @h4;
        white-space: nowrap;
        overflow: hidden;

        > vi-resource[icon] {
            height: @h1;

            &.options {
                margin-left: @h5;
                svg {
                    width: 12px;
                    height: 12px;
                }
            }
        }

        &[header] {
            vi-resource {
                display: inline-block;
            }
        }

        > span {
            vertical-align: top;
        }
    }

    &[overflow] {
        vi-resource.options {
            -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
        }
    }

    &[no-label], &[pinned] {
        button.vi-action-button > span {
            display: none;
        }
    }

    &[no-icon] {
        button.vi-action-button > vi-resource[icon] {
            display: none;
        }
    }

    &(:focus) {
        outline: none;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        line-height: @h1;

        li {
            cursor: pointer;
            padding: 0 @h4;
            font-size: 13px;

            .colorize( {
                color: @@color;

                &:hover {
                    background-color: @@color-faint;
                }
            });
        }
    }
}