@import "../vars.scss";

:host {
    display: block;
    box-sizing: border-box;

    button {
        vertical-align: top;
        text-align: left;
        cursor: pointer;
        height: var(--theme-h1);
        line-height: var(--theme-h1);
        width: 100%;
        padding: 0 var(--theme-h4);
        white-space: nowrap;
        overflow: hidden;

        > vi-icon {
            display: inline-block;
            height: var(--theme-h1);
        }

        > span, > vi-icon {
            vertical-align: top;
        }

        &.options {
            padding-right: 0 !important;
        }
    }

    &[icon-space] {
        vi-icon[source^="Action_"] {
            visibility: hidden;
        }
    }

    &[overflow] {
        &:not([icon-space]) {
            button {
                padding-left: 0 !important;
            }
        }

        vi-icon {
            vertical-align: top;
            width: var(--theme-h2);

            &[source="Down"] {
                -moz-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                -o-transform: rotate(-90deg);
                -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
            }
        }
    }

    &[no-label]:not([force-label]), &[pinned]:not([force-label]) {
        button > span {
            display: none;
        }
    }

    &[no-icon] {
        button > vi-icon {
            display: none;
        }
    }

    &:focus {
        outline: none;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        line-height: var(--theme-h1);

        li {
            cursor: pointer;
            padding: 0 var(--theme-h4);
            font-size: 13px;
            color: var(--theme-color);

            &:hover {
                background-color: var(--theme-color-faint);
            }
        }
    }
}