@import (reference) "../vidyano.less";

vi-action-bar {
    min-height: @h1;
    .layout-horizontal();
    .noSelection();

    &([isEmpty]) {
        display: none !important;
    }

	.actions {
		overflow: hidden;
	}

    .action {
        vi-icon[hasResource] {
            padding-right: 2px;
        }
    }

    vi-overflow {
        vi-action-button {
            text-align: left;
        }
    }

    vi-input-search {
        .self-center();
        margin: 0 @h5;
        padding: @h5 0 @h5 @h5;
        min-width: 16em;
        height: @h1;
        border-left: 1px solid #EAEAEA;
        box-sizing: border-box;

        input {
            box-sizing: border-box;
            border-width: 1px 0 1px 1px;
            border-style: solid;
            border-color: transparent;
            padding: 0 (@h1 - @h2);
            color: #333;

            &:focus {
                background-color: white;
                border-color: #EAEAEA;

                + button {
                    .theme-color(background-color);
                }
            }

            &:not(:focus) {
                .placeholder-color(#B3B3B3);
            }
        }

        button {
            fill: #B3B3B3;
        }
    }
}
