@import "../_vars.scss";

:host {
    display: block;
    margin-bottom: var(--theme-h2);
    cursor: pointer;

    h3 {
        font-weight: lighter;
        font-size: 32px;
        margin: 0;
        color: var(--theme-color);
    }

    h4 {
        font-size: 13px;
        margin: 0;
        font-weight: 300;
        color: #666;
    }

    &[is-vidyano] {
        #vidyano {
            padding-left: var(--theme-h1);

            > div {
                &:not(:last-child) {
                    margin-bottom: var(--theme-h4);
                    margin-top: var(--theme-h3);
                }

                label {
                    display: block;
                    font-size: calc(var(--theme-h4) - 1px);
                    font-weight: bold;
                    margin-bottom: var(--theme-h5);
                    font-weight: 400;
                    color: #888;
                    overflow: hidden;
                    text-transform: uppercase;
                }

                input {
                    box-sizing: border-box;
                    margin: 0;
                    padding: var(--theme-h5);
                    border: 1px solid #ddd;
                    outline: none;
                    width: 100%;

                    &:focus {
                        border-color: var(--theme-color-light);
                    }
                }

                &:last-of-type {
                    line-height: var(--theme-h2);
                    height: var(--theme-h2);
                    margin-top: var(--theme-h3);
                    @include layout-horizontal();

                    vi-checkbox:not([checked]) {
                        color: #888;
                        fill: #bbb;
                    }

                    vi-checkbox[checked] {
                        color: #666;
                    }

                    button {
                        cursor: pointer;
                        padding: 0 var(--theme-h4);
                        box-sizing: content-box;
                        height: var(--theme-h2);
                        @include theme-color-button();
                    }
                }
            }
        }

        &:only-of-type {
            cursor: default;

            h3, h4 {
                display: none;
            }

            #vidyano {
                padding-left: 0;
                max-height: 200px;
            }
        }
    }

    &[signing-in] button {
        text-align: left;
    }
}