@import "../_vars.scss";

:host {
    @include default-variables();
    display: block;
    position: relative;

    &[scroll] {
        vi-scroller {
            @include fit();
        }
    }

    &.fit {
        ::content vi-app {
            @include fit();
        }
    }

    ::content {
        marked-element {
            display: block;
        }
    }

    &[is-phone] ::content [hide-phone] {
        display: none !important;
    }

    &[is-tablet] ::content [hide-tablet] {
        display: none !important;
    }

    &[is-desktop] ::content [hide-desktop] {
        display: none !important;
    }
}