@import "../_vars.scss";

:host {
    @include default-variables();
    display: block;
    position: relative;

    &[scroll] {
        vi-scroller {
            @include fit();
        }
    }

    &.fit {
        ::content vi-app {
            @include fit();
        }
    }

    ::content {
        marked-element {
            display: block;

            p {
                padding-top: 1em;
                padding-bottom: 1em;
                margin: 0;
            }
        }
    }
}