@import "../_vars.scss";

:host {
    font-size: 13px;
    line-height: $h1;
    height: $h1;
    align-items: flex-end;
    cursor: pointer !important;
    padding: 0 $h4;
    border-bottom: 3px solid transparent;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    color: var(--theme-color);
    fill: var(--theme-color);

    &:hover {
        background-color: var(--theme-color-faint);
    }

    span {
        line-height: $h1 - 3px;

        &.badge {
            background-color: var(--theme-color-lighter);
            color: white;
            padding: ($h5 / 2) ($h5 + 1px) ($h5 / 2) $h5;
            margin-left: 2px;
            border-radius: 50%;
            font-size: 10px;
        }
    }

    &[is-selected] {
        border-bottom-color: var(--theme-color);

        span {
            &.badge {
                background-color: var(--theme-color);
            }

            &:not(.badge) {
                font-weight: 600;
            }
        }
    }
}
