@import "../_vars.scss";

:host {
    display: block;
    @include relative();
    line-height: var(--theme-h1);
    height: var(--theme-h1);
    @include noSelection();

    vi-overflow {
        [toggle] {
           &:hover{
               background-color: var(--theme-color-faint);
           }
        }
    }
}