@import "../../vars.scss";

:host {
    @include layout-horizontal();
    overflow: hidden;

    marked-element {
        @include flex();
        resize: none;
    }

    marked-element, textarea {
        color: var(--vi-persistent-object-attribute-foreground, --theme-foreground);

        &[sensitive] {
            @apply(--vi-app--sensitive);
        }
    }
}