vi-persistent-object-attribute-flags-enum {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}
vi-persistent-object-attribute-flags-enum vi-popup {
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
vi-persistent-object-attribute-flags-enum vi-popup ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
vi-persistent-object-attribute-flags-enum vi-popup ul li {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 6px;
  line-height: 28px;
  height: 28px;
  cursor: pointer;
  overflow: hidden;
}
[theme-color-1] vi-persistent-object-attribute-flags-enum vi-popup ul li:hover {
  background-color: #ecf2f7;
}
[theme-color-2] vi-persistent-object-attribute-flags-enum vi-popup ul li:hover {
  background-color: #e0f2f1;
}
vi-persistent-object-attribute-flags-enum vi-popup ul li vi-checkbox:not([checked]) {
  fill: #aaa;
}
vi-persistent-object-attribute-flags-enum vi-popup > #content {
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -o-transform: translateY(2px);
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}
