@import "../../_vars.scss";

:host {
    @include layout-horizontal();

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            @include noSelection();
            padding-left: var(--theme-h5);
            line-height: calc(var(--theme-h2) - 2px);
            height: calc(var(--theme-h2) - 2px);
            cursor: pointer;
            overflow: hidden;

            &:hover {
                background-color: var(--theme-color-faint);
            }

            vi-checkbox:not([checked]) {
                fill: #aaa;
            }
        }
    }

    input, span {
        color: var(--vi-persistent-object-attribute-foreground, var(--theme-foreground));
        
        &[sensitive] {
            --at-apply: --vi-app--sensitive;
        }
    }    

    vi-icon {
        height: calc(var(--theme-h2) - 2px);
        width: calc(var(--theme-h2) - 2px);
        fill: var(--vi-select-icon-color, var(--theme-foreground));
        --at-apply: --vi-persistent-object-attribute-flags-enum-icon;
    }

    vi-popup[disabled] {
        vi-icon {
            opacity: 0.25;
            cursor: default;
        }
    }
}