@import "../_vars.scss";

:host {
    &[is-profiling] {
        padding-top: var(--theme-h1);

        vi-profiler {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
        }
    }

    #viConfigure {
        vi-popup-menu-item, vi-popup-menu-item-split {
            --vi-popup-menu-item-height: var(--theme-h2);
            --vi-popup-menu-item-icon-width: var(--theme-h2);
        }
    }
}