vi-app {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 15px;
}
vi-app button,
vi-app input,
vi-app optgroup,
vi-app select,
vi-app textarea {
  margin: 0;
  font-family: inherit;
}
vi-app pre {
  border: none;
  font-size: 1em;
  display: block;
  height: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
}
vi-app button {
  border: none;
  outline: none;
}
vi-app a:focus,
vi-app a:active,
vi-app button::-moz-focus-inner,
vi-app input[type="reset"]::-moz-focus-inner,
vi-app input[type="button"]::-moz-focus-inner,
vi-app input[type="submit"]::-moz-focus-inner,
vi-app select::-moz-focus-inner,
vi-app input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: 0;
  outline: 0;
}
vi-app .vertical.layout .flex {
  flex-basis: 0.000000001px;
}
vi-app iron-a11y-keys {
  display: none;
}
vi-app.dragging {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
vi-app.dragging * {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
vi-app template {
  display: none;
}
vi-app-route {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  background-color: white;
}
vi-app-route:not([active]) {
  display: none;
}
vi-app-route > * {
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
