@import "../vars.scss";

:host {
    @include default-variables();
    @include layout-horizontal();
    position: relative;
    overflow-x: hidden;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: var(--theme-foreground);
    fill: var(--theme-foreground);
    outline: none;

    @for $c from 1 through length($list-colors) {
        $color: nth($list-colors, $c);

        @for $t from 1 through length($list-color-tints) {
            $colorTint: #{$color+nth($list-color-tints, $t)};

            #{"--colors-"+$colorTint}: map-get($colors, #{$colorTint});
        }
    }

    &[initializing] {
        vi-app-route, #dialogs {
            display: none !important;
        }
    }

    &[is-phone] ::content [hide-phone] {
        display: none !important;
    }

    &[is-tablet] ::content [hide-tablet] {
        display: none !important;
    }

    &[is-desktop] ::content [hide-desktop] {
        display: none !important;
    }

    &[is-profiling] {
        padding-top: var(--theme-h1);

        vi-profiler {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
        }
    }

    &[is-tracking] {
        @include noSelection();
    }

    vi-app-config {
        display: none;
    }

    #viConfigure {
        vi-popup-menu-item, vi-popup-menu-item-split {
            --vi-popup-menu-item-height: var(--theme-h2);
            --vi-popup-menu-item-icon-width: var(--theme-h2);
        }
    }

    ::content {
        input, textarea {
            font-size: 13px;
        }
    }

    [dialog] {
        @include layout-vertical();
        @apply(--theme-shadow);
        background-color: white;
        max-height: 90vh;
        max-width: 90vw;

        &[dragging] {
            @include noSelection();
            cursor: move !important;
        }

        &[no-header] ::content {
            > header {
                display: none;
            }

            > main {
                padding-top: var(--theme-h4);
                margin-top: 0;
            }
        }

        ::content {
            > header, > footer {
                background-color: #FAFAFA;
            }

            > header {
                -webkit-flex: 0 0 auto;
                -moz-flex: 0 0 auto;
                -ms-flex: 0 0 auto;
                flex: 0 0 auto;
                line-height: var(--theme-h1);
                padding: var(--theme-h5) var(--theme-h4);
                height: calc(var(--theme-h1) + var(--theme-h5) * 2);
                border-bottom: 1px solid #EEE;
                box-sizing: border-box;

                h4 {
                    margin: 0;
                    font-weight: 500;
                    font-size: 120%;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                button.close {
                    margin: 0;
                    padding: 0 var(--theme-h5);
                    fill: #888;
                    background: none;
                    border: none;
                    cursor: pointer;

                    &:hover {
                        fill: #555;
                    }

                    &:active {
                        fill: #333;
                    }

                    &:focus {
                        outline: none;
                    }
                }
            }

            > footer {
                padding: var(--theme-h4);
                border-top: 1px solid #EEE;
                -webkit-flex: 0 0 auto;
                -moz-flex: 0 0 auto;
                -ms-flex: 0 0 auto;
                flex: 0 0 auto;

                button {
                    line-height: var(--theme-h2);
                    padding: 0 var(--theme-h5);

                    &:not(:first-of-type) {
                        margin-left: var(--theme-h5);
                    }
                }
            }

            > main {
                position: relative;
                z-index: 1;
            }
        }
    }
}