@import "../vars.scss";

:host {
    @include default-variables();
    @include layout-horizontal();
    overflow-x: hidden;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: var(--theme-foreground);
    fill: var(--theme-foreground);
    outline: none;

    @for $c from 1 through length($list-colors) {
        $color: nth($list-colors, $c);

        @for $t from 1 through length($list-color-tints) {
            $colorTint: #{$color+nth($list-color-tints, $t)};

            #{"--colors-"+$colorTint}: map-get($colors, #{$colorTint});
        }
    }

    > * {
        overflow: hidden;
    }
}