@import "../vars.scss";

:host {
    height: var(--theme-h1);
    line-height: var(--theme-h1);
    @include noSelection();
    @include layout-horizontal();
    @include relative();

    #visible {
        position: relative;
        overflow: hidden;

        vi-size-tracker {
            z-index: -1;
        }
    }

    #overflowPopup {
        position: relative;

        button[header] {
            display: block;
            width: var(--theme-h1);
            font-weight: bold;
        }
    }

    &:not([has-overflow]) {
        #overflowPopup {
            display: none;
        }
    }

    vi-popup {
        &[open] {
            button[header] {
                background-color: var(--theme-color-faint);
            }
        }
    }
}
