@import (reference) "../vidyano.less";

vi-overflow {
    height: @h1;
    line-height: @h1;
    .noSelection();
    .layout-horizontal();
    .relative();

    #visible {
        position: relative;
        overflow: hidden;

        vi-size-tracker {
            z-index: -1;
        }
    }

    #overflowPopup.vi-overflow {
        position: relative;

        button.vi-overflow {
            display: block;
            background-color: transparent;
            outline: none;
            border: none;
            margin: 0;
            box-sizing: border-box;
            width: @h1;
            cursor: pointer;
            font-weight: bold;
            background-color: transparent;
            .theme-color(color);

            > * {
                font-weight: normal;
            }
        }

        &:hover {
            button.vi-overflow {
                .theme-color(background-color, "faint");
            }
        }
    }

    &:not([has-overflow]) {
        #overflowPopup {
            display: none;
        }
    }
}
