@import "../../vars.scss";

:host {
    @include layout-horizontal();
    overflow: hidden;

    textarea {
        resize: none;
    }

    pre, textarea {
        color: var(--vi-persistent-object-attribute-foreground, --theme-foreground);

        &[sensitive] {
            @apply(--vi-app--sensitive);
        }
    }

    pre {
        white-space: pre-line;
    }
}