vi-size-tracker .resize-triggers {
  position: relative;
  visibility: hidden;
}
vi-size-tracker .resize-triggers,
vi-size-tracker .resize-triggers > div,
vi-size-tracker .resize-triggers .contract-trigger:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
vi-size-tracker .resize-triggers > div {
  background: #eee;
  overflow: auto;
}
vi-size-tracker .resize-triggers .contract-trigger:before {
  width: 200%;
  height: 200%;
  min-width: 1px;
  min-height: 1px;
}
