@import "../_vars.scss";

$footerHeight: var(--theme-h1);

:host {
    border-top: 1px solid transparent;
    @include layout-horizontal();
    background-color: rgba(255, 255, 255, 0.08);
    border-top-color: rgba(255, 255, 255, 0.08);

    button {
        height: $footerHeight !important;
        line-height: $footerHeight !important;
        cursor: pointer;

        &#signIn {
            @include theme-color-button();

            > vi-icon {
                height: $footerHeight !important;
                margin-left: var(--theme-h5);
            }
        }

        &#settings {
            width: $footerHeight;
            box-sizing: border-box;
            border-left: 1px solid rgba(255, 255, 255, 0.12);
            @include color-button(rgba(255, 255, 255, 0.05));
        }

        > span {
            display: inline-block;
            vertical-align: top;
            line-height: $footerHeight;
            height: $footerHeight;
        }

        > vi-icon {
            display: inline-block;
            fill: white;
        }
    }

    &:not([is-signed-in]) {
        button {
            cursor: pointer;
        }
    }

    &[collapsed] {
        #signedIn{
            display: none;
        }

        #signIn {
            & > span {
                display: none;
            }

            vi-icon {
                margin-left: 0 !important;
            }
        }

        button.vi-user#settings {
            border-left-width: 0;
        }
    }
}
