@import (reference) "../vidyano.less";

@footerHeight: @h1;

vi-user {
    border-top: 1px solid transparent;
    .layout-horizontal();

    .colorize( {
        background-color: fadeout(white, 92%);
        border-top-color: fadeout(white, 92%);
    });

    > span {
        line-height: @footerHeight;
        height: @footerHeight;
    }

    button.vi-user {
        height: @footerHeight !important;
        line-height: @footerHeight !important;
        cursor: pointer;

        &#signIn {
            .colorize( {
                .colorize-button(@@color);
            });

            > vi-resource {
                height: @footerHeight !important;
                margin-left: @h5;
            }
        }

        &#settings {
            width: @footerHeight;
            box-sizing: border-box;

            .colorize( {
                .colorize-button(fadeout(white, 95%));
                border-left: 1px solid fadeout(white, 88%);
            });
        }

        > vi-resource {
            fill: white;
        }
    }

    &:not([is-signed-in]) {
        button.vi-user {
            cursor: pointer;
        }
    }

    &[collapsed] {
        #signedIn{
            display: none;
        }
        
        #signIn {
            & > span {
                display: none;
            }

            vi-resource {
                margin-left: 0 !important;
            }
        }

        button.vi-user#settings {
            border-left-width: 0;
        }
    }
}