@import "../_vars.scss";

$footerHeight: var(--theme-h1);
$background-color: #2b3940;

:host {
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.1);

    .username {
        line-height: calc(var(--theme-h2) - 2px);
        background-color: var(--vi-user--background-color, $background-color);
        margin-bottom: 1px;
        white-space: nowrap;

        span {
            padding: 0 2px;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 12px;
        }
    }

    .actions {
        @include layout-horizontal();
        @include layout-around-justified();
        background-color: var(--vi-user--background-color, $background-color);

        button {
            height: var(--theme-h2) !important;
            line-height: var(--theme-h2) !important;
            cursor: pointer;
            fill: #f0f0f0;
            --vi-icon-height: var(--theme-h4);
            --vi-icon-width: var(--theme-h4);
        }
    }

    button {
        width: $footerHeight;
        height: $footerHeight !important;
        line-height: $footerHeight !important;
        cursor: pointer;

        &#signIn {
            @include theme-color-button();

            > vi-icon {
                height: $footerHeight !important;
                margin-left: var(--theme-h5);
            }
        }

        &#settings {
            width: $footerHeight;
            box-sizing: border-box;
            border-left: 1px solid rgba(255, 255, 255, 0.12);
            @include color-button(rgba(255, 255, 255, 0.05));
        }

        > span {
            display: inline-block;
            vertical-align: top;
            line-height: $footerHeight;
            height: $footerHeight;
        }

        > vi-icon {
            display: inline-block;
            fill: white;
        }
    }

    &:not([is-signed-in]) {
        button {
            cursor: pointer;
        }
    }

    &[collapsed] {
        #signedIn {
            display: none;
        }

        #signIn {
            & > span {
                display: none;
            }

            vi-icon {
                margin-left: 0 !important;
            }
        }

        button.vi-user#settings {
            border-left-width: 0;
        }
    }
}
