vi-user {
  border-top: 1px solid transparent;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}
[theme-color-1] vi-user {
  background-color: rgba(255, 255, 255, 0.08);
  border-top-color: rgba(255, 255, 255, 0.08);
}
[theme-color-2] vi-user {
  background-color: rgba(255, 255, 255, 0.08);
  border-top-color: rgba(255, 255, 255, 0.08);
}
vi-user > span {
  line-height: 40px;
  height: 40px;
}
vi-user button.vi-user {
  height: 40px !important;
  line-height: 40px !important;
  cursor: pointer;
}
[theme-color-1] vi-user button.vi-user#signIn {
  background-color: #4682b4;
  color: white;
  -moz-transition-property: fill, color, background-color;
  -o-transition-property: fill, color, background-color;
  -webkit-transition-property: fill, color, background-color;
  transition-property: fill, color, background-color;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
[theme-color-1] vi-user button.vi-user#signIn:hover {
  background-color: #4682b4;
}
[theme-color-1] vi-user button.vi-user#signIn:active {
  background-color: #38678f;
}
[theme-color-1] vi-user button.vi-user#signIn[disabled] {
  fill: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
}
[theme-color-2] vi-user button.vi-user#signIn {
  background-color: #009688;
  color: white;
  -moz-transition-property: fill, color, background-color;
  -o-transition-property: fill, color, background-color;
  -webkit-transition-property: fill, color, background-color;
  transition-property: fill, color, background-color;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
[theme-color-2] vi-user button.vi-user#signIn:hover {
  background-color: #009688;
}
[theme-color-2] vi-user button.vi-user#signIn:active {
  background-color: #00635a;
}
[theme-color-2] vi-user button.vi-user#signIn[disabled] {
  fill: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
}
vi-user button.vi-user#signIn > vi-resource {
  height: 40px !important;
  margin-left: 6px;
}
vi-user button.vi-user#settings {
  width: 40px;
  box-sizing: border-box;
}
[theme-color-1] vi-user button.vi-user#settings {
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
  -moz-transition-property: fill, color, background-color;
  -o-transition-property: fill, color, background-color;
  -webkit-transition-property: fill, color, background-color;
  transition-property: fill, color, background-color;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-left: 1px solid rgba(255, 255, 255, 0.12);
}
[theme-color-1] vi-user button.vi-user#settings:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
[theme-color-1] vi-user button.vi-user#settings:active {
  background-color: rgba(230, 230, 230, 0.05);
}
[theme-color-1] vi-user button.vi-user#settings[disabled] {
  fill: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
}
[theme-color-2] vi-user button.vi-user#settings {
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
  -moz-transition-property: fill, color, background-color;
  -o-transition-property: fill, color, background-color;
  -webkit-transition-property: fill, color, background-color;
  transition-property: fill, color, background-color;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-left: 1px solid rgba(255, 255, 255, 0.12);
}
[theme-color-2] vi-user button.vi-user#settings:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
[theme-color-2] vi-user button.vi-user#settings:active {
  background-color: rgba(230, 230, 230, 0.05);
}
[theme-color-2] vi-user button.vi-user#settings[disabled] {
  fill: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
}
vi-user button.vi-user > vi-resource {
  fill: white;
}
vi-user:not([is-signed-in]) button.vi-user {
  cursor: pointer;
}
