@import "../../../_vars.scss";

:host {
    display: block;
    padding: 0 1px;
    overflow: hidden;

    ::slotted(*) {
        height: var(--vi-query-grid--row-height);
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}