@import "../../vars.scss";

:host {
    @include noSelection();

	&:not([editing]) {
        height: 16px;
        line-height: 16px;
	}
}


:host-context(vi-persistent-object-attribute-as-detail) {
    border: 1px solid #dddddd;
    margin: 0 1px;
    padding: 0 $h5;
}