@import "../../vars.scss";

:host {
    @include noSelection();

	&:not([editing]) {
        height: 16px;
        line-height: 16px;
	}

    --vi-select-input: #{'{
        color: var(--vi-persistent-object-attribute-foreground, --vi-theme-foreground);
    }'};

    vi-checkbox {
        color: var(--vi-persistent-object-attribute-foreground, --vi-theme-foreground);
    }
}


:host-context(vi-persistent-object-attribute-as-detail) {
    border: 1px solid #dddddd;
    margin: 0 1px;
    padding: 0 var(--theme-h5);
}