@import (reference) "../persistent-object-attribute.less";

vi-persistent-object-attribute-boolean, vi-persistent-object-attribute-nullable-boolean {
    @include noSelection();
    display: block;

    vi-checkbox {
        > vi-icon:not([hidden]) + span {
            padding-left: $h5;
        }
    }

	&:not([editing]) {
        line-height: $non-edit-line-height;

		vi-icon {
            height: $non-edit-line-height;
            line-height: $non-edit-line-height;
        }

        vi-icon, span {
            vertical-align: top;
		    line-height: $non-edit-line-height;
        }
	}
}

vi-persistent-object-attribute-nullable-boolean {
    @include layout-horizontal();
}

vi-persistent-object-attribute-as-detail vi-persistent-object-attribute-boolean[editing] {
    border: 1px solid #dddddd;
    margin: 0 1px;
    padding: 0 $h5;
}
