@import (reference) "../vidyano.less";

vi-persistent-object-dialog {
    vi-dialog .content {
        .layout-horizontal();
        width: 500px;
        padding: @h5;

        > div {
            .flex();
            overflow: hidden;
        }
    }
}
