@import "../vars.scss";

:host {
    --vi-persistent-object-dialog-base-width: 400px;

    main {
        @include layout-vertical();
        padding: 0;

        > vi-persistent-object-tab-presenter {
            @include flex();
        }
    }
}

:host-context([is-phone]) main {
    width: 85vw;
}

:host-context([is-tablet]), :host-context([is-desktop]) {
    main {
        width: var(--vi-persistent-object-dialog-computed-width);
    }
}