@import (reference) "../vidyano.less";

vi-persistent-object-dialog {
    vi-dialog .content {
        .layout-horizontal();
        min-width: 500px;
        padding: 0;

        > div {
            .flex();
            overflow: auto;

            vi-persistent-object-tab {
                margin-right: auto !important;
                overflow-y: auto;
            }
        }
    }
}

@media (max-width: 767px) {
    vi-persistent-object-dialog vi-dialog .content {
        min-width: 0;
        width: 85vw;
    }
}
