@import "../vars.scss";

:host {
    --vi-persistent-object-dialog-base-width: 400px;

    main {
        @include layout-vertical();
        padding: 0;

        > vi-persistent-object-tab-presenter {
            @include flex();
        }
    }
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
    :host main {
        width: 85vw;
        max-height: 50vh;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    :host main {
        width: var(--vi-persistent-object-dialog-computed-width);
        max-width: 90vw;
        max-height: 50vh;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
    :host main {
        width: var(--vi-persistent-object-dialog-computed-width);
        max-width: 900px;
        max-height: 50vh;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    :host main {
        width: var(--vi-persistent-object-dialog-computed-width);
        max-width: 1100px;
        max-height: 50vh;
    }
}