@import "../_vars.scss";

:host {
    @include layout-horizontal();
    line-height: var(--theme-h2);
    position: relative;
    --at-apply: --vi-input-search;

    input {
        border: none;
        outline: none;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding-right: var(--theme-h2);
        padding-left: var(--theme-h5);
        background-color: transparent;
        color: white;
        width: 100%;

        &::-webkit-input-placeholder {
            color: var(--vi-input-search-placeholder-color, #aaa);
        }

        &::-moz-placeholder {
            color: var(--vi-input-search-placeholder-color, #aaa);
            opacity: 1;
        }

        &:-ms-input-placeholder {
            color: var(--vi-input-search-placeholder-color, #aaa);
        }

        --at-apply: --vi-input-search-input;
    }

    button {
        position: absolute;
        top: 1px;
        right: 1px;
        bottom: 1px;
        border: none;
        outline: none;
        fill: #aaa;
        cursor: pointer;
        width: var(--theme-h2);
        background-color: transparent;
        margin: 1px 1px 1px 0;
        --at-apply: --vi-input-search-button;
    }

    input:focus {
        --at-apply: --vi-input-search-input-focused;

        ~ button {
            fill: var(--theme-color);
            --at-apply: --vi-input-search-input-focused-button;

            &.search {
                fill: #B3B3B3;
                --at-apply: --vi-input-search-input-focused-button-search;
            }

            &.reset {
                --at-apply: --vi-input-search-input-focused-button-reset;
            }
        }
    }
}