@import "../vars.scss";

:host {
    @include layout-horizontal();
    line-height: var(--theme-h2);
    @apply(--vi-input-search);
    position: relative;

    input {
        border: none;
        outline: none;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding-right: var(--theme-h5);
        padding-left: var(--theme-h2);
        background-color: transparent;
        color: var(--theme-foreground);
        width: 100%;

        &::-webkit-input-placeholder {
            color: var(--vi-input-search-placeholder-color, #aaa);
        }

        &::-moz-placeholder {
            color: var(--vi-input-search-placeholder-color, #aaa);
            opacity: 1;
        }

        &:-ms-input-placeholder {
            color: var(--vi-input-search-placeholder-color, #aaa);
        }

        @apply(--vi-input-search-input);
    }

    button {
        position: absolute;
        top: 1px;
        bottom: 1px;
        border: none;
        outline: none;
        fill: #aaa;
        cursor: pointer;
        width: var(--theme-h2);
        background-color: transparent;
        margin: 1px 1px 1px 0;

        &.search {
            left: 1px;
        }

        &.reset {
            right: 1px;
        }

        @apply(--vi-input-search-button);
    }

    input:focus {
        @apply(--vi-input-search-input-focused);

        ~ button {
            fill: var(--theme-color);
            @apply(--vi-input-search-input-focused-button);

            &.search {
                fill: #B3B3B3;
                @apply(--vi-input-search-input-focused-button-search);
            }

            &.reset {
                @apply(--vi-input-search-input-focused-button-reset);
            }
        }
    }
}