@import (reference) "../persistent-object-attribute.less";

vi-persistent-object-attribute-as-detail > table {
    table-layout: fixed;
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
}
