vi-persistent-object-attribute-as-detail {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}
vi-persistent-object-attribute-as-detail[initializing] #table {
  opacity: 0;
}
vi-persistent-object-attribute-as-detail #table {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  line-height: 30px;
}
vi-persistent-object-attribute-as-detail #table #head {
  border-bottom: 1px solid #dddddd;
  height: 30px;
}
vi-persistent-object-attribute-as-detail #table #head .column label {
  display: block;
  vertical-align: top;
  padding: 0 4px;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-align: left;
  font-weight: bold;
  font-size: 11px;
  letter-spacing: 0.5px;
}
vi-persistent-object-attribute-as-detail #table #body {
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
vi-persistent-object-attribute-as-detail #table #body .row {
  white-space: nowrap;
  font-size: 0;
}
vi-persistent-object-attribute-as-detail #table #body .row .column {
  padding: 0 1px 1px 0;
  vertical-align: top;
}
vi-persistent-object-attribute-as-detail #table #body .row .column:last-of-type {
  padding-right: 0;
}
vi-persistent-object-attribute-as-detail #table .row {
  font-size: 0;
}
vi-persistent-object-attribute-as-detail #table .row .column {
  display: inline-block;
  font-size: 13px;
  box-sizing: border-box;
}
vi-persistent-object-attribute-as-detail #table button.action {
  height: 30px;
  line-height: 30px;
}
vi-persistent-object-attribute-as-detail[editing] #table {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
vi-persistent-object-attribute-as-detail[editing] #table #head {
  background-color: #f9f9f9;
  border: 1px solid #dddddd;
}
vi-persistent-object-attribute-as-detail[editing] #table #head .column label {
  border-right: 1px solid #dddddd;
  margin-right: 1px;
}
vi-persistent-object-attribute-as-detail[editing] #table #body {
  margin-top: 1px !important;
}
vi-persistent-object-attribute-as-detail[editing] #table #body .row {
  height: 32px;
  line-height: 32px;
}
vi-persistent-object-attribute-as-detail[editing] #table #body .row div.delete-button {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  padding: 0 0 1px 1px;
  height: 30px;
  line-height: 30px;
}
vi-persistent-object-attribute-as-detail[editing] #table #body .row div.delete-button button {
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  box-sizing: border-box;
  border: 1px solid #dddddd;
  padding: 0 12px;
}
[theme-color-1] vi-persistent-object-attribute-as-detail[editing] #table #body .row div.delete-button button {
  fill: #6a9bc3;
}
[theme-color-2] vi-persistent-object-attribute-as-detail[editing] #table #body .row div.delete-button button {
  fill: #4db6ac;
}
vi-persistent-object-attribute-as-detail[editing] #table #body .row div.delete-button button:not(:hover):not(:active) {
  background-color: transparent;
}
vi-persistent-object-attribute-as-detail[editing] #table #body .row div.delete-button button vi-resource {
  line-height: 30px;
  height: 30px;
}
vi-persistent-object-attribute-as-detail[editing] #table #body .row div.delete-button button vi-resource svg {
  width: 12px;
  height: 12px;
}
vi-persistent-object-attribute-as-detail[editing] #table #body .row:last-of-type {
  height: 30px;
}
vi-persistent-object-attribute-as-detail[editing] #table #body .row:last-of-type .column,
vi-persistent-object-attribute-as-detail[editing] #table #body .row:last-of-type div.delete-button {
  padding-bottom: 0;
}
vi-persistent-object-attribute-as-detail[editing]:not([can-delete]) #table #head .column:last-of-type label {
  border-right: 0;
}
vi-persistent-object-attribute-as-detail[editing] .add.vi-persistent-object-attribute-as-detail.foot {
  height: 30px;
  background-color: #f9f9f9;
  border: 1px solid #dddddd;
}
vi-persistent-object-attribute-as-detail[editing] .add.vi-persistent-object-attribute-as-detail button {
  height: 30px;
}
vi-persistent-object-attribute-as-detail:not([editing]) #table {
  border: none;
}
vi-persistent-object-attribute-as-detail:not([editing]) #table #body .row:nth-child(odd) {
  background-color: #FCFCFC;
}
vi-persistent-object-attribute-as-detail:not([editing]) #table #body .row:nth-child(even) {
  background-color: #F7F7F7;
}
vi-persistent-object-attribute-as-detail:not([editing]) #table #body .row .column {
  padding: 1px 4px;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
vi-persistent-object-attribute-as-detail:not([editing]) #table .column:not(:last-of-type) {
  border-right: 1px solid #dddddd;
}
vi-persistent-object-attribute-as-detail:not([editing]) #foot {
  display: none;
}
vi-persistent-object-attribute-as-detail-row {
  display: block;
}
