@import "../_vars.scss";

:host {
    display: block;
    @include fit();
    @include layout-vertical-reverse();
    --vi-action-bar-style: {
        box-shadow: var(--theme-box-shadow);
        z-index: 1;
    };

    header {
        @include page-title();
    }

    vi-query-items-presenter {
        margin: 3px 0 0 0;
        z-index: 0;
    }

    &[no-actions] {
        > header {
            box-shadow: var(--theme-box-shadow);
        }

        vi-action-bar {
            display: none !important;
        }
    }

    &[hide-header] {
        vi-query-items-presenter {
            margin: 0;
        }
    }
}