vi-query {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
vi-query > header {
  line-height: 40px;
  z-index: 2;
  display: block;
  color: white;
  padding-top: 2px;
  line-height: 38px;
  min-height: 40px;
  box-sizing: border-box;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  padding: 0 12px;
}
[theme-color-1] vi-query > header {
  background-color: #126790;
}
[theme-color-2] vi-query > header {
  background-color: #009688;
}
vi-query vi-action-bar {
  background-color: #f9f9f9;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  z-index: 1;
}
vi-query vi-query-items-presenter {
  margin: 3px 1px 1px 1px;
  z-index: 0;
}
vi-query[no-actions] > header {
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
}
vi-query[no-actions] vi-action-bar {
  display: none !important;
}
