@import "../_vars.scss";

:host {
    @include layout-vertical();

    header {
        background-color: var(--vi-query--header-background, white);
        padding: var(--theme-h3) var(--theme-h2);

        h1 {
            line-height: var(--theme-h1);
            font-weight: 600;
            margin: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    main {
        padding: var(--theme-h2);
        background-color: var(--vi-query--main-background, #F4F8F9);
    }
}

:host-context([flyout-open]) {
    vi-query-items-presenter {
        margin-right: 50vw;
    }
}