@import (reference) "../vidyano.less";

:host {
    display: block;
    .fit();
    .layout-vertical-reverse();

    header {
        line-height: @h1;
        z-index: 2;
        .page-title();
    }

    vi-action-bar {
        background-color: @actionsBG;
        .shadow();
        z-index: 1;
    }

    vi-query-items-presenter {
        margin: 3px 1px 1px 1px;
        z-index: 0;
    }

    &[no-actions] {
        > header {
            .shadow();
        }

        vi-action-bar {
            display: none !important;
        }
    }
}