@import "../_vars.scss";

:host {
    float: left;
    position: relative;
    height: var(--vi-persistent-object-tab-cell-height);
    line-height: var(--vi-persistent-object-tab-cell-height);

    #background {
        position: absolute;
        left: 2px;
        top: 2px;
        bottom: 2px;
        right: 2px;
        background-color: var(--theme-color-faint);
    }
}