@import (reference) "../vidyano.less";

.color-notification(@color) {
    border-bottom-color: darken(@color, 10%);
    background-color: @color;
    fill: @color;
}

:host {
    .layout-horizontal();
    .layout-center();
    height: @h1;
    box-sizing: border-box;
    border-bottom-width: 2px;
    border-bottom-style: solid;

    &:not([shown]) {
        display: none !important;
    }

    #icon {
        width: @h1;
        line-height: @h1;

        vi-resource {
            height: @h1 - 2px;

            svg {
                width: @h3;
                height: @h3;
            }
        }
    }

    #close {
        cursor: pointer;
        background-color: transparent;
        width: @h1;
        height: @h1;
        line-height: @h1;
        fill: white;

        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }
    }

    .flex {
        color: white;

        span {
            display: block;
            line-height: @h1 - 2px;
            height: @h1 - 2px;
            font-size: 14px;
            overflow: hidden;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            white-space: nowrap;

            a {
                color: inherit;
            }
        }
    }

    vi-resource {
        .layout-horizontal();
        .layout-center-center();

        svg {
            fill: white;
            -moz-transform: none;
            -ms-transform: none;
            -o-transform: none;
            -webkit-transform: none;
            transform: none;
        }
    }

    &[type="error"], &[type="Error"], &[type="0"] {
        .color-notification(@color-error);
    }

    &[type="notice"], &[type="Notice"], &[type="1"] {
        .color-notification(@color-notice);
    }

    &[type="ok"], &[type="OK"], &[type="2"] {
        .color-notification(@color-ok);
    }

    &[type="warning"], &[type="Warning"], &[type="3"] {
        .color-notification(@color-warning);
    }
}
