@import (reference) "../vidyano.less";

.colorizer(@bgColor, @fgColor, @bgHoverColor: lighten(@bgColor, 10%)) {
    background-color: @bgColor;
    color: @fgColor;
    fill: @fgColor;

    &:hover {
        background-color: @bgHoverColor;
    }

    &[disabled] {
        background-color: fadeout(@bgColor, 50%) !important;
        fill: fadeout(@fgColor, 50%) !important;
        color: fadeout(@fgColor, 50%) !important;
    }
}

button[is="vi-button"] {
    .relative();
    cursor: pointer;
    -moz-transition-property: fill, color, background-color;
    -o-transition-property: fill, color, background-color;
    -webkit-transition-property: fill, color, background-color;
    transition-property: fill, color, background-color;
    -moz-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;

    &[disabled] {
        cursor: default;
    }

    &:not([custom-layout]) {
        white-space: nowrap;

        > vi-icon {
            display: inline-block;

            &:not([has-resource]) {
                display: none;
            }
        }

        > span {
            display: inline-block;
            vertical-align: top;
            margin-left: 2px;
        }
    }

    &[type=""], &:not([type]) {
        &:not([inverse]) {
            .colorize( {
                .colorizer(@@color, white, @@color-light);
            });
        }

        &[inverse] {
            .colorize( {
                .colorizer(transparent, @@color, @@color-faint);
            });
        }
    }

    &[type="light-monochrome"] {
        &:not([inverse]) {
            .colorizer(#f0f0f0, white);
        }

        &[inverse] {
            .colorizer(transparent, #f0f0f0, fadeout(#f0f0f0, 90%));
        }
    }

    &[type="danger"] {
        &:not([inverse]) {
            .colorizer(#FF4136, white);
        }

        &[inverse] {
            .colorizer(transparent, #FF4136, fadeout(#FF4136, 90%));
        }
    }

    &[type="safe"] {
        &:not([inverse]) {
            .colorizer(#3D9970, white);
        }

        &[inverse] {
            .colorizer(transparent, #3D9970, fadeout(#3D9970, 90%));
        }
    }
}

vi-popup[open] > [toggle] button[is="vi-button"][header] {
    &[type=""], &:not([type]) {
        &:not([inverse]) {
            .colorize( {
                background-color: @@color-light;
            });
        }

        &[inverse] {
            .colorize( {
                background-color: @@color-faint;
            });
        }
    }

    &[type="light-monochrome"] {
        &:not([inverse]) {
            background-color: lighten(#f0f0f0, 10%);
        }

        &[inverse] {
            background-color: fadeout(#f0f0f0, 90%);
        }
    }

    &[type="danger"] {
        &:not([inverse]) {
            background-color: lighten(#FF4136, 10%);
        }

        &[inverse] {
            background-color: fadeout(#FF4136, 90%);
        }
    }

    &[type="safe"] {
        &:not([inverse]) {
            background-color: lighten(#3D9970, 10%);
        }

        &[inverse] {
            background-color: fadeout(#3D9970, 90%);
        }
    }
}
