button[is="vi-button"] {
  position: relative;
  cursor: pointer;
  -moz-transition-property: fill, color, background-color;
  -o-transition-property: fill, color, background-color;
  -webkit-transition-property: fill, color, background-color;
  transition-property: fill, color, background-color;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
button[is="vi-button"][disabled] {
  cursor: default;
}
[theme-color-1] button[is="vi-button"][type=""]:not([inverse]),
[theme-color-1] button[is="vi-button"]:not([type]):not([inverse]) {
  background-color: #4682b4;
  color: white;
  fill: white;
}
[theme-color-1] button[is="vi-button"][type=""]:not([inverse]):hover,
[theme-color-1] button[is="vi-button"]:not([type]):not([inverse]):hover {
  background-color: #6a9bc3;
}
[theme-color-1] button[is="vi-button"][type=""]:not([inverse])[disabled],
[theme-color-1] button[is="vi-button"]:not([type]):not([inverse])[disabled] {
  background-color: rgba(70, 130, 180, 0.5) !important;
  fill: rgba(255, 255, 255, 0.5) !important;
  color: rgba(255, 255, 255, 0.5) !important;
}
[theme-color-2] button[is="vi-button"][type=""]:not([inverse]),
[theme-color-2] button[is="vi-button"]:not([type]):not([inverse]) {
  background-color: #009688;
  color: white;
  fill: white;
}
[theme-color-2] button[is="vi-button"][type=""]:not([inverse]):hover,
[theme-color-2] button[is="vi-button"]:not([type]):not([inverse]):hover {
  background-color: #4db6ac;
}
[theme-color-2] button[is="vi-button"][type=""]:not([inverse])[disabled],
[theme-color-2] button[is="vi-button"]:not([type]):not([inverse])[disabled] {
  background-color: rgba(0, 150, 136, 0.5) !important;
  fill: rgba(255, 255, 255, 0.5) !important;
  color: rgba(255, 255, 255, 0.5) !important;
}
[theme-color-1] button[is="vi-button"][type=""][inverse],
[theme-color-1] button[is="vi-button"]:not([type])[inverse] {
  background-color: transparent;
  color: #4682b4;
  fill: #4682b4;
}
[theme-color-1] button[is="vi-button"][type=""][inverse]:hover,
[theme-color-1] button[is="vi-button"]:not([type])[inverse]:hover {
  background-color: #ecf2f7;
}
[theme-color-1] button[is="vi-button"][type=""][inverse][disabled],
[theme-color-1] button[is="vi-button"]:not([type])[inverse][disabled] {
  background-color: rgba(0, 0, 0, 0) !important;
  fill: rgba(70, 130, 180, 0.5) !important;
  color: rgba(70, 130, 180, 0.5) !important;
}
[theme-color-2] button[is="vi-button"][type=""][inverse],
[theme-color-2] button[is="vi-button"]:not([type])[inverse] {
  background-color: transparent;
  color: #009688;
  fill: #009688;
}
[theme-color-2] button[is="vi-button"][type=""][inverse]:hover,
[theme-color-2] button[is="vi-button"]:not([type])[inverse]:hover {
  background-color: #e0f2f1;
}
[theme-color-2] button[is="vi-button"][type=""][inverse][disabled],
[theme-color-2] button[is="vi-button"]:not([type])[inverse][disabled] {
  background-color: rgba(0, 0, 0, 0) !important;
  fill: rgba(0, 150, 136, 0.5) !important;
  color: rgba(0, 150, 136, 0.5) !important;
}
button[is="vi-button"][type="light-monochrome"]:not([inverse]) {
  background-color: #f0f0f0;
  color: white;
  fill: white;
}
button[is="vi-button"][type="light-monochrome"]:not([inverse]):hover {
  background-color: #ffffff;
}
button[is="vi-button"][type="light-monochrome"]:not([inverse])[disabled] {
  background-color: rgba(240, 240, 240, 0.5) !important;
  fill: rgba(255, 255, 255, 0.5) !important;
  color: rgba(255, 255, 255, 0.5) !important;
}
button[is="vi-button"][type="light-monochrome"][inverse] {
  background-color: transparent;
  color: #f0f0f0;
  fill: #f0f0f0;
}
button[is="vi-button"][type="light-monochrome"][inverse]:hover {
  background-color: rgba(240, 240, 240, 0.1);
}
button[is="vi-button"][type="light-monochrome"][inverse][disabled] {
  background-color: rgba(0, 0, 0, 0) !important;
  fill: rgba(240, 240, 240, 0.5) !important;
  color: rgba(240, 240, 240, 0.5) !important;
}
button[is="vi-button"][type="danger"]:not([inverse]) {
  background-color: #ff4136;
  color: white;
  fill: white;
}
button[is="vi-button"][type="danger"]:not([inverse]):hover {
  background-color: #ff7169;
}
button[is="vi-button"][type="danger"]:not([inverse])[disabled] {
  background-color: rgba(255, 65, 54, 0.5) !important;
  fill: rgba(255, 255, 255, 0.5) !important;
  color: rgba(255, 255, 255, 0.5) !important;
}
button[is="vi-button"][type="danger"][inverse] {
  background-color: transparent;
  color: #ff4136;
  fill: #ff4136;
}
button[is="vi-button"][type="danger"][inverse]:hover {
  background-color: rgba(255, 65, 54, 0.1);
}
button[is="vi-button"][type="danger"][inverse][disabled] {
  background-color: rgba(0, 0, 0, 0) !important;
  fill: rgba(255, 65, 54, 0.5) !important;
  color: rgba(255, 65, 54, 0.5) !important;
}
button[is="vi-button"][type="safe"]:not([inverse]) {
  background-color: #3d9970;
  color: white;
  fill: white;
}
button[is="vi-button"][type="safe"]:not([inverse]):hover {
  background-color: #50b98a;
}
button[is="vi-button"][type="safe"]:not([inverse])[disabled] {
  background-color: rgba(61, 153, 112, 0.5) !important;
  fill: rgba(255, 255, 255, 0.5) !important;
  color: rgba(255, 255, 255, 0.5) !important;
}
button[is="vi-button"][type="safe"][inverse] {
  background-color: transparent;
  color: #3d9970;
  fill: #3d9970;
}
button[is="vi-button"][type="safe"][inverse]:hover {
  background-color: rgba(61, 153, 112, 0.1);
}
button[is="vi-button"][type="safe"][inverse][disabled] {
  background-color: rgba(0, 0, 0, 0) !important;
  fill: rgba(61, 153, 112, 0.5) !important;
  color: rgba(61, 153, 112, 0.5) !important;
}
[theme-color-1] vi-popup[open] > [toggle] button[is="vi-button"][header][type=""]:not([inverse]),
[theme-color-1] vi-popup[open] > [toggle] button[is="vi-button"][header]:not([type]):not([inverse]) {
  background-color: #6a9bc3;
}
[theme-color-2] vi-popup[open] > [toggle] button[is="vi-button"][header][type=""]:not([inverse]),
[theme-color-2] vi-popup[open] > [toggle] button[is="vi-button"][header]:not([type]):not([inverse]) {
  background-color: #4db6ac;
}
[theme-color-1] vi-popup[open] > [toggle] button[is="vi-button"][header][type=""][inverse],
[theme-color-1] vi-popup[open] > [toggle] button[is="vi-button"][header]:not([type])[inverse] {
  background-color: #ecf2f7;
}
[theme-color-2] vi-popup[open] > [toggle] button[is="vi-button"][header][type=""][inverse],
[theme-color-2] vi-popup[open] > [toggle] button[is="vi-button"][header]:not([type])[inverse] {
  background-color: #e0f2f1;
}
vi-popup[open] > [toggle] button[is="vi-button"][header][type="light-monochrome"]:not([inverse]) {
  background-color: #ffffff;
}
vi-popup[open] > [toggle] button[is="vi-button"][header][type="light-monochrome"][inverse] {
  background-color: rgba(240, 240, 240, 0.1);
}
vi-popup[open] > [toggle] button[is="vi-button"][header][type="danger"]:not([inverse]) {
  background-color: #ff7169;
}
vi-popup[open] > [toggle] button[is="vi-button"][header][type="danger"][inverse] {
  background-color: rgba(255, 65, 54, 0.1);
}
vi-popup[open] > [toggle] button[is="vi-button"][header][type="safe"]:not([inverse]) {
  background-color: #50b98a;
}
vi-popup[open] > [toggle] button[is="vi-button"][header][type="safe"][inverse] {
  background-color: rgba(61, 153, 112, 0.1);
}
