@import "../../../_vars.scss";

:host {
    --vi-icon-selected-checked-color: var(--vi-query-grid-cell-boolean-checked-color, #555);

    display: block;

    > * {
        height: var(--query-grid--row-height);
        line-height: var(--query-grid--row-height);
    }
}