@import "../_vars.scss";

:host {
    display: block;
    padding: 0 calc(var(--theme-h5) / 2);

    &[loading] {
        visibility: hidden;
    }

    label {
        @include flex();
        display: block;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        padding: var(--theme-h4) var(--theme-h5) 0 calc(var(--theme-h5) - 1px);
        color: var(--theme-color);

        &:empty {
            display: none;
        }
    }

    table {
        width: 100%;
        table-layout: fixed;

        tr {
            td {
                vertical-align: top;
                padding: 0 calc(var(--theme-h5) / 2);
            }
        }
    }
}