@import "../_vars.scss";

:host {
    @include layout-horizontal();
    @include layout-center();
    @include relative();
    padding-top: $h4;

    label {
        @include flex();
        display: block;
        font-size: 15px;
        font-weight: 600;
        line-height: $h2 - $h4;
        min-height: $h2 - $h4;
        text-transform: uppercase;
        padding-right: $h4;
        color: var(--theme-color);
    }
}