@import "../_vars.scss";

:host {
    @include layout-horizontal();
    @include layout-center();
    @include relative();
    padding-top: var(--theme-h4);

    label {
        @include flex();
        display: block;
        font-size: 15px;
        font-weight: 600;
        line-height: calc(var(--theme-h2) - var(--theme-h4));
        min-height: calc(var(--theme-h2) - var(--theme-h4));
        text-transform: uppercase;
        padding-right: var(--theme-h4);
        color: var(--theme-color);
    }
}