vi-persistent-object-attribute-date-time {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}
vi-persistent-object-attribute-date-time[editing] input {
  display: inline-block;
  border: none;
  height: 28px;
  line-height: 28px;
  font-size: 13px;
}
vi-persistent-object-attribute-date-time[editing] input + input {
  padding-left: 0;
}
vi-persistent-object-attribute-date-time[editing][has-invalid-date] input#date {
  color: red;
}
vi-persistent-object-attribute-date-time[editing][has-invalid-time] input#time {
  color: red;
}
