@import "../../vars.scss";

:host {
    @include layout-horizontal();

    &[editing] {
        [slot="content"] {
            @include layout-horizontal();
        }

        input {
            display: inline-block;
            border: none;
            height: calc(var(--theme-h2) - 2px);
            line-height: calc(var(--theme-h2) - 2px);
            width: auto;

            &:not([hidden]) + input {
                padding-left: 0;
            }

            &:last-of-type:not([hidden]), &[flex] {
                @include flex();
            }
        }

        &[has-invalid-date] {
            input#date {
                color: red;
            }
        }

        &[has-invalid-time] {
            input#time {
                color: red;
            }
        }
    }

    span, input {
        color: var(--vi-persistent-object-attribute-foreground, --theme-foreground);
    }

    span#monthMode {
        padding: 0 var(--theme-h5);
    }
}
