@import "../../vars.scss";

:host {
	@include layout-horizontal();

	span {
		overflow: hidden;
		text-overflow: ellipsis;
	}

	span, input {
		color: var(--vi-persistent-object-attribute-foreground, --theme-foreground);
	}
}