@import"../_vars.scss";

:host {
    @include layout-vertical();
    position: absolute;
    top: 0;
    right: -40px;
    bottom: 0;
    width: var(--vi-app--flyout-width, 50vw);
    opacity: 0;
    background-color: white;
    box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0.175);
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.1,.9,.2,1);

    header {
        @include layout-horizontal();
        height: var(--vi-app--header-height);
        line-height: var(--vi-app--header-height);
        padding: 0 var(--theme-h4);
        background-color: var(--vi-app--header-background, var(--theme-foreground));
        transform: translateX(0);

        .title {
            color: var(--vi-app--header-foreground, white);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 600;
            font-size: 20px;
        }

        button.close {
            margin-left: var(--theme-h4);
            width: var(--theme-h1);
            height: var(--theme-h1);
            fill: var(--vi-app--header-foreground, white);
            --vi-icon-width: 20px;
            --vi-icon-height: 20px;
            --vi-button--color: var(--theme-foreground);
            --vi-button--border-radius: 50%;
        }
    }

    footer {
        padding: var(--theme-h4);
        border-top: 1px solid var(--theme-light-border);
    }

    .persistent-object {
        vi-persistent-object-tab-bar {
            margin-bottom: var(--theme-h5);
        }

        vi-new-query-grid {
            margin: var(--theme-h4);
        }
    }

    .actions {
        dr-action-button, button {
            height: var(--theme-h2);
            line-height: var(--theme-h2);

            &:not(:last-of-type) {
                margin-right: var(--theme-h5);
            }
        }
    }

    .message {
        main {
            line-height: var(--theme-h2);

            &:not([rich]) {
                pre {
                    white-space: pre-wrap;

                    a {
                        color: inherit;
                    }
                }
            }

            &[rich] {
                marked-element {
                    overflow: auto;
                    padding: var(--theme-h4);

                    ::content {
                        p {
                            margin: 0.5em 0;
                        }
                    }
                }
            }
        }
    }

    &[visibility] {
        animation-name: show;
        animation-duration: 0.3s;
    }

    &:not([visibility]) {
        animation-name: hide;
        animation-duration: 0.2s;
    }

    &:last-child #hover {
        display: none !important;
    }

    &:not(:last-child) {
        will-change: transform;
        transition: transform 0.2s ease-out;
        transform: translate3d(0, 0, 0);

        &:before {
            @include fit();
            background-color: white;
            content: "";
        }

        header {
            button.close {
                display: none !important;
            }
        }

        #hover {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            background-color: white;
            opacity: calc(0.25 + var(--vi-flyout-index) * (0.5 / var(--vi-flyouts-count)));
            transition: opacity 0.2s ease;
            cursor: pointer;

            &:hover {
                transition-delay: 0.2s;
                opacity: 0.1;
            }
        }

        &[peek] {
            transform: translate3d(-33vw, 0, 0);
        }
    }
}

@keyframes show {
    0% {
        opacity: 0;
        right: -40px;
    }

    100% {
        opacity: 1;
        right: calc((var(--theme-h4) * 2) * var(--vi-flyout-index));
    }
}

@keyframes hide {
    0% {
        opacity: 1;
        visibility: visible;
        right: calc((var(--theme-h4) * 2) * var(--vi-flyout-index));
    }

    100% {
        opacity: 0;
        visibility: hidden;
        right: -40px;
    }
}
