@import "../vars.scss";

:host {
    @include layout-horizontal();
    @include flex();
    @include relative();
    line-height: var(--theme-h2);

    fieldset {
        margin: 0;
        padding: 0;
        border: none;
    }

    .box {
        background-color: white;
        min-height: calc(var(--theme-h2) - 2px);
        line-height: calc(var(--theme-h2) - 2px);
        border: 1px solid var(--theme-light-border);
        -moz-transition: border-color 0.2s ease-in-out;
        -o-transition: border-color 0.2s ease-in-out;
        -webkit-transition: border-color 0.2s ease-in-out;
        transition: border-color 0.2s ease-in-out;
        @apply(--vi-persistent-object-attribute-edit-box);

        .buttons {
            @apply(--vi-persistent-object-attribute-edit-buttons);
        }
    }

    &[reverse-content] {
        .box {
            @include layout-horizontal-reverse();
        }
    }

    #errorIndicator {
        display: none;

        vi-icon {
            width: var(--theme-h2);
            height: var(--theme-h2);
            --vi-icon-width: var(--theme-h3);
            --vi-icon-height: var(--theme-h3);
            fill: var(--theme-color-error);
        }
    }

    &[has-error] {
        .box {
            @include relative();
            border-color: var(--theme-color-error) !important;
            overflow: hidden;

            &::before {
                @include fit();
                content: " ";
                opacity: 0.05;
                background-color: var(--theme-color-error);
                pointer-events: none;
            }
        }

        #errorIndicator {
            display: block;
            width: var(--theme-h2);
            height: var(--theme-h2);
            line-height: var(--theme-h2);
            padding: 0;
            background-color: transparent;
            cursor: pointer;

            pre[content] {
                padding: var(--theme-h5);
                border: 1px solid var(--theme-color-error);
            }

            #content {
                &.top {
                    -moz-transform: translateY(var(--theme-h4));
                    -ms-transform: translateY(var(--theme-h4));
                    -o-transform: translateY(var(--theme-h4));
                    -webkit-transform: translateY(var(--theme-h4));
                    transform: translateY(var(--theme-h4));
                }

                &.bottom {
                    -webkit-transform: translateY(calc(var(--theme-h4) * -1));
                    transform: translateY(calc(var(--theme-h4) * -1));
                }
            }
        }
    }

    fieldset[disabled] {
        .box {
            background-color: #eee;

            .buttons {
                background-color: #eee;
                pointer-events: none;

                > ::content {
                    > button, > .button, > [button], > vi-popup:not([content]) button[header] {
                        opacity: 0.25;

                        &::before {
                            border-left-color: var(--theme-light-border);
                        }
                    }
                }
            }
        }
    }

    ::content {
        [content] {
            @include flex();
        }

        textarea {
            overflow: auto;
            resize: none;
            padding: var(--theme-h5);
            line-height: var(--theme-h3);
        }

        input {
            padding: 0 var(--theme-h5);
            line-height: calc(var(--theme-h2) - 2px);
        }

        input, textarea {
            background-color: transparent;
            box-sizing: border-box;
            margin: 0;
            border: none;
            outline: none;
            color: #333;
            width: 100%;
        }
    }

    .buttons {
        @include layout-horizontal();
        background-color: white;

        > ::content {
            > button, > .button, > [button], > vi-popup:not([content]) button[header] {
                @include relative();
                outline: none;
                cursor: pointer;
                width: calc(var(--theme-h2) - 2px);
                height: calc(var(--theme-h2) - 2px);
                line-height: calc(var(--theme-h2) - 2px);
                padding: 0;
                box-sizing: content-box;
                text-align: center;
                @include theme-color-button-inverse();
                -moz-transition: background-color 0.1s ease-out;
                -o-transition: background-color 0.1s ease-out;
                -webkit-transition: background-color 0.1s ease-out;
                transition: background-color 0.1s ease-out;

                &::after {
                    position: absolute;
                    bottom: -1px;
                    left: 3px;
                    right: 4px;
                    content: " ";
                    border-bottom: 1px solid var(--theme-light-border);
                    -moz-transition: all 0.1s ease-in-out;
                    -o-transition: all 0.1s ease-in-out;
                    -webkit-transition: all 0.1s ease-out;
                    transition: all 0.1s ease-in-out;
                }

                &::before {
                    position: absolute;
                    top: 4px;
                    bottom: 4px;
                    left: 0;
                    content: " ";
                    border-left: 1px solid var(--theme-light-border);
                    -moz-transition: all 0.1s ease-in-out;
                    -o-transition: all 0.1s ease-in-out;
                    -webkit-transition: all 0.1s ease-out;
                    transition: all 0.1s ease-in-out;
                }

                vi-icon {
                    width: calc(var(--theme-h2) - 2px);
                    height: calc(var(--theme-h2) - 2px);

                    svg {
                        -moz-transition: fill 0.1s ease-out;
                        -o-transition: fill 0.1s ease-out;
                        -webkit-transition: fill 0.1s ease-out;
                        transition: fill 0.1s ease-out;
                    }
                }
            }
        }

        &:hover > ::content {
            > button, > .button, > [button], > vi-popup:not([content]) button[header] {
                &::after {
                    left: 0;
                    right: 0;
                }

                &::before {
                    top: 0;
                    bottom: 0;
                }

                &:hover {
                    background-color: var(--theme-color-faint) !important;

                    > vi-icon {
                        fill: var(--theme-color) !important;
                    }
                }
            }
        }
    }

    &[focus] {
        .box {
            border-color: var(--theme-color-lighter);

            > .buttons ::content {
                > button, > .button, > [button], > vi-popup:not([content]) button[header] {
                    &::after, &::before {
                        border-color: var(--theme-color-lighter);
                    }

                    vi-icon {
                        fill: var(--theme-color);
                    }

                    &:hover {
                        background-color: var(--theme-color) !important;

                        vi-icon {
                            fill: white !important;
                        }
                    }
                }
            }
        }
    }
}
