@import (reference) "../vidyano.less";

@scrollbar-parent-color: rgba(0,0,0,0.2);
@hoverSize: @h4 - 2px;

vi-scroller {
    overflow: hidden;
    .layout-horizontal();
    .relative();

    > #wrapper {
        .flex();
        overflow: scroll;
    }

    &[no-horizontal]:not([no-vertical]) {
        > #wrapper {
            .layout-vertical();
        }
    }

    &[no-vertical]:not([no-horizontal]) {
        > #wrapper {
            .layout-horizontal();
        }
    }

    &[no-vertical][no-horizontal] {
        > #wrapper {
            .layout-horizontal();
            overflow: hidden;
            margin: 0 !important;

            > #content {
                .flex();
                .layout-horizontal();

                > :not(vi-size-tracker) {
                    .flex();
                }
            }
        }

        > .scrollbar-parent {
            display: none !important;
        }
    }

    &:not([force-scrollbars]):not([hovering]):not([scrolling]) > .scrollbar-parent > .scrollbar {
        opacity: 0;
    }

    > .scrollbar-parent {
        position: absolute;
        background-color: transparent;
        -moz-transition: opacity 0.2s, background-color 0.2s;
        -o-transition: opacity 0.2s, background-color 0.2s;
        -webkit-transition: opacity 0.2s, background-color 0.2s;
        transition: opacity 0.2s, background-color 0.2s;
        -moz-transition-timing-function: ease-in-out;
        -o-transition-timing-function: ease-in-out;
        -webkit-transition-timing-function: ease-in-out;
        transition-timing-function: ease-in-out;

        > .scrollbar {
            position: absolute;
            background-color: #797979;
            opacity: 1;
            border-radius: @h5;
            -moz-transition-timing-function: ease-in-out;
            -o-transition-timing-function: ease-in-out;
            -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
        }

        &.horizontal {
            left: 0;
            right: 0;
            bottom: 0;
            height: @hoverSize;

            > .scrollbar {
                -moz-transition: opacity 0.2s, height 0.2s;
                -o-transition: opacity 0.2s, height 0.2s;
                -webkit-transition: opacity 0.2s, height 0.2s;
                transition: opacity 0.2s, height 0.2s;
            }
        }

        &.vertical {
            top: 0;
            right: 0;
            bottom: 0;
            width: @hoverSize;

            > .scrollbar {
                -moz-transition: opacity 0.2s, width 0.2s;
                -o-transition: opacity 0.2s, width 0.2s;
                -webkit-transition: opacity 0.2s, width 0.2s;
                transition: opacity 0.2s, width 0.2s;
            }
        }

        > #vertical {
            top: 0;
            right: 0;
            width: @h5;

            &:hover {
                width: @hoverSize;
            }
        }

        > #horizontal {
            left: 0;
            bottom: 0;
            height: @h5;

            &:hover {
                height: @hoverSize;
            }
        }
    }

    &[vertical] {
        > .scrollbar-parent.vertical:hover {
            background-color: @scrollbar-parent-color;
        }
    }

    &[horizontal] {
        > .scrollbar-parent.horizontal:hover {
            background-color: @scrollbar-parent-color;
        }
    }

    &[scrolling], .scrollbar-parent:hover {
        #vertical {
            width: @hoverSize;
        }

        #horizontal {
            height: @hoverSize;
        }
    }

    .scroll-shadow {
        position: absolute;
        -webkit-box-shadow: 0 0 (@h2 / 2) rgba(0,0,0,0.3);
        box-shadow: 0 0 (@h2 / 2) rgba(0,0,0,0.3);
        bottom: 0;
        height: @h2;
        -moz-border-radius: 100%;
        border-radius: 100%;
        left: -@h2;
        right: -@h2;
        pointer-events: none;

        &.top {
            -moz-transition: top 0.2s ease-out;
            -o-transition: top 0.2s ease-out;
            -webkit-transition: top 0.2s ease-out;
            transition: top 0.2s ease-out;
            top: (-@h2 * 1.5);
        }

        &.bottom {
            -moz-transition: bottom 0.2s ease-out;
            -o-transition: bottom 0.2s ease-out;
            -webkit-transition: bottom 0.2s ease-out;
            transition: bottom 0.2s ease-out;
            bottom: (-@h2 * 1.5);
        }
    }

    &[scroll-top-shadow] .scroll-shadow.top {
        top: -@h2;
    }

    &[scroll-bottom-shadow] .scroll-shadow.bottom {
        bottom: -@h2;
    }
}
