@import "../_vars.scss";

:host {
    overflow: hidden;
    @include layout-horizontal();
    @include relative();

    --vi-scroller-hover-size: calc(var(--theme-h4) - 2px);

    > #wrapper {
        @include flex();
        overflow: scroll;
        margin-right: -var(--theme-scrollbar-width);
        margin-bottom: -var(--theme-scrollbar-width);
    }

    &:focus {
        outline: none;
    }

    &[no-horizontal]:not([no-vertical]) {
        > #wrapper {
            @include layout-vertical();
            margin-bottom: 0;
            overflow-x: hidden;

            > #content {
                min-height: auto;
            }
        }
    }

    &[no-vertical]:not([no-horizontal]) {
        > #wrapper {
            @include layout-horizontal();
            margin-right: 0;
            overflow-y: hidden;
        }
    }

    &[no-vertical][no-horizontal] {
        > #wrapper {
            @include layout-horizontal();
            overflow: hidden;
            margin: 0 !important;

            > #content {
                @include flex();
                @include layout-horizontal();
                min-height: initial;
                min-width: initial;

                > :not(vi-size-tracker) {
                    @include flex();
                }
            }
        }

        > .scrollbar-parent {
            display: none !important;
        }
    }

    &:not([no-vertical]):not([no-horizontal]) {
        > #wrapper {
            > #content {
                display: inline-block;
                min-width: 100%;
            }
        }
    }

    &:not([force-scrollbars]):not([hovering]):not([scrolling]) > .scrollbar-parent > .scrollbar {
        opacity: 0;
    }

    &[hidden-scrollbars] {
        > .scrollbar-parent {
            opacity: 0 !important;
        }
    }

    > .scrollbar-parent {
        position: absolute;
        background-color: transparent;
        -moz-transition: opacity 0.2s, background-color 0.2s;
        -o-transition: opacity 0.2s, background-color 0.2s;
        -webkit-transition: opacity 0.2s, background-color 0.2s;
        transition: opacity 0.2s, background-color 0.2s;
        -moz-transition-timing-function: ease-in-out;
        -o-transition-timing-function: ease-in-out;
        -webkit-transition-timing-function: ease-in-out;
        transition-timing-function: ease-in-out;

        > .scrollbar {
            position: absolute;
            background-color: #797979;
            opacity: 1;
            border-radius: var(--theme-h5);
            -moz-transition-timing-function: ease-in-out;
            -o-transition-timing-function: ease-in-out;
            -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
        }

        &.horizontal {
            left: 0;
            right: 0;
            bottom: 0;
            height: var(--vi-scroller-hover-size);

            > .scrollbar {
                -moz-transition: opacity 0.2s, height 0.2s;
                -o-transition: opacity 0.2s, height 0.2s;
                -webkit-transition: opacity 0.2s, height 0.2s;
                transition: opacity 0.2s, height 0.2s;
            }
        }

        &.vertical {
            top: 0;
            right: 0;
            bottom: 0;
            width: var(--vi-scroller-hover-size);

            > .scrollbar {
                -moz-transition: opacity 0.2s, width 0.2s;
                -o-transition: opacity 0.2s, width 0.2s;
                -webkit-transition: opacity 0.2s, width 0.2s;
                transition: opacity 0.2s, width 0.2s;
            }
        }

        > #vertical {
            top: 0;
            right: 0;
            width: var(--theme-h5);

            &:hover {
                width: var(--vi-scroller-hover-size);
            }
        }

        > #horizontal {
            left: 0;
            bottom: 0;
            height: var(--theme-h5);

            &:hover {
                height: var(--vi-scroller-hover-size);
            }
        }
    }

    &[vertical] {
        > .scrollbar-parent.vertical:hover {
            background-color: rgba(0,0,0,0.2);
        }
    }

    &[horizontal] {
        > .scrollbar-parent.horizontal:hover {
            background-color: rgba(0,0,0,0.2);
        }
    }

    &[align-vertical-scrollbar="left"] {
        > .vertical {
            right: auto;
            left: 0;
        }
    }

    &[scrolling] {
        > #wrapper {
            pointer-events: none;
        }
    }

    &[scrolling], > .scrollbar-parent:hover {
        #vertical {
            width: var(--vi-scroller-hover-size);
        }

        #horizontal {
            height: var(--vi-scroller-hover-size);
        }
    }

    > .scroll-shadow {
        display: none;
        position: absolute;
        -webkit-box-shadow: 0 0 calc(var(--theme-h2) / 2) rgba(0,0,0,0.3);
        box-shadow: 0 0 calc(var(--theme-h2) / 2) rgba(0,0,0,0.3);
        bottom: 0;
        height: var(--theme-h2);
        -moz-border-radius: 100%;
        border-radius: 100%;
        left: -var(--theme-h2);
        right: -var(--theme-h2);
        pointer-events: none;

        &.top {
            -moz-transition: transform 0.2s ease-out;
            -o-transition: transform 0.2s ease-out;
            -webkit-transition: transform 0.2s ease-out;
            transition: transform 0.2s ease-out;
            top: 0;
            -moz-transform: translateY(calc(var(--theme-h2) * -1.5));
            -ms-transform: translateY(calc(var(--theme-h2) * -1.5));
            -o-transform: translateY(calc(var(--theme-h2) * -1.5));
            -webkit-transform: translateY(calc(var(--theme-h2) * -1.5));
            transform: translateY(calc(var(--theme-h2) * -1.5));
        }

        &.bottom {
            -moz-transition: transform 0.2s ease-out;
            -o-transition: transform 0.2s ease-out;
            -webkit-transition: transform 0.2s ease-out;
            transition: transform 0.2s ease-out;
            bottom: 0;
            -moz-transform: translateY(calc(var(--theme-h2) * 1.5));
            -ms-transform: translateY(calc(var(--theme-h2) * 1.5));
            -o-transform: translateY(calc(var(--theme-h2) * 1.5));
            -webkit-transform: translateY(calc(var(--theme-h2) * 1.5));
            transform: translateY(calc(var(--theme-h2) * 1.5));
        }
    }

    &[scroll-top-shadow] > .scroll-shadow.top {
        display: block;
        -moz-transform: translateY(-var(--theme-h2));
        -ms-transform: translateY(-var(--theme-h2));
        -o-transform: translateY(-var(--theme-h2));
        -webkit-transform: translateY(-var(--theme-h2));
        transform: translateY(-var(--theme-h2));
    }

    &[scroll-bottom-shadow] > .scroll-shadow.bottom {
        display: block;
        -moz-transform: translateY(var(--theme-h2));
        -ms-transform: translateY(var(--theme-h2));
        -o-transform: translateY(var(--theme-h2));
        -webkit-transform: translateY(var(--theme-h2));
        transform: translateY(var(--theme-h2));
    }
}
