vi-scroller {
  overflow: hidden;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  position: relative;
}
vi-scroller > #wrapper {
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  overflow: scroll;
}
vi-scroller[no-horizontal]:not([no-vertical]) > #wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
vi-scroller[no-vertical]:not([no-horizontal]) > #wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}
vi-scroller[no-vertical][no-horizontal] > #wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  overflow: hidden;
  margin: 0 !important;
}
vi-scroller[no-vertical][no-horizontal] > #wrapper > #content {
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}
vi-scroller[no-vertical][no-horizontal] > #wrapper > #content > :not(vi-size-tracker) {
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
vi-scroller[no-vertical][no-horizontal] > .scrollbar-parent {
  display: none !important;
}
vi-scroller:not([force-scrollbars]):not([hovering]):not([scrolling]) > .scrollbar-parent > .scrollbar {
  opacity: 0;
}
vi-scroller[hidden-scrollbars] > .scrollbar-parent {
  opacity: 0 !important;
}
vi-scroller > .scrollbar-parent {
  position: absolute;
  background-color: transparent;
  -moz-transition: opacity 0.2s, background-color 0.2s;
  -o-transition: opacity 0.2s, background-color 0.2s;
  -webkit-transition: opacity 0.2s, background-color 0.2s;
  transition: opacity 0.2s, background-color 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
vi-scroller > .scrollbar-parent > .scrollbar {
  position: absolute;
  background-color: #797979;
  opacity: 1;
  border-radius: 6px;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
vi-scroller > .scrollbar-parent.horizontal {
  left: 0;
  right: 0;
  bottom: 0;
  height: 10px;
}
vi-scroller > .scrollbar-parent.horizontal > .scrollbar {
  -moz-transition: opacity 0.2s, height 0.2s;
  -o-transition: opacity 0.2s, height 0.2s;
  -webkit-transition: opacity 0.2s, height 0.2s;
  transition: opacity 0.2s, height 0.2s;
}
vi-scroller > .scrollbar-parent.vertical {
  top: 0;
  right: 0;
  bottom: 0;
  width: 10px;
}
vi-scroller > .scrollbar-parent.vertical > .scrollbar {
  -moz-transition: opacity 0.2s, width 0.2s;
  -o-transition: opacity 0.2s, width 0.2s;
  -webkit-transition: opacity 0.2s, width 0.2s;
  transition: opacity 0.2s, width 0.2s;
}
vi-scroller > .scrollbar-parent > #vertical {
  top: 0;
  right: 0;
  width: 6px;
}
vi-scroller > .scrollbar-parent > #vertical:hover {
  width: 10px;
}
vi-scroller > .scrollbar-parent > #horizontal {
  left: 0;
  bottom: 0;
  height: 6px;
}
vi-scroller > .scrollbar-parent > #horizontal:hover {
  height: 10px;
}
vi-scroller[vertical] > .scrollbar-parent.vertical:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
vi-scroller[horizontal] > .scrollbar-parent.horizontal:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
vi-scroller[scrolling] #vertical,
vi-scroller .scrollbar-parent:hover #vertical {
  width: 10px;
}
vi-scroller[scrolling] #horizontal,
vi-scroller .scrollbar-parent:hover #horizontal {
  height: 10px;
}
vi-scroller .scroll-shadow {
  position: absolute;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  bottom: 0;
  height: 30px;
  -moz-border-radius: 100%;
  border-radius: 100%;
  left: -30px;
  right: -30px;
  pointer-events: none;
}
vi-scroller .scroll-shadow.top {
  -moz-transition: top 0.2s ease-out;
  -o-transition: top 0.2s ease-out;
  -webkit-transition: top 0.2s ease-out;
  transition: top 0.2s ease-out;
  top: -45px;
}
vi-scroller .scroll-shadow.bottom {
  -moz-transition: bottom 0.2s ease-out;
  -o-transition: bottom 0.2s ease-out;
  -webkit-transition: bottom 0.2s ease-out;
  transition: bottom 0.2s ease-out;
  bottom: -45px;
}
vi-scroller[scroll-top-shadow] .scroll-shadow.top {
  top: -30px;
}
vi-scroller[scroll-bottom-shadow] .scroll-shadow.bottom {
  bottom: -30px;
}
