@import "../_vars.scss";

:host {
    min-width: 17em;

    main {
        @include layout-horizontal();

        &:not([rich]) {
            padding: var(--theme-h4);

            pre {
                @include flex();
                white-space: pre-wrap;

                a {
                    color: inherit;
                }
            }
        }

        &[rich] {
            marked-element {
                overflow: auto;
                padding: var(--theme-h4);

                ::content {
                    p {
                        margin: 0.5em 0;
                    }
                }
            }
        }
    }

    header > vi-icon {
        padding-right: var(--theme-h4);
        height: var(--theme-h1);
        --vi-icon-width: var(--theme-h3);
        --vi-icon-height: var(--theme-h3);

        &[source$="Error"] {
            fill: var(--theme-color-error);
        }

        &[source$="Warning"] {
            fill: var(--theme-color-warning);
        }

        &[source$="Notice"] {
            fill: var(--theme-color-notice);
        }

        &[source$="OK"] {
            fill: var(--theme-color-ok);
        }

        &:empty {
            display: none;
        }
    }
}
