@import (reference) "../vidyano.less";

vi-checkbox {
    .layout-horizontal();
    .layout-center();
    fill: #bbb;

    &:not([disabled]) {
        cursor: pointer;

        &[checked] {
            .colorize({
                fill: @@color;
            });
        }
    }

    &[disabled] {
        vi-resource {
            fill: #aaa;
        }
    }

    > span {
        .flex();
        padding-left: 2px;
    }

    &:not([checked]) {
        #check {
            display: none;
        }
    }
}