@import (reference) "../vidyano.less";

:host {
    .layout-horizontal();
    .layout-center();
    fill: #bbb;
    padding-right: @h5;

    &:not([disabled]) {
        cursor: pointer;

        &[checked] {
            fill: --theme-color;
        }
    }

    &[checked]:not([disabled]){
        .selected-icon-checked();
    }

    &[disabled][checked] {
        .selected-icon-checked-color(#666);
    }

    > span {
        .flex();
        padding-left: 2px;
    }

    &:not([checked]) {
        #check {
            display: none;
        }
    }
}
