@import "../vars.scss";

:host {
    display: block;
    padding-right: var(--theme-h5);
    box-sizing: border-box;

    &:not([disabled]) {
        cursor: pointer;
    }

    div {
        > span {
            padding-left: 2px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        > vi-icon:not([hidden]) + span {
            padding-left: var(--theme-h5);
        }
    }
}