vi-popup-menu #popup {
  line-height: 30px;
}
vi-popup-menu #popup [content] {
  background-color: white;
  padding: 1px;
}
vi-popup-menu[context-menu-only] #popup {
  position: fixed;
  z-index: 1000000;
}
vi-popup-menu[context-menu-only] #popup #contextHeader {
  visibility: hidden;
}
vi-popup-menu-item {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  position: relative;
  line-height: 40px;
  height: 40px;
  cursor: pointer;
}
[theme-color-1] vi-popup-menu-item {
  color: #4682b4;
  fill: #4682b4;
}
[theme-color-2] vi-popup-menu-item {
  color: #009688;
  fill: #009688;
}
vi-popup-menu-item > button {
  flex: 1 1 auto;
  height: 100%;
  padding: 0;
  text-align: left;
}
vi-popup-menu-item > button > vi-icon {
  width: 30px;
}
vi-popup-menu-item > button > vi-icon:not([has-resource]) {
  display: none;
}
vi-popup-menu-item > button > span {
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  padding: 0 6px;
  margin-right: 2px;
}
vi-popup-menu-item > button > vi-icon[has-resource] ~ span {
  padding-left: 0;
}
vi-popup-menu-item .icon-spacer {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 30px;
  background-color: #fAfAfA;
}
vi-popup-menu-item[icon-space] > .icon-spacer,
vi-popup-menu-item[icon] > .icon-spacer {
  display: block;
}
vi-popup-menu-item[icon-space] > button > span,
vi-popup-menu-item[icon] > button > span {
  padding-left: 4px !important;
}
vi-popup-menu-item[icon-space] > button > vi-icon {
  display: inline-block !important;
  visibility: hidden !important;
}
vi-popup-menu-item[split-space] > button > span {
  margin-right: 30px;
}
vi-popup-menu-item[split] > vi-popup {
  min-width: 30px;
}
vi-popup-menu-item[split] > vi-popup [header] {
  box-sizing: border-box;
  border-left: 1px solid #eee;
  padding: 0;
  width: 30px;
  height: 40px;
}
vi-popup-menu-item[split] > vi-popup [header] > vi-icon {
  width: 30px;
  height: 40px;
}
vi-popup-menu-item-separator {
  display: block;
  border-top: 1px solid #ddd;
}
