@import "../_vars.scss";

:host {
    @include layout-horizontal();
    @include relative();
    height: $h2;
    cursor: pointer;
    color: var(--theme-color);
    fill: var(--theme-color);

    --button-icon-style: #{'{
        width: '$h2';
    }'};

    --button-label-style: #{'{
        @include flex();
        padding: 0 '$h5';
        margin-right: 2px;
    }'};

    button {
        flex: 1 1 auto;
        height: 100%;
        padding: 0;
        text-align: left;
    }

    .icon-spacer {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: $h2;
        background-color: rgba(0, 0, 0, 0.04);
        pointer-events: none;
    }

    &[icon-space], &[icon] {
        > .icon-spacer {
            display: block;
        }

        > button > span {
            padding-left: 4px !important;
        }
    }

    &[icon-space] {
        > button {
             > vi-icon {
                display: inline-block !important;
                visibility: hidden !important;
            }
        }
    }

    &[split-space] > button > span {
        margin-right: $h2;
    }

    &[split] {
        > vi-popup {
            min-width: $h2;

            [header] {
                box-sizing: border-box;
                border-left: 1px solid #eee;
                padding: 0;
                width: $h2;
                height: $h2;

                > vi-icon {
                    width: $h2;
                    height: $h2;
                }
            }
        }
    }
}
