@import (reference) "../vidyano.less";

vi-popup-menu {
    display: block;

    #popup {
        line-height: @h2;

        [content] {
            background-color: white;
            padding: 1px;
        }
    }

    &[context-menu-only] {
        #popup {
            position: fixed;
            z-index: 1000000;

            #contextHeader {
                visibility: hidden;
            }
        }
    }
}

vi-popup-menu-item {
    .layout-horizontal();
    .relative();
    height: @h2;
    cursor: pointer;
    .theme-color(color);
    .theme-color(fill);

    > button {
        flex: 1 1 auto;
        height: 100%;
        padding: 0;
        text-align: left;

        > vi-icon {
            width: @h2;

            &:not([has-resource]) {
                display: none;
            }
        }

        > span {
            .flex();
            padding: 0 @h5;
            margin-right: 2px;
        }

        > vi-icon[has-resource] ~ span {
            padding-left: 0;
        }
    }

    .icon-spacer {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: @h2;
        background-color: rgba(0, 0, 0, 0.04);
        pointer-events: none;
    }

    &[icon-space], &[icon] {
        > .icon-spacer {
            display: block;
        }

        > button > span {
            padding-left: 4px !important;
        }
    }

    &[icon-space] {
        > button {
             > vi-icon {
                display: inline-block !important;
                visibility: hidden !important;
            }
        }
    }

    &[split-space] > button > span {
        margin-right: @h2;
    }

    &[split] {
        > vi-popup {
            min-width: @h2;

            [header] {
                box-sizing: border-box;
                border-left: 1px solid #eee;
                padding: 0;
                width: @h2;
                height: @h2;

                > vi-icon {
                    width: @h2;
                    height: @h2;
                }
            }
        }
    }
}

vi-popup-menu-item-separator {
    display: block;
    border-top: 1px solid #ddd;
}
