@import "../_vars.scss";

:host {
    display: block;
    height: var(--vi-popup-menu-item-height, var(--theme-h1));
    cursor: pointer;
    color: var(--theme-color);
    fill: var(--theme-color);

    button {
        position: relative;
        flex: 1 0 auto;
        height: var(--vi-popup-menu-item-height, var(--theme-h1));
        line-height: var(--vi-popup-menu-item-height, var(--theme-h1));
        padding: 0;
        text-align: left;
        white-space: nowrap;

        > * {
            display: inline-block;
            vertical-align: top;
        }

        span {
            padding: 0 var(--theme-h5) !important;
            height: var(--vi-popup-menu-item-height, var(--theme-h1));
            line-height: var(--vi-popup-menu-item-height, var(--theme-h1));
        }
    }

    vi-icon {
        position: relative;
        display: inline-block;
        height: var(--vi-popup-menu-item-height, var(--theme-h1));
        width: var(--vi-popup-menu-item-icon-width, var(--theme-h2));

        &#icon:before {
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            bottom:0;
            width: var(--vi-popup-menu-item-icon-width, var(--theme-h2));
            background-color: rgba(0, 0, 0, 0.04);
        }
    }
}