@import "../_vars.scss";

$mainColor: #333;
$separatorColor: #EAEAEA;
$oddRowColor: #FAFAFA;
$evenRowColor: white;
$cell-padding: $h5 * 1.5;
$cell-line-height: $h2;
$cell-width: $h2;
$header-height: $h2;