@import (reference) "../colors.less";

$list-colors: "steel-blue", "red", "pink", "purple", "deep-purple", "indigo", "blue", "light-blue", "cyan", "teal", "green", "light-green", "lime", "yellow", "amber", "orange", "deep-orange", "brown", "grey", "blue-grey";
$list-color-tints: "", "-50", "-100", "-200", "-300", "-400", "-500", "-600", "-700", "-800", "-900";

@mixin colorize-list-color($counter1) when ($counter1 > 0) {
    @include colorize-list-color (($counter1 - 1));

    $color-name: extract($list-colors, $counter1);
    $color-class: ~'.${color-name}';
    $color: ~'${color-name}-50';

    & tr${color-class}[hover] {
        background-color: $$color;
    }

    @include colorize-list-color-tint($color-name, length($list-color-tints));
}

@mixin colorize-list-color-tint($color-name, $counter2) when ($counter2 > 0) {
    @include colorize-list-color-tint ($color-name, ($counter2 - 1));

    $color-tint: extract($list-color-tints, $counter2);

    $color: ~'${color-name}${color-tint}';
    $color-class: ~'.${color}';

    & tr${color-class} {
        > td > * {
            color: $$color;
            fill: $$color;
        }
    }

    & tr > td > *${color-class} {
        color: $$color;
        fill: $$color;
    }
}

@mixin list-color() {
    @include colorize-list-color(length($list-colors));
}

vi-query-grid {
    #dataHost {
        @include colorize-list-color(length($list-colors));
    }
}
