@import (reference) "query-grid.less";

.labelContainerStyle() {
    box-sizing: border-box;
    overflow: hidden;
    text-align: left;
    font-weight: 500;
    width: 100%;
    height: @h2;
    padding: 0;
}

vi-query-grid-column-filter-proxy {
    .labelContainerStyle();

    &:not([disabled]) {
        .theme-color-button-inverse();
    }

    &[disabled] {
        vi-icon, #label {
            display: none !important;
        }
    }
}

vi-query-grid-column-filter, vi-query-grid-column-filter-proxy {
    position: relative;
    display: block;
    border-top: 1px solid @separatorColor;
    box-sizing: border-box;
    height: @cell-line-height;
    line-height: @cell-line-height;
    cursor: pointer;

    &[disabled] {
        cursor: default;
        background-color: #F9F9F9;

        #filter {
            button {
                display: none;
            }

            [toggle] {
                cursor: default;
            }
        }
    }

    button[header] {
        .labelContainerStyle();
    }

    #label {
        display: none;
        padding: 0 @cell-padding;
        line-height: @cell-line-height;
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        pointer-events: none;
    }

    vi-icon[source="Filter"] {
        display: inline-block;
        fill: #eee;
        line-height: @h2;
        height: @h2;
        padding: 0 0 0 @cell-padding;
    }

    &[filtered] {
        #label {
            display: inline-block;
        }

        vi-icon[source="Filter"] {
            display: none;
        }
    }

    [content] {
        .noSelection();

        .filter {
            position: relative;

            .left {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: @cell-line-height;
                background-color: #F7F7F7;
            }
        }

        .menuItem {
            cursor: pointer;
            text-align: left;
            line-height: @cell-line-height;
            font-weight: normal;

            vi-icon {
                text-align: center;
                width: @cell-line-height;
                height: @cell-line-height;
            }

            &[disabled] {
                opacity: 0.25;
                cursor: default;
            }

            span {
                margin-left: @h5;
            }
        }


        .split {
            border-top: 1px solid @separatorColor;
            margin: 0 0 @h5 (@cell-line-height + @h5);
        }

        .advanced {
            padding: 0 @cell-padding @cell-padding 0;
            position: relative;

            vi-input-search {
                height: @h2;
                border: 1px solid @separatorColor;
                box-sizing: border-box;
                margin: 0 0 @h5 (@cell-line-height + @h5);

                input {
                    padding-left: 8px;
                    color: #333;
                }

                button {
                    width: @cell-line-height;
                    padding: 0;
                    fill: @separatorColor;
                }
            }

            > div {
                padding-left: @cell-line-height;

                button#inverse {
                    .layout-horizontal();
                    .layout-center-center();
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: @cell-line-height;
                    height: @h3;
                    cursor: pointer;
                    .theme-color-button-inverse();

                    &[inversed]:not(:active) {
                        fill: darkred !important;
                    }

                    &:not(:active) {
                        fill: #aaa !important;
                    }

                    vi-icon svg {
                        width: @h4;
                        height: @h4;
                    }
                }
            }
        }

        #distinctsContainer {
            height: 15em;
            min-width: 15em;
            border: 1px solid @separatorColor;
            margin-left: @h5;
            box-sizing: border-box;
        }

        #distincts {
            line-height: 2em;
            text-align: left;
            font-weight: normal;

            div.distinct {
                display: block;
                cursor: pointer;
                line-height: @h3;
                height: @h3;
                background-color: white;
                .layout-center();

                &:hover {
                    .theme-color(background-color, "faint");
                }

                span {
                    line-height: @h3;
                    height: @h3;
                    display: inline-block;
                    vertical-align: top;
                }

                div.selector {
                    display: inline-block;
                    line-height: @h3;
                    height: @h3;
                    padding: 3px @h5;
                    text-align: center;

                    svg {
                        width: @h2 / 2;
                        height: @h2 / 2;
                        fill: #BBB;
                    }
                }

                &:not([distinct-type="include"]):not([distinct-type="exclude"]) {
                    div.selector svg #check {
                        display: none;
                    }
                }

                &[distinct-type="include"] {
                    .selected-icon-checked-color(green);
                }

                &[distinct-type="exclude"] {
                    .selected-icon-checked-color(darkred);
                }

                &[distinct-type="remaining"] {
                    color: #aaa;
                    fill: white;
                }
            }
        }

        button.close {
            border-top: 1px solid @separatorColor;
            line-height: @cell-line-height;
            width: 100%;
        }
    }
}

vi-query-grid-column-filter {
    &[loading] {
        #distincts {
            opacity: 0.5;
        }
    }
}
