vi-query-grid {
  font-size: 13px;
  line-height: 30px;
  overflow: hidden;
}
vi-query-grid #dataHeaderHost {
  position: relative;
  white-space: nowrap;
  border-bottom: 1px solid #eaeaea;
  z-index: 1;
}
vi-query-grid #dataHeaderHost table {
  display: inline-table;
  border-spacing: 0 !important;
  vertical-align: top;
  background-color: white;
}
vi-query-grid #dataHeaderHost table tr {
  padding: 0 !important;
}
vi-query-grid #dataHeaderHost table tr td {
  padding: 0 !important;
}
vi-query-grid #dataHeaderHost table tr td.pinned {
  background-color: white;
  position: relative;
  z-index: 1;
}
vi-query-grid #dataHeaderHost table tr td[is="vi-query-grid-table-header-column"][name=""],
vi-query-grid #dataHeaderHost table tr td[is="vi-query-grid-table-header-column"]:not([name]) {
  display: none;
}
vi-query-grid #dataHost {
  white-space: nowrap;
}
vi-query-grid #dataHost table {
  display: inline-table;
  border-spacing: 0 !important;
  vertical-align: top;
  background-color: white;
}
vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"] {
  padding: 0 !important;
  line-height: 30px;
  height: 30px;
}
vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"] td {
  padding: 0;
  cursor: pointer;
}
vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"] td > * {
  padding: 0 9px;
  min-height: 30px;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"] td > * vi-icon {
  height: 30px;
}
vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"] td > * vi-template-presenter {
  height: 30px;
}
vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"] td > .icon {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  padding: 0;
}
vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"] td > .icon > svg {
  width: 16px;
  height: 16px;
}
vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"] td[is="vi-query-grid-table-data-column-selector"] > .icon {
  fill: #bbb;
}
vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"] td[is="vi-query-grid-table-data-column-selector"] > .icon #check {
  display: none;
}
vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"] td[is="vi-query-grid-table-data-column-selector"] > paper-ripple {
  pointer-events: none;
}
[theme-color-1] vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"] td[is="vi-query-grid-table-data-column-selector"] > paper-ripple {
  color: #4682b4;
}
[theme-color-2] vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"] td[is="vi-query-grid-table-data-column-selector"] > paper-ripple {
  color: #009688;
}
[theme-color-1] vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"] td[is="vi-query-grid-table-data-column-selector"]:hover > .icon {
  background-color: rgba(0, 0, 0, 0.05) !important;
}
[theme-color-2] vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"] td[is="vi-query-grid-table-data-column-selector"]:hover > .icon {
  background-color: rgba(0, 0, 0, 0.05) !important;
}
vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"] td[is="vi-query-grid-table-data-column-actions"] > .icon {
  fill: #333;
}
vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"] td[is="vi-query-grid-table-data-column-actions"] > paper-ripple {
  pointer-events: none;
}
[theme-color-1] vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"] td[is="vi-query-grid-table-data-column-actions"] > paper-ripple {
  color: #4682b4;
}
[theme-color-2] vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"] td[is="vi-query-grid-table-data-column-actions"] > paper-ripple {
  color: #009688;
}
[theme-color-1] vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"] td[is="vi-query-grid-table-data-column-actions"]:hover > .icon,
[theme-color-1] vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"] td[is="vi-query-grid-table-data-column-actions"][hover] > .icon {
  background-color: rgba(0, 0, 0, 0.05) !important;
}
[theme-color-2] vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"] td[is="vi-query-grid-table-data-column-actions"]:hover > .icon,
[theme-color-2] vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"] td[is="vi-query-grid-table-data-column-actions"][hover] > .icon {
  background-color: rgba(0, 0, 0, 0.05) !important;
}
vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"] td[is="vi-query-grid-table-data-column"] {
  min-width: 30px;
}
vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"] td[is="vi-query-grid-table-data-column"][name=""],
vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"] td[is="vi-query-grid-table-data-column"]:not([name]) {
  display: none;
}
vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"] td.pinned {
  position: relative;
}
[theme-color-1] vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"][is-selected] td[is="vi-query-grid-table-data-column-selector"] {
  fill: #888;
}
[theme-color-1] vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"][is-selected] td[is="vi-query-grid-table-data-column-selector"] #check {
  fill: #4682b4;
}
[theme-color-2] vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"][is-selected] td[is="vi-query-grid-table-data-column-selector"] {
  fill: #888;
}
[theme-color-2] vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"][is-selected] td[is="vi-query-grid-table-data-column-selector"] #check {
  fill: #009688;
}
vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"][is-selected] td[is="vi-query-grid-table-data-column-selector"] #check {
  display: block;
}
[theme-color-1] vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"][is-selected] {
  background-color: #e5edf4;
}
[theme-color-1] vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"][is-selected] td.pinned {
  background-color: #e5edf4;
}
[theme-color-2] vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"][is-selected] {
  background-color: #d9efee;
}
[theme-color-2] vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"][is-selected] td.pinned {
  background-color: #d9efee;
}
vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"]:not(:hover):not([hover]):not([is-selected]):nth-child(odd) {
  background-color: #fafafa;
}
vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"]:not(:hover):not([hover]):not([is-selected]):nth-child(odd) td.pinned {
  background-color: #fafafa;
}
vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"]:not(:hover):not([hover]):not([is-selected]):nth-child(even) {
  background-color: white;
}
vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"]:not(:hover):not([hover]):not([is-selected]):nth-child(even) td.pinned {
  background-color: white;
}
vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"][no-data]:not(:first-of-type) {
  display: none;
}
vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"][no-data]:first-of-type {
  visibility: hidden;
}
[theme-color-1] vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"]:hover,
[theme-color-1] vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"][hover],
[theme-color-1] vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"]:hover td.pinned,
[theme-color-1] vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"][hover] td.pinned {
  background-color: #ecf2f7;
}
[theme-color-2] vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"]:hover,
[theme-color-2] vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"][hover],
[theme-color-2] vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"]:hover td.pinned,
[theme-color-2] vi-query-grid #dataHost table tr[is="vi-query-grid-table-data-row"][hover] td.pinned {
  background-color: #e0f2f1;
}
vi-query-grid #dataHost table.pinned tr:not(.no-data) > td:last-of-type > div {
  border-right: 1px solid #eaeaea;
}
vi-query-grid:not([can-select]):not([inline-actions]):not([can-filter]) td[is="vi-query-grid-table-data-column-selector"] {
  display: none;
}
vi-query-grid:not([can-select]):not([inline-actions]):not([can-filter]) td[is="vi-query-grid-table-data-column-actions"] {
  display: none;
}
vi-query-grid:not([can-select]):not([inline-actions]):not([can-filter]) vi-query-grid-header,
vi-query-grid:not([can-select]):not([inline-actions]):not([can-filter]) vi-query-grid-column-filter-proxy,
vi-query-grid:not([can-select]):not([inline-actions]):not([can-filter]) vi-query-grid-column-filter {
  display: none;
}
vi-query-grid[can-select]:not([inline-actions]):not([can-filter]) td[is="vi-query-grid-table-data-column-actions"] {
  display: none;
}
vi-query-grid[can-select]:not([inline-actions]):not([can-filter]) vi-query-grid-filters,
vi-query-grid[can-select]:not([inline-actions]):not([can-filter]) vi-query-grid-column-filter-proxy,
vi-query-grid[can-select]:not([inline-actions]):not([can-filter]) vi-query-grid-column-filter {
  display: none;
}
vi-query-grid[can-select][inline-actions]:not([can-filter]) vi-query-grid-filters,
vi-query-grid[can-select][inline-actions]:not([can-filter]) vi-query-grid-column-filter-proxy,
vi-query-grid[can-select][inline-actions]:not([can-filter]) vi-query-grid-column-filter {
  display: none;
}
vi-query-grid[can-filter]:not([can-select]):not([inline-actions]) td[is="vi-query-grid-table-data-column-selector"] .icon {
  visibility: hidden;
}
vi-query-grid[can-filter]:not([can-select]):not([inline-actions]) td[is="vi-query-grid-table-data-column-actions"] {
  display: none;
}
vi-query-grid[can-filter]:not([can-select]):not([inline-actions]) vi-query-grid-header .selectAll {
  display: none;
}
vi-query-grid[can-filter][can-select]:not([inline-actions]) td[is="vi-query-grid-table-data-column-actions"] .icon {
  visibility: hidden;
}
vi-query-grid #initializingOverlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
  z-index: 2;
}
vi-query-grid:not([initializing]) #initializingOverlay {
  display: none;
}
vi-query-grid:not([is-busy]):not([initializing]) > vi-spinner {
  display: none;
}
vi-query-grid > vi-size-tracker {
  pointer-events: none;
}
