vi-query-grid-column-header {
  display: block;
  box-sizing: border-box;
  min-width: 30px;
  border-right: 1px solid #eaeaea;
}
vi-query-grid-column-header > div:first-child {
  height: 30px;
  padding: 0 9px;
  cursor: pointer;
  position: relative;
  color: #808080;
}
[theme-color-1] vi-query-grid-column-header > div:first-child {
  background-color: transparent;
  color: #2a4e6c;
  fill: #595959;
  -moz-transition-property: fill, color, background-color;
  -o-transition-property: fill, color, background-color;
  -webkit-transition-property: fill, color, background-color;
  transition-property: fill, color, background-color;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
[theme-color-1] vi-query-grid-column-header > div:first-child:hover {
  background-color: #ecf2f7;
}
[theme-color-1] vi-query-grid-column-header > div:first-child:active {
  background-color: #386890;
  fill: white !important;
  color: white !important;
}
[theme-color-1] vi-query-grid-column-header > div:first-child[disabled] {
  fill: #ecf2f7;
  color: rgba(0, 0, 0, 0.5);
}
[theme-color-2] vi-query-grid-column-header > div:first-child {
  background-color: transparent;
  color: #004d40;
  fill: #595959;
  -moz-transition-property: fill, color, background-color;
  -o-transition-property: fill, color, background-color;
  -webkit-transition-property: fill, color, background-color;
  transition-property: fill, color, background-color;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
[theme-color-2] vi-query-grid-column-header > div:first-child:hover {
  background-color: #e0f2f1;
}
[theme-color-2] vi-query-grid-column-header > div:first-child:active {
  background-color: #00796b;
  fill: white !important;
  color: white !important;
}
[theme-color-2] vi-query-grid-column-header > div:first-child[disabled] {
  fill: #e0f2f1;
  color: rgba(0, 0, 0, 0.5);
}
vi-query-grid-column-header > div:first-child > label {
  display: inline-block;
  line-height: 30px;
  padding-right: 16px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
vi-query-grid-column-header > div:first-child > vi-icon {
  display: inline-block;
  fill: #555;
  position: absolute;
  right: 9px;
  top: 0;
  bottom: 0;
  margin-left: 18px;
}
