@import (reference) "query-grid.less";

vi-query-grid-item-actions, .vi-query-grid-item-actions-proxy {
    .layout-horizontal();
    .noSelection();
    width: @cell-width;
    height: @cell-line-height;

    > vi-resource, [toggle] > vi-resource {
        fill: #333;
        height: @cell-line-height;
    }

    &:hover {
        .colorize({
            background-color: fadeout(black, 95%);
        });
    }
}

.vi-query-grid-item-actions-proxy {
    > vi-resource {
        .flex();
    }
}