@import (reference) "query-grid.less";

vi-query-grid-select-all {
    position: relative;
    height: @cell-line-height;
    width: @cell-line-height;
    border-top: 1px solid @separatorColor;
    box-sizing: border-box;
    align-self: flex-end;
    cursor: pointer;

    &[disabled] {
        cursor: default;

        > vi-icon, > paper-ripple {
            visibility: hidden;
        }
    }

    > vi-icon {
        fill: #bbb;
        height: @cell-line-height;
        width: @cell-line-height;
        line-height: @cell-line-height;
    }

    &:not([selected]) {
        > vi-icon {
            #check {
                display: none;
            }
        }
    }

    &[selected] {
        .selected-icon-checked();

        &[inversed] {
            > vi-icon {
                opacity: 0.7;
            }
        }
    }
}
