vi-query-grid-cell-image {
  padding: 0 1px;
  overflow: hidden;
}
vi-query-grid-cell-image .image {
  height: 28px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
vi-query-grid-cell-boolean > div {
  height: 30px;
}
vi-query-grid-cell-boolean.unchecked #check {
  display: none;
}
