@import (reference) "query-grid.less";

vi-query-grid-column-header {
    display: block;
    box-sizing: border-box;
    min-width: @cell-width;
    border-right: 1px solid @separatorColor;

    > div:first-child {
        height: @cell-line-height;
        padding: 0 @cell-padding;
        cursor: pointer;
        position: relative;
        color: #808080;
        .colorize-button-inverse();

        > label {
            display: inline-block;
            line-height: @cell-line-height;
            white-space: nowrap;
            padding-right: 16px;
            cursor: pointer;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        > vi-icon {
            display: inline-block;
            fill: #555;
            position: absolute;
            right: @cell-padding;
            top: 0;
            bottom: 0;
            margin-left: (@cell-padding * 2);
        }
    }
}