vi-query-grid-cell-image {
  padding: 1px;
  overflow: hidden;
}
vi-query-grid-cell-image .image {
  height: 30px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.cell[data-vi-column-type='Boolean'],
.cell[data-vi-column-type='NullableBoolean'],
.cell[data-vi-column-type='YesNo'] {
  text-align: center;
}
.cell[data-vi-column-type='Boolean'] vi-icon.unchecked #check,
.cell[data-vi-column-type='NullableBoolean'] vi-icon.unchecked #check,
.cell[data-vi-column-type='YesNo'] vi-icon.unchecked #check {
  display: none;
}
