@import "_vars.scss";

:host {
    padding: 0 1px;
    overflow: hidden;

    .image {
        height: $h2 - 2px;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}