@import "../_vars.scss";

:host {
    main {
        @include layout-vertical();
        @include noSelection();
        padding: var(--theme-h4) 0 var(--theme-h4) var(--theme-h5);

        > ul {
            &:empty {
                display: none;
            }
        }

        > vi-scroller {
            @include flex();
            margin-top: var(--theme-h4);
        }

        ul {
            list-style-type: none;
            padding: 0 var(--theme-h4) 0 0;
            margin: 0;

            li {
                @include layout-horizontal();
                margin-bottom: 4px;
                height: var(--theme-h2);
                line-height: var(--theme-h2);
                font-size: 15px;
                cursor: -moz-grab;
                cursor: -webkit-grab;

                > vi-icon {
                    width: var(--theme-h2);
                    height: var(--theme-h2);
                    fill: #888;
                    pointer-events: none;
                }

                label {
                    @include flex();
                    background-color: #f9f9f9;
                    margin-left: var(--theme-h4);
                    padding-left: var(--theme-h4);
                    padding-right: var(--theme-h1);
                    pointer-events: none;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .buttons {
                    background-color: #f9f9f9;

                    button {
                        fill: var(--theme-color);
                    }
                }

                &:not([is-pinned]) {
                    .buttons {
                        button:nth-child(1) {
                            vi-icon {
                                opacity: 0.5;
                            }
                        }
                    }
                }

                &[is-hidden] {
                    .buttons {
                        button:nth-child(2) {
                            vi-icon {
                                opacity: 0.5;
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        > button {
            margin: 0;
        }

        > div {
            button:first-child {
                margin-right: var(--theme-h5);
            }
        }
    }
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
    :host main {
        width: 85vw;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    :host main {
        width: var(--vi-persistent-object-dialog-computed-width);
        max-width: 90vw;
        max-height: 75vh;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
    :host main {
        width: var(--vi-persistent-object-dialog-computed-width);
        max-width: 900px;
        max-height: 75vh;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    :host main {
        width: var(--vi-persistent-object-dialog-computed-width);
        max-width: 1100px;
        max-height: 75vh;
    }
}

@media (max-height: 750px) {
    :host main {
        max-height: 35vh;
    }
}

@media (min-height: 751px) and (max-height: 900px) {
    :host main {
        max-height: 50vh;
    }
}