@import (reference) "query-grid.less";

vi-query-grid-cell-image {
    padding: 0 1px;
    overflow: hidden;

    .image {
        height: @h2 - 2px;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

vi-query-grid-cell-boolean {
    > div {
        height: @cell-line-height;
    }

    &:not(.unchecked) {
        .selected-icon-checked-color(lighten(@mainColor, 15%));
    }

    &.unchecked {
        #check {
            display: none;
        }
    }
}
