@import (reference) "query-grid.less";

@border-color: #ddd;

vi-query-grid-filters {
    display: block;
    width: @cell-line-height;
    height: @cell-line-height;
    line-height: @cell-line-height;

    > vi-popup-menu {
        button[header] {
            .relative();
            .flex();
            z-index: 1;
            text-align: center;
            line-height: @cell-line-height;
            height: @cell-line-height;
            width: @cell-width;
            padding: 0;

            > vi-icon {
                height: @cell-line-height;
            }
        }
    }
}
