@import "../_vars.scss";

:host {
    display: block;
    line-height: var(--theme-h2);
    overflow: hidden;
    position: relative;

    --vi-query-grid-minimum-column-width: 30px;

    #dataHeaderHost {
        @include noSelection();
        @include relative();
        border-bottom: 1px solid var(--theme-light-border);
        white-space: nowrap;
        z-index: 1;
        height: calc(var(--theme-h2) * 2);

        > header {
            @include relative();
            z-index: 1;
            background-color: white;
            flex-shrink: 0; // Note: Needed for Safari
        }
    }

    #dataHeaderHost, #dataFooterHost {
        table {
            display: inline-table;
            border-spacing: 0 !important;
            vertical-align: top;
            background-color: white;

            tr {
                padding: 0 !important;

                td {
                    padding: 0 !important;

                    &.pinned {
                        background-color: white;
                        position: relative;
                        z-index: 1;
                    }

                    &[is="vi-query-grid-table-header-column"] {
                        &[name=""], &:not([name]) {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    #dataFooterHost, #dataHost {
        table {
            td[numeric] {
                text-align: right;
            }
        }
    }

    vi-scroller {
        z-index: 0;
    }

    footer#dataFooterHost {
        border-top: 1px solid var(--theme-light-border);

        table {
            td[is="vi-query-grid-table-footer-column"].pinned.last-pinned {
                > * {
                    border-right: 1px solid var(--theme-light-border);
                }
            }
        }
    }

    &:not([has-total-item]) {
        footer#dataFooterHost {
            display: none;
        }
    }

    #dataHost {
        @include noSelection();
        @include relative();
        white-space: nowrap;
        will-change: transform;

        table {
            display: inline-table;
            border-spacing: 0 !important;
            vertical-align: top;
            background-color: white;

            tr[is="vi-query-grid-table-data-row"] {
                padding: 0 !important;
                line-height: var(--theme-h2);
                height: var(--theme-h2);

                &.sortable-chosen.sortable-ghost {
                    opacity: 0;
                }

                td {
                    padding: 0;
                    cursor: pointer;

                    > * {
                        padding: 0 var(--vi-query-grid-cell-padding, --theme-h5);
                        min-height: var(--theme-h2);
                        height: var(--theme-h2);
                        line-height: var(--theme-h2);
                        box-sizing: border-box;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;

                        vi-icon {
                            height: var(--theme-h2);
                        }
                    }

                    &.resizing {
                        position: relative;

                        &::after {
                            content: " ";
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            background-color: var(--theme-dark-border);
                            width: 1px;
                            -webkit-transform: translateX(1px);
                            transform: translateX(1px);
                            z-index: 10;
                        }
                    }

                    > vi-icon {
                        @include layout-horizontal();
                        @include layout-center-center();
                        height: var(--theme-h2);
                        width: var(--theme-h2);
                        padding: 0;

                        > svg {
                            width: 16px;
                            height: 16px;
                        }
                    }

                    &[is="vi-query-grid-table-data-column-selector"] {
                        > paper-ripple {
                            pointer-events: none;
                            color: var(--theme-color);
                        }

                        &:hover {
                            > vi-icon {
                                background-color: fade-out(black, 0.95) !important;
                            }
                        }
                    }

                    &[is="vi-query-grid-table-data-column-actions"] {
                        > vi-icon {
                            fill: #5a5a5a;
                            opacity: 1;
                            transition: opacity 0.1s;
                            will-change: opacity;
                        }

                        > paper-ripple {
                            pointer-events: none;
                            color: var(--theme-color);
                        }

                        &:hover, &[hover] {
                            > vi-icon {
                                background-color: fade-out(black, 0.95) !important;
                            }
                        }
                    }

                    &[is="vi-query-grid-table-data-column"] {
                        min-width: var(--vi-query-grid-minimum-column-width);

                        > div {
                            min-width: var(--vi-query-grid-minimum-column-width);
                        }

                        &[name=""], &:not([name]) {
                            display: none;
                        }

                        &.pinned.last-pinned {
                            > * {
                                border-right: 1px solid var(--theme-light-border);
                            }
                        }
                    }

                    &[is="vi-query-grid-table-column-remainder"] {
                        > div {
                            padding: 0;
                            width: var(--theme-h4);
                        }
                    }

                    &.pinned {
                        position: relative;
                        z-index: 1;
                    }
                }

                &[is-selected] {
                    background-color: var(--theme-color-semi-faint);

                    td.pinned {
                        background-color: var(--theme-color-semi-faint);
                    }
                }

                &:not(:hover):not([hover]):not([is-selected]) {
                    &:nth-child(odd) {
                        background-color: var(--vi-query-grid-row-odd-color, #FAFAFA);

                        td.pinned {
                            background-color: var(--vi-query-grid-row-odd-color, #FAFAFA);
                        }
                    }

                    &:nth-child(even) {
                        background-color: var(--vi-query-grid-row-even-color, white);

                        td.pinned {
                            background-color: var(--vi-query-grid-row-even-color, white);
                        }
                    }
                }

                &[no-data]:not(:first-of-type) {
                    display: none;
                }

                &[no-data]:first-of-type {
                    visibility: hidden;
                }

                &:not([is-selected]) {
                    &:hover, &[hover], &:hover td.pinned, &[hover] td.pinned {
                        background-color: var(--theme-color-faint);
                    }
                }

                &.disabled {
                    color: $grey;

                    td {
                        cursor: default;
                    }

                    &:hover, &[hover], &:hover td.pinned, &[hover] td.pinned {
                        background-color: $grey-100 !important;
                    }
                }

                &.disabled, &.readonly {
                    td[is="vi-query-grid-table-data-column-actions"], td[is="vi-query-grid-table-data-column-selector"] {
                        > * {
                            visibility: hidden;
                        }
                    }
                }
            }

            &.pinned {
                tr:not(.no-data) > td:last-of-type > div {
                    border-right: 1px solid var(--theme-light-border);
                }
            }

            @for $c from 1 through length($list-colors) {
                $color: nth($list-colors, $c);

                tr[is="vi-query-grid-table-data-row"]#{"."+$color} {
                    &:hover {
                        background-color: map-get($colors, #{$color+"-50"}) !important;

                        td[is^="vi-query-grid-table-data-column"].pinned {
                            background-color: map-get($colors, #{$color+"-50"}) !important;
                        }
                    }
                }

                @for $t from 1 through length($list-color-tints) {
                    $colorTint: #{$color+nth($list-color-tints, $t)};

                    tr[is="vi-query-grid-table-data-row"]#{"."+$colorTint} > td[is="vi-query-grid-table-data-column"] > * {
                        color: map-get($colors, $colorTint);
                        fill: map-get($colors, $colorTint);
                    }

                    tr[is="vi-query-grid-table-data-row"] > td[is="vi-query-grid-table-data-column"] > #{"*."+$colorTint} {
                        color: map-get($colors, $colorTint);
                        fill: map-get($colors, $colorTint);
                    }
                }
            }
        }
    }

    vi-icon > svg {
        width: calc(var(--theme-h2) / 2);
        height: calc(var(--theme-h2) / 2);
    }

    > vi-popup-core#actions {
        vi-action-button {
            button[is="vi-button"] {
                height: var(--theme-h2);
            }

            & > vi-popup-menu {
                button[is="vi-button"] > vi-icon[source="Down"] {
                    transform: rotate(-90deg);
                }
            }
        }
    }

    &[has-selected-items] {
        td[is="vi-query-grid-table-data-column-actions"] {
            cursor: default !important;

            > vi-icon {
                opacity: 0.2 !important;
            }

            > paper-ripple {
                display: none;
            }

            &:hover, &[hover] {
                > vi-icon {
                    background-color: transparent !important;
                }
            }
        }
    }

    // // FLAG COMBINATIONS //////////////////////////////////////////////////////////

    &:not([inline-actions]) {
        td[is="vi-query-grid-table-data-column-actions"] {
            display: none;
        }
    }

    &:not([can-select]) {
        td[is="vi-query-grid-table-data-column-selector"] {
            display: none;
        }
    }

    &:not([can-filter]) {
        vi-query-grid-column-filter-proxy, vi-query-grid-column-filter {
            display: none;
        }

        #dataHeaderHost {
            height: var(--theme-h2);
        }
    }

    &[can-select]:not([inline-actions]):not([can-filter]),
    &[inline-actions]:not([can-select]):not([can-filter]),
    &[can-select][inline-actions]:not([can-filter]) {
        table[is="vi-query-grid-table-header"] {
            padding-left: var(--theme-h2);
        }
    }

    &:not([can-select]):not([inline-actions])[can-filter], &:not([inline-actions])[can-filter] {
        td[is="vi-query-grid-table-data-column-actions"] + td[is="vi-query-grid-table-data-column"] {
            padding-left: var(--theme-h2) !important;
        }

        #dataFooterHost {
            padding-left: var(--theme-h2);
            overflow: hidden;

            &:after {
                width: var(--theme-h2);
            }
        }
    }

    &:not([can-filter]) {
        vi-query-grid-select-all {
            border-top: none;
        }
    }

    &[can-select][inline-actions] {
        #dataFooterHost {
            padding-left:calc(var(--theme-h2) * 2);

            &:after {
                width: calc(var(--theme-h2) * 2);
            }
        }
    }

    &[can-select]:not([inline-actions]), &:not([can-select])[inline-actions] {
        #dataFooterHost {
            padding-left:var(--theme-h2);

            &:after {
                width: var(--theme-h2);
            }
        }
    }

    ///////////////////////////////////////////////////////////////////////////////
    #initializingOverlay {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: white;
        z-index: 2;
    }

    vi-spinner {
        z-index: 3;
    }

    &:not(.initializing) {
        #initializingOverlay {
            display: none;
        }
    }

    &:not([is-busy]):not(.initializing) {
        > vi-spinner {
            display: none;
        }
    }

    &[is-busy] {
        header, footer, #verticalSpacer {
            pointer-events: none;
        }

        #dataHost {
            opacity: 0.5;
        }
    }

    #verticalSpacer {
    }

    > vi-size-tracker {
        pointer-events: none;
    }
}