@import (reference) "query-grid.less";

@border-color: #ddd;

vi-query-grid-filters {
    > vi-popup-menu {
        button[header] {
            .relative();
            .flex();
            z-index: 1;
            text-align: center;
            line-height: @cell-line-height;
            height: @cell-line-height;
            min-width: @cell-width;
        }

        vi-popup-menu-item {
            line-height: @h2;
            height: @h2;
        }
    }

    &[filtering] {
        > vi-popup-menu {
            button[header] {
                background-color: red;
            }
        }
    }
}
