vi-query-grid-column-header {
  position: relative;
  display: block;
  box-sizing: border-box;
  min-width: 30px;
  border-right: 1px solid #eaeaea;
}
vi-query-grid-column-header > div:first-child {
  height: 30px;
  padding: 0 9px;
  cursor: pointer;
  position: relative;
  color: #808080;
}
[theme-color-1] vi-query-grid-column-header > div:first-child {
  background-color: transparent;
  color: #2a4e6c;
  fill: #595959;
  -moz-transition-property: fill, color, background-color;
  -o-transition-property: fill, color, background-color;
  -webkit-transition-property: fill, color, background-color;
  transition-property: fill, color, background-color;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
[theme-color-1] vi-query-grid-column-header > div:first-child:hover {
  background-color: #ecf2f7;
}
[theme-color-1] vi-query-grid-column-header > div:first-child:active {
  background-color: #386890;
  fill: white !important;
  color: white !important;
}
[theme-color-1] vi-query-grid-column-header > div:first-child[disabled] {
  fill: #ecf2f7;
  color: rgba(0, 0, 0, 0.5);
}
[theme-color-2] vi-query-grid-column-header > div:first-child {
  background-color: transparent;
  color: #004d40;
  fill: #595959;
  -moz-transition-property: fill, color, background-color;
  -o-transition-property: fill, color, background-color;
  -webkit-transition-property: fill, color, background-color;
  transition-property: fill, color, background-color;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
[theme-color-2] vi-query-grid-column-header > div:first-child:hover {
  background-color: #e0f2f1;
}
[theme-color-2] vi-query-grid-column-header > div:first-child:active {
  background-color: #00796b;
  fill: white !important;
  color: white !important;
}
[theme-color-2] vi-query-grid-column-header > div:first-child[disabled] {
  fill: #e0f2f1;
  color: rgba(0, 0, 0, 0.5);
}
vi-query-grid-column-header > div:first-child > label {
  display: block;
  line-height: 30px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
vi-query-grid-column-header > div:first-child > vi-icon {
  float: right;
  fill: #555;
  line-height: 30px;
  height: 30px;
}
vi-query-grid-column-header .resizer {
  width: 0.5em;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 2;
  cursor: ew-resize;
  -webkit-transform: translate3d(0.25em, 0, 0);
  transform: translate3d(0.25em, 0, 0);
}
vi-query-grid-column-header.resizing .resizer::after,
vi-query-grid-column-header .resizer:hover::after {
  position: absolute;
  left: 3px;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #888;
  content: " ";
}
