@import "../_vars.scss";

:host {
    display: block;
    padding: 0 1px;
    overflow: hidden;

    ::content .image {
        height: var(--vi-query-grid-cell-image--height, calc(var(--vi-new-query-grid--row-height) - 2px));
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}