@import (reference) "../vidyano.less";

@separatorColor: #EAEAEA;
@oddRowColor: #FAFAFA;
@evenRowColor: white;
@cell-padding: @h5 * 1.5;
@cell-line-height: @h2;
@cell-width: @h2;
@header-height: @h2;

vi-query-grid {
    font-size: 13px;
    line-height: @h2;
    overflow: hidden;

    header {
        .noSelection();
        border-bottom: 1px solid @separatorColor;

        #dataHeaderHost {
            position: relative;
            white-space: nowrap;
            z-index: 1;

            table {
                display: inline-table;
                border-spacing: 0 !important;
                vertical-align: top;
                background-color: white;

                tr {
                    padding: 0 !important;

                    td {
                        padding: 0 !important;

                        &.pinned {
                            background-color: white;
                            position: relative;
                            z-index: 1;
                        }

                        &[is="vi-query-grid-table-header-column"] {
                            &[name=""], &:not([name]) {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    #dataHost {
        .noSelection();
        .relative();
        white-space: nowrap;

        table {
            display: inline-table;
            border-spacing: 0 !important;
            vertical-align: top;
            background-color: white;

            tr[is="vi-query-grid-table-data-row"] {
                padding: 0 !important;
                line-height: @cell-line-height;
                height: @cell-line-height;

                td {
                    padding: 0;
                    cursor: pointer;

                    > * {
                        padding: 0 @cell-padding;
                        min-height: @h2;
                        height: @h2;
                        line-height: @h2;
                        box-sizing: border-box;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;

                        vi-icon {
                            height: @cell-line-height;
                        }

                        vi-template-presenter {
                            height: @cell-line-height;
                        }
                    }

                    &.resizing {
                        position: relative;

                        &::after {
                            content: " ";
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            background-color: darken(@separatorColor, 10%);
                            width: 1px;
                            -webkit-transform: translateX(1px);
                            transform: translateX(1px);
                            z-index: 10;
                        }
                    }

                    > vi-icon {
                        .layout-horizontal();
                        .layout-center-center();
                        height: @cell-line-height;
                        width: @h2;
                        padding: 0;

                        > svg {
                            width: 16px;
                            height: 16px;
                        }
                    }

                    &[is="vi-query-grid-table-data-column-selector"] {
                        > vi-icon {
                            fill: #bbb;

                            #check {
                                display: none;
                            }
                        }

                        > paper-ripple {
                            pointer-events: none;

                            .colorize( {
                                color: @@color;
                            }

                            );
                        }

                        &:hover {
                            .colorize( {
                                > vi-icon {
                                    background-color: fadeout(black, 95%) !important;
                                }
                            }

                            );
                        }
                    }

                    &[is="vi-query-grid-table-data-column-actions"] {
                        > vi-icon {
                            fill: #333;
                        }

                        > paper-ripple {
                            pointer-events: none;

                            .colorize( {
                                color: @@color;
                            });
                        }

                        &:hover, &[hover] {
                            .colorize( {
                                > vi-icon {
                                    background-color: fadeout(black, 95%) !important;
                                }
                            });
                        }
                    }

                    &[is="vi-query-grid-table-data-column"] {
                        min-width: @cell-width;

                        &[name=""], &:not([name]) {
                            display: none;
                        }

                        &.pinned.last-pinned {
                            > * {
                                border-right: 1px solid @separatorColor;
                            }
                        }
                    }

                    &[is="vi-query-grid-table-column-remainder"] {
                        > div {
                            padding: 0;
                            width: @h4;
                        }
                    }

                    &.pinned {
                        position: relative;
                        z-index: 1;
                    }
                }

                &[is-selected] {
                    td[is="vi-query-grid-table-data-column-selector"] {
                        .colorize( {
                            fill: #888;

                            #check {
                                fill: @@color;
                            }
                        }

                        );

                        #check {
                            display: block;
                        }
                    }

                    .colorize( {
                        background-color: @@color-semi-faint;

                        td.pinned {
                            background-color: @@color-semi-faint;
                        }
                    }

                    );
                }

                &:not(:hover):not([hover]):not([is-selected]) {
                    &:nth-child(odd) {
                        background-color: @oddRowColor;

                        td.pinned {
                            background-color: @oddRowColor;
                        }
                    }

                    &:nth-child(even) {
                        background-color: @evenRowColor;

                        td.pinned {
                            background-color: @evenRowColor;
                        }
                    }
                }

                &[no-data]:not(:first-of-type) {
                    display: none;
                }

                &[no-data]:first-of-type {
                    visibility: hidden;
                }

                &:hover, &[hover], &:hover td.pinned, &[hover] td.pinned {
                    .colorize( {
                        background-color: @@color-faint;
                    }

                    );
                }
            }

            &.pinned {
                tr:not(.no-data) > td:last-of-type > div {
                    border-right: 1px solid @separatorColor;
                }
            }
        }
    }

    vi-icon > svg {
        width: @cell-line-height / 2;
        height: @cell-line-height / 2;
    }

    > vi-popup-core#actions {
        vi-action-button > vi-popup-menu {
            button[is="vi-button"] > vi-icon[source="Down"] {
                transform: rotate(-90deg);
            }
        }
    }

    // FLAG COMBINATIONS //////////////////////////////////////////////////////////
    &:not([can-select]):not([inline-actions]):not([can-filter]) {
        td[is="vi-query-grid-table-data-column-selector"] {
            display: none;
        }

        td[is="vi-query-grid-table-data-column-actions"] {
            display: none;
        }

        vi-query-grid-header, vi-query-grid-column-filter-proxy, vi-query-grid-column-filter {
            display: none;
        }
    }

    &[can-select]:not([inline-actions]):not([can-filter]) {
        td[is="vi-query-grid-table-data-column-actions"] {
            display: none;
        }

        vi-query-grid-filters, vi-query-grid-column-filter-proxy, vi-query-grid-column-filter {
            display: none;
        }
    }

    &[can-select][inline-actions]:not([can-filter]) {
        vi-query-grid-filters, vi-query-grid-column-filter-proxy, vi-query-grid-column-filter {
            display: none;
        }
    }

    &[can-filter]:not([can-select]):not([inline-actions]) {
        td[is="vi-query-grid-table-data-column-selector"] {
            vi-icon {
                visibility: hidden;
            }
        }

        td[is="vi-query-grid-table-data-column-actions"] {
            display: none;
        }

        vi-query-grid-header {
            .selectAll {
                display: none;
            }
        }
    }

    &[can-filter][can-select]:not([inline-actions]) {
        td[is="vi-query-grid-table-data-column-actions"] {
            vi-icon {
                visibility: hidden;
            }
        }
    }
    ///////////////////////////////////////////////////////////////////////////////
    #initializingOverlay {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: white;
        z-index: 2;
    }

    &:not([initializing]) {
        #initializingOverlay {
            display: none;
        }
    }

    &:not([is-busy]):not([initializing]) {
        > vi-spinner {
            display: none;
        }
    }

    #verticalSpacer {
    }

    > vi-size-tracker {
        pointer-events: none;
    }
}
