@import "../_vars.scss";

:host {
    display: block;
    width: var(--theme-h2);
    height: var(--theme-h2);
    line-height: var(--theme-h2);
    border-top: 1px solid var(--theme-light-border);
    box-sizing: border-box;
    align-self: flex-end;

    > vi-popup-menu {
        button[slot="header"] {
            @include relative();
            @include flex();
            z-index: 1;
            text-align: center;
            line-height: var(--theme-h2);
            height: calc(var(--theme-h2) - 1px);
            width: var(--theme-h2);
            padding: 0;
            margin-bottom: 1px;
        }
    }

    &[hidden] {
        display: block !important;

        > vi-popup-menu {
            visibility: hidden;
        }
    }
}