@import "../_vars.scss";

:host {
    display: block;
    box-sizing: border-box;
    min-width: var(--theme-h2);
    @include relative();

    label {
        display: block;
        line-height: var(--vi-query-grid-header-height, var(--theme-h2));
        height: var(--vi-query-grid-header-height, var(--theme-h2));
        padding: 0 var(--theme-h5);
        white-space: nowrap;
        cursor: default;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: bold;
    }
}