@import "../_vars.scss";

:host {
    --vi-icon-selected-checked-color: var(--vi-query-grid-cell-boolean-checked-color, #555);

    display: block;

    > * {
        height: var(--theme-h2);
        line-height: var(--theme-h2);
    }
}