@import "_query-grid-vars.scss";

:host {
    display: block;
    width: $h2;
    height: $h2;
    line-height: $h2;
    border-top: 1px solid var(--vi-query-grid-separator-color, $separatorColor);
    box-sizing: border-box;
    align-self: flex-end;

    > vi-popup-menu {
        button[header] {
            @include relative();
            @include flex();
            z-index: 1;
            text-align: center;
            line-height: $h2;
            height: $h2;
            width: $h2;
            padding: 0;

            > vi-icon {
                height: $h2;
            }
        }
    }
}