.cell[data-vi-column-type='Boolean'] vi-resource.unchecked #check,
.cell[data-vi-column-type='NullableBoolean'] vi-resource.unchecked #check,
.cell[data-vi-column-type='YesNo'] vi-resource.unchecked #check {
  display: none;
}
.cell[data-vi-column-type='Image'] {
  padding: 1px;
  overflow: hidden;
}
.cell[data-vi-column-type='Image'] .image {
  height: 30px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
