@import "_query-grid-vars.scss";

:host {
    position: relative;
    height: $h2;
    width: $h2;
    border-top: 1px solid var(--vi-query-grid-separator-color, $separatorColor);
    box-sizing: border-box;
    align-self: flex-end;
    cursor: pointer;

    &[disabled] {
        cursor: default;

        > vi-icon, > paper-ripple {
            visibility: hidden;
        }
    }

    > vi-icon {
        height: $h2;
        width: $h2;
        line-height: $h2;
    }
}