@import "../_vars.scss";

:host {
    display: block;
    box-sizing: border-box;
    min-width: var(--vi-query-grid--minimum-column-width);
    border-right: 1px solid var(--theme-light-border);
    @include relative();

    &[disable-sort] .label {
        cursor: default;

        & > label {
            cursor: default;
        }
    }

    &:not([sorting]) .label {
        padding: 0 var(--vi-query-grid-cell-padding, var(--theme-h5));
    }

    .label {
        @include layout-horizontal();
        @include relative();
        height: var(--vi-query-grid-header-height, var(--theme-h2));
        padding: 0 var(--vi-query-grid-cell-padding, var(--theme-h5));
        cursor: pointer;
        position: relative;
        color: #808080;
        white-space: nowrap;
        overflow: hidden;

        > label {
            display: block;
            line-height: var(--theme-h2);
            white-space: nowrap;
            cursor: pointer;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding-right: var(--theme-h5);
            color: var(--theme-color);
        }

        > vi-icon {
            fill: var(--theme-color);
            line-height: var(--theme-h2);
            height: var(--theme-h2);
            --vi-icon-height: 12px;
        }
    }

    vi-popup-menu {
        --vi-popup-menu-item-height: var(--theme-h2);
        --vi-popup-menu-item-icon-width: var(--theme-h2);
        --vi-icon-height: 14px;
    }

    button[icon="CaretDown"] {
        position: relative;
        width: var(--theme-h3);
        height: var(--theme-h2);
        line-height: var(--theme-h2);
        padding: 0;
        fill: var(--theme-color-light) !important;
        --vi-icon-width: 14px;
        --vi-icon-height: 14px;

        &:after {
            position: absolute;
            left: 0;
            top: 2px;
            bottom: 2px;
            width: 1px;
            content: " ";
            background-color: #f0f0f0;
        }
    }

    &:not([disable-sort]) .label {
        @include theme-color-button-inverse();

        &:active {
            > label {
                color: white !important;
            }

            > vi-icon {
                fill: white !important;
            }
        }
    }

    .resizer {
        width: 0.5em;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: transparent;
        z-index: 2;
        cursor: ew-resize;
        -webkit-transform: translate3d(0.25em, 0, 0);
        transform: translate3d(0.25em, 0, 0);
    }

    &.resizing .resizer, .resizer:hover {
        &::after {
            position: absolute;
            left: calc(var(--theme-h5) / 2);
            top: 0;
            bottom: 0;
            width: 2px;
            background-color: #888;
            content: " ";
        }
    }
}
