@import "_vars.scss";

:host {
    position: relative;
    height: $cell-line-height;
    width: $cell-line-height;
    border-top: 1px solid $separatorColor;
    box-sizing: border-box;
    align-self: flex-end;
    cursor: pointer;

    &[disabled] {
        cursor: default;

        > vi-icon, > paper-ripple {
            visibility: hidden;
        }
    }

    > vi-icon {
        height: $cell-line-height;
        width: $cell-line-height;
        line-height: $cell-line-height;
    }
}