vi-query-grid-column-header {
  padding: 0;
  position: relative;
  display: block;
}
vi-query-grid-column-header button {
  width: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  text-align: left;
  background-color: transparent;
  color: #333333;
  border-right: 1px solid #eaeaea !important;
  padding: 0 9px;
  position: relative;
  min-width: 30px;
}
vi-query-grid-column-header button span {
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  color: #808080;
  display: block;
  line-height: 30px;
  white-space: nowrap;
  padding-right: 16px;
}
vi-query-grid-column-header button vi-resource {
  fill: #555;
  position: absolute;
  right: 9px;
  top: 0;
  bottom: 0;
  margin-left: 18px;
}
vi-query-grid-column-header .resizer {
  position: absolute;
  right: -9px;
  height: 30px;
  top: 0;
  bottom: 0;
  width: 18px;
  cursor: col-resize;
  z-index: 1;
}
vi-sortable[isGroupDragging] vi-query-grid-column:not([dragging="true"]) button {
  background-color: transparent !important;
}
