@import "_vars.scss";

:host {
    display: block;
    width: $cell-line-height;
    height: $cell-line-height;
    line-height: $cell-line-height;
    border-top: 1px solid $separatorColor;
    box-sizing: border-box;
    align-self: flex-end;

    > vi-popup-menu {
        button[header] {
            @include relative();
            @include flex();
            z-index: 1;
            text-align: center;
            line-height: $cell-line-height;
            height: $cell-line-height;
            width: $cell-width;
            padding: 0;

            > vi-icon {
                height: $cell-line-height;
            }
        }
    }
}