@import (reference) "query-grid.less";

vi-query-grid-header {
    float: left;
    background-color: white;
    position: relative;
    z-index: 1;

    .spacer {
        height: @cell-line-height;
        line-height: @cell-line-height;
    }

    &:not([can-filter]) {
        .spacer {
            display: none;
        }

        .bottom {
            border-top: none;
        }
    }

    &:not([can-select-all]) {
        .bottom {
            .selectAll {
                visibility: hidden;
            }
        }
    }

    .bottom {
        .layout-horizontal();
        border-top: 1px solid @separatorColor;

        .selectAll {
            position: relative;
            cursor: pointer;
            width: @cell-line-height;
            height: @cell-line-height;
            line-height: @cell-line-height;

            > vi-icon {
                fill: #bbb;
                height: @cell-line-height;
            }
        }
    }

    &:not([select-all-selected]) {
        .selectAll > vi-icon {
            #check {
                display: none;
            }
        }
    }

    &[select-all-selected] {
        .selectAll {
            > vi-icon {
                fill: #888;

                .colorize( {
                    #check {
                        fill: @@color;
                    }
                });
            }
        }

        &[select-all-inversed] {
            .selectAll {
                > vi-icon #check {
                    opacity: 0.5;
                }
            }
        }
    }
}
