@import"../_vars.scss";

:host {
    @include layout-vertical();
    position: relative;
    color: var(--theme-foreground);
    overflow: hidden;
    --vi-query-grid--row-height: var(--theme-h2);
    --vi-query-grid--header-height: var(--theme-h2);
    border: var(--vi-query-grid--border, none);
    @include noSelection();

    #headerHost {
        height: var(--vi-query-grid--header-height);
        overflow-x: auto;
        overflow-y: hidden;
        border-bottom: 1px solid var(--vi-app--border-color);

        header {
            position: relative;
            background: var(--vi-query-grid--header-background, white);
            color: var(--vi-query-grid--header-color, var(--theme-foreground));
            border-radius: 4px 4px 0 0;
            min-width: 100%;
        }
    }

    #headerHost {
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &[loading] {
        #headerHost, #dataHost {
            visibility: hidden;
        }
    }

    #dataList {
        --iron-list-items-container: {
            width: var(--vi-query-grid--row-container-width, auto);
            min-width: var(--vi-query-grid--row-width, auto);
        };
    }
}