@import "_vars.scss";

:host {
    --vi-icon-selected-checked-color: lighten($mainColor, 15%);

    display: block;

    > * {
        height: $cell-line-height;
        line-height: $cell-line-height;
    }
}