@import "../libs/layout/_layout.scss";
@import "colors.scss";

$notification-error: #a80511;
$notification-warning: #e5a300;
$notification-notice: #48545e;
$notification-ok: #339f7b;

@mixin default-variables() {
    --theme-color: #4682B4;
    --theme-color-light: #6a9bc3;
    --theme-color-lighter: #90b4d2;
    --theme-color-dark: #386890;
    --theme-color-darker: #2a4e6c;
    --theme-color-faint: #ecf2f7;
    --theme-color-semi-faint: darken(#ecf2f7, 2%);

    --theme-accent-color: #009688;
    --theme-accent-color-light: #4db6ac;
    --theme-accent-color-lighter: #b2dfdb;
    --theme-accent-color-dark: #00796b;
    --theme-accent-color-darker: #004d40;
    --theme-accent-color-faint: #e0f2f1;
    --theme-accent-color-semi-faint: darken(#e0f2f1, 2%);

    --theme-color-error: $notification-error;
    --theme-color-warning: $notification-warning;
    --theme-color-notice: $notification-notice;
    --theme-color-ok: $notification-ok;

    --theme-h1: 40px;
    --theme-h2: 32px;
    --theme-h3: 22px;
    --theme-h4: 12px;
    --theme-h5: 6px;

    --theme-foreground: #333;
    --theme-light-border: #ddd;
    --theme-dark-border: darken(#EAEAEA, 15%);

    --theme-shadow: #{'{
        -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
        -moz-box-shadow:    0 0 4px 0 rgba(0, 0, 0, 0.5);
        box-shadow:         0 0 4px 0 rgba(0, 0, 0, 0.5);
    }'};
}

@mixin theme-color-button() {
    color: white;
    background-color: var(--theme-color);

    &:hover {
        background-color: var(--theme-color);
    }

    &:active {
        background-color: var(--theme-color-dark);
    }

    &[disabled] {
        fill: fadeout(white, 50%);
        color: fadeout(white, 50%);
    }

    @include color-button-animations();
}

@mixin theme-color-button-inverse() {
    background-color: transparent;
    color: var(--theme-color);
    fill: #595959;

    &:hover {
        background-color: var(--theme-color-faint);
    }

    &:active {
        background-color: var(--theme-color-dark);
        fill: white !important;
        color: white !important;
    }

    &[disabled] {
        fill: var(--theme-color-faint);
        color: fadeout(black, 50%);
    }

    @include color-button-animations();
}

@mixin color-button($color) {
    background-color: $color;
    color: white;

    &:hover {
        background-color: $color;
    }

    &:active {
        background-color: darken($color, 10%);
    }

    &[disabled] {
        fill: fadeout(white, 50%);
        color: fadeout(white, 50%);
    }

    @include color-button-animations();
}

@mixin color-button-animations() {
    -moz-transition-property: fill, color, background-color;
    -o-transition-property: fill, color, background-color;
    -webkit-transition-property: fill, color, background-color;
    transition-property: fill, color, background-color;
    -moz-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

@mixin noSelection($important: false) {
    @if $important {
        -webkit-touch-callout: none !important;
        -webkit-user-select: none !important;
        -moz-user-select: none !important;
        -ms-user-select: none !important;
        user-select: none !important;
    }
    @else {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

@mixin hideScrollbars() {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;

    &::-webkit-scrollbar {
        width: 0 !important;
        height: 0 !important;
    }
}

@mixin z-index1() {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

@mixin page-title() {
    background-color: var(--theme-color);
    color: white;
    line-height: var(--theme-h1);
    height: var(--theme-h1);
    font-size: calc(var(--theme-h5) + var(--theme-h4));
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    padding: 0 var(--theme-h4);
    z-index: 2;
}
