@import (reference) "../vidyano.less";

vi-chart-selector {
    .layout-horizontal();
    border-left: 1px solid #EAEAEA;
    margin-left: @h5;
    padding-left: @h5;

    > button, button[header] {
        height: @h1;
    }
}