@import "../vars.scss";

$color: #FAFAFA;
$backgroundColor: $blue-grey-900;

:host {
    @include relative();
    box-sizing: border-box;
	display: block;
	line-height: var(--vi-app-menu--line-height, var(--theme-h2));
    color: var(--vi-app-menu--color);
    fill: var(--vi-app-menu--color);
    cursor: pointer;

    span.match {
        color: #FFDD00;
        font-weight: bold;
    }

    > .title {
        @include layout-horizontal();
        @include relative();
        padding-right: var(--theme-h5);
        text-decoration: none;
        color: var(--vi-app-menu--color);
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        outline: none;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }

        > vi-icon {
            height: var(--theme-h2);
            width: var(--theme-h3);
            --vi-icon-width: 1em;
            --vi-icon-height: 1em;
            margin-left: calc(var(--theme-h3) * var(--vi-app-menu-item--indent-level, 0));
            fill: var(--vi-app-menu--color);
    		-moz-transition: transform 0.2s ease;
    		-o-transition: transform 0.2s ease;
    		-webkit-transition: transform 0.2s ease;
    		transition: transform 0.2s ease;
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);

            &:not([has-resource]) {
                display: none;

                & + span {
                    margin-left: calc(var(--theme-h3) + var(--theme-h3) * var(--vi-app-menu-item--indent-level, 0));
                }
            }
        }
	}

    &[expand], &[filtering] {
        > .title {
            > vi-icon[source="ProgramUnitGroup"] {
                -moz-transform: rotate(90deg);
    			-ms-transform: rotate(90deg);
    			-o-transform: rotate(90deg);
    			-webkit-transform: rotate(90deg);
    			transform: rotate(90deg);
            }
        }
    }

    &.program-unit {
        border-bottom: 1px solid var(--vi-app--border-color);

        > .title {
            font-size: 14px;
            line-height: var(--vi-app-menu--program-unit-line-height, 50px);
            color: var(--vi-app-menu--color);
            font-weight: 600;
            border-left: 3px solid transparent;

            > vi-icon {
                display: none;

                + span {
                    margin-left: var(--theme-h4);
                }
            }
        }

        &[expand] {
            > .title {
                color: var(--vi-app-menu--color--active, var(--theme-color));
                border-left-color: var(--vi-app-menu--color--active, var(--theme-color));
            }
        }
	}
}