@import "../../vars.scss";

:host {
	@include layout-horizontal();

    pre {
        padding-top: var(--theme-h5);
        line-height: normal !important;
    }

	span, pre, input, textarea {
		color: var(--vi-persistent-object-attribute-foreground, --theme-foreground);
	}

	&[multiline] {
		#multiline {
			overflow: hidden;
			padding: var(--theme-h5) var(--theme-h5) 0 var(--theme-h5);
		}

		button {
			background-color: white;
		}
	}
}