@import (reference) "../vidyano.less";

:host {
    .layout-horizontal();
    .relative();

    &[has-error] {
        .layout-center-center();
        color: @color-error;
        fill: @color-error;

        span {
            display: block;
            text-align: center;
            padding: @h5 @h3;
        }

        svg {
            width: @h1;
            height: @h1;
        }
    }

    .content-wrapper {
        .fit();
    }
}