@import"../_vars.scss";

:host {
    @include relative();
    @include layout-horizontal();
    @include layout-justified();
    height: var(--vi-app--header-height);
    line-height: calc(var(--vi-app--header-height));
    background-color: var(--vi-app--header-background, var(--theme-foreground));
    box-sizing: content-box;
    padding: 0 var(--theme-h3);
    @apply(--vi-app-header);

    .search {
        vi-input-search {
            transition: opacity 0.2s ease;
            border-radius: var(--theme-h5);
            height: var(--vi-app-header--search-height, var(--theme-h1));
            line-height: var(--vi-app-header--search-height, var(--theme-h1));

            &[focused] {
                background-color: rgba(255, 255, 255, 0.15);
            }
        }
    }

    .actions {
        vi-overflow {
            height: var(--vi-app--header-height);
            line-height: calc(var(--vi-app--header-height));
        }

        button {
            width: var(--theme-h1);
            --vi-button--color: var(--vi-app--button-color, white);
        }

        .username {
            color: var(--vi-app--button-color, white);
        }
    }
}